$default-font-family:
  Inter,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Helvetica Neue',
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol',
  'Meiryo UI',
  Arial,
  sans-serif;

$typography: (
  'h1': (
    font-family: $default-font-family,
    font-size: 22,
    font-weight: 400,
    letter-spacing: 0,
    line-height: 32,
  ),
  's1': (
    font-family: $default-font-family,
    font-size: 16,
    font-weight: 400,
    letter-spacing: 0,
    line-height: 22,
  ),
  's2': (
    font-family: $default-font-family,
    font-size: 16,
    font-weight: 500,
    letter-spacing: 0,
    line-height: 22,
  ),
  'p1': (
    font-family: $default-font-family,
    font-size: 14,
    font-weight: 400,
    letter-spacing: 0,
    line-height: 20,
  ),
  'p2': (
    font-family: $default-font-family,
    font-size: 14,
    font-weight: 500,
    letter-spacing: 0,
    line-height: 20,
  ),
  'c1': (
    font-family: $default-font-family,
    font-size: 12,
    font-weight: 400,
    letter-spacing: 0,
    line-height: 16,
  ),
  'c2': (
    font-family: $default-font-family,
    font-size: 12,
    font-weight: 600,
    letter-spacing: 0,
    line-height: 16,
  ),
  'micro': (
    font-family: $default-font-family,
    font-size: 10,
    font-weight: 600,
    letter-spacing: 0.2,
    line-height: 12,
  ),
);
