@use '../../styles/lengths.scss';

// Static display/flex/color/bg moved to CodeSnippet.tsx.

.rcx-code-snippet {
  min-height: lengths.size(60);
  border-radius: theme(
    'code-snippet-border-radius',
    lengths.border-radius(medium)
  );

  &__codebox {
    margin-right: lengths.margin(8);
    white-space: pre-line;
    word-break: break-all;
    font-family: monospace;
  }
}
