@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';
@use '../../styles/typography.scss';

.rcx-code-snippet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  min-height: lengths.size(60);
  padding: lengths.padding(16);

  border-radius: lengths.border-width(2);
  background-color: colors.neutral(300);

  &__codebox {
    white-space: pre-line;
  }
}
