@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';
@use '../../styles/typography.scss';
@import '../../styles/mixins/all.scss';

$sidebar-color-surface-default: theme(
  'sidebar-color-surface-default',
  colors.surface(sidebar)
);
$sidebar-color-surface-hover: theme(
  'sidebar-color-surface-hover',
  colors.surface(hover)
);
$sidebar-color-surface-selected: theme(
  'sidebar-color-surface-selected',
  colors.surface(selected)
);

$sidebar-color-font-default: theme(
  'sidebar-color-font-default',
  colors.font(default)
);

$sidebar-accordion-border-color: theme(
  'sidebar-accordion-border-color',
  colors.stroke(light)
);

$sidebar-link-color: theme('sidebar-link-color', colors.font(titles-labels));

%sidebar-base {
  display: flex;

  align-items: center;

  border-radius: lengths.border-radius(small);
  @include typography.use-font-scale(p2);
}

%highlighted {
  color: $sidebar-item-color-highlighted;

  font-weight: 600;
}

%sidebar-item-base {
  @include clickable;
  @include use-link-colors($color: colors.font(default));

  @include on-hover {
    background-color: $sidebar-color-surface-hover;
  }

  @include on-focus {
    outline-offset: -1px;
    box-shadow: none;
  }
}

.rcx-sidebar-v2 {
  width: lengths.size(276);
  height: lengths.size(full);

  color: $sidebar-color-font-default;
  background-color: $sidebar-color-surface-default;

  &__accordion {
    display: flex;
    flex-flow: column nowrap;
  }

  &__collapse-group,
  &__accordion-item {
    display: flex;
    flex-flow: column nowrap;

    &__bar {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      min-height: lengths.size(24);
      padding: lengths.padding(8) lengths.padding(16);

      text-align: start;

      color: colors.font(default);
      column-gap: lengths.padding(4);

      &[tabindex] {
        @include clickable;

        &.hover,
        &:hover {
          background-color: colors.surface(tint);
        }

        &.focus,
        &:focus {
          border-color: colors.stroke(highlight);
          @include use-focus-shadow(
            $outer-color: colors.stroke(extra-light-highlight)
          );
        }
      }

      &--disabled {
        cursor: not-allowed;

        color: colors.font(disabled);
        background-color: colors.surface(disabled);
      }
    }

    &__title {
      flex: 1 1 lengths.size(none);

      margin: lengths.margin(none);

      white-space: nowrap;

      @include typography.use-text-ellipsis;
      @include typography.use-font-scale(c2);
    }

    &__panel {
      visibility: hidden;
      overflow: hidden;

      height: lengths.size(none);
      padding: lengths.padding(none);

      &--expanded {
        visibility: visible;

        height: auto;
        padding-block-start: lengths.padding(4);
        padding-block-end: lengths.padding(8);
      }
    }
  }

  &__accordion-item {
    border-bottom: lengths.border-width(default) solid
      $sidebar-accordion-border-color;

    &__bar {
      padding: lengths.padding(16);
    }

    &__title {
      @include typography.use-font-scale(h4);
    }
  }

  &-item,
  &-link {
    @extend %sidebar-base;
    @extend %sidebar-item-base;
    @include highlighted;
    @include typography.use-font-scale(p2);
    justify-content: flex-start;

    align-items: center;

    padding: lengths.padding(4) lengths.padding(16);

    text-decoration: none;
    gap: lengths.padding(4);

    &:active,
    &--selected {
      background-color: $sidebar-color-surface-selected;
    }

    &__title {
      flex-grow: 1;
    }

    &__actions {
      margin-inline-start: 12px;
      margin-inline-end: -36px;

      opacity: 0;
    }

    &:hover {
      .rcx-sidebar-v2-item__actions,
      .rcx-sidebar-v2-link__actions {
        margin-inline: 0;

        opacity: 1;
      }
    }
  }

  &-link {
    @include use-link-colors($color: $sidebar-link-color);
  }
}
