@use '../../styles/colors.scss';
@use '../../styles/functions.scss' as *;

$sidebar-color-surface-default: theme(
  'sidebar-color-surface-default',
  colors.surface(sidebar)
);
$sidebar-color-surface-hover: theme(
  'sidebar-color-surface-hover',
  colors.surface(hover)
);
$sidebar-color-surface-selected: theme(
  'sidebar-color-surface-selected',
  colors.surface(selected)
);

$sidebar-color-font-default: theme(
  'sidebar-color-font-default',
  colors.font(default)
);

$sidebar-accordion-border-color: theme(
  'sidebar-accordion-border-color',
  colors.stroke(light)
);

$sidebar-link-color: theme('sidebar-link-color', colors.font(titles-labels));

$sidebar-banner-background-default: theme(
  'sidebar-banner-background-default',
  colors.surface(sidebar)
);
$sidebar-banner-color-default: theme(
  'sidebar-banner-color-default',
  colors.font(titles-labels)
);

$sidebar-banner-background-info: theme(
  'sidebar-banner-background-info',
  colors.status-background(info)
);
$sidebar-banner-color-info: theme(
  'sidebar-banner-background-info',
  colors.status-font(on-info)
);

$sidebar-banner-background-success: theme(
  'sidebar-banner-background-success',
  colors.status-background(success)
);
$sidebar-banner-color-success: theme(
  'sidebar-banner-background-success',
  colors.status-font(on-success)
);

$sidebar-banner-background-warning: theme(
  'sidebar-banner-background-warning',
  colors.status-background(warning)
);
$sidebar-banner-color-warning: theme(
  'sidebar-banner-background-warning',
  colors.status-font(on-warning)
);

$sidebar-banner-background-danger: theme(
  'sidebar-banner-background-danger',
  colors.status-background(danger)
);
$sidebar-banner-color-danger: theme(
  'sidebar-banner-background-danger',
  colors.status-font(on-danger)
);

$sidebar-item-color-highlighted: theme(
  'sidebar-item-color-highlighted',
  colors.font(titles-labels)
);
