@use '../../../styles/lengths.scss';
@use '../../../styles/functions.scss';
@use '../../../styles/colors.scss';
@use '../../../styles/typography.scss';
@use '../../../styles/mixins/templates.scss';
@use '../mixins.scss';

$message-system-background-color-selected: functions.theme(
  'message-system-background-color-selected',
  colors.status-background(success)
);

.rcx-message-system {
  @include typography.use-font-scale(c1);
  @include typography.use-with-truncated-text();
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  margin-inline: lengths.margin(2);

  padding-block: lengths.padding(8);
  padding-inline: lengths.padding(20);

  color: colors.font(default);

  &--selected {
    color: colors.font(pure-black);
    background: $message-system-background-color-selected !important;
  }

  &__container {
    @include typography.use-with-truncated-text();
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    align-self: center;

    width: 100%;
    margin-block: lengths.margin(-4);
  }

  &__body {
    @include typography.use-font-scale(p2);
    @include typography.use-with-truncated-text();
    margin-inline: lengths.margin(2);
  }

  &__name {
    @include typography.use-font-scale(p2b);
    @include typography.use-with-truncated-text();
    flex-shrink: 0;
  }

  &__time {
    @include typography.use-with-truncated-text();
    @include typography.use-font-scale(c1);
    flex-shrink: 0;

    margin-inline: lengths.margin(2);
  }

  &__block {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @include templates.focus-state;
}
