.rcx-box--scrollable {
  @include scrollable;

  position: relative;

  overflow: auto !important;

  &-horizontal {
    overflow: hidden !important;
    overflow-x: auto !important;
  }

  &-vertical {
    overflow: hidden !important;
    overflow-y: auto !important;
  }

  &-smooth {
    scroll-behavior: smooth !important;
  }
}
