@use '../../../styles/lengths.scss';
@use '../../../styles/colors.scss';
@use '../../../styles/typography.scss';
@use '../../../styles/mixins/size.scss';
@use '../mixins.scss';

.rcx-message.rcx-message-thread {
  @include typography.use-font-scale(c1);
  @include typography.use-with-truncated-text();
  display: flex;
  flex-direction: column;

  padding-block: 0;

  color: colors.font(info);
}

.rcx-message-thread {
  &__container {
    @include typography.use-with-truncated-text();
    display: flex;
    flex-shrink: 1;

    width: 100%;
    margin: lengths.margin(4);
  }

  &__row {
    @include typography.use-with-truncated-text();
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 1;

    width: 100%;

    cursor: pointer;
  }

  &__message {
    color: colors.font(default);
    @include typography.use-with-truncated-text();
  }

  &__origin {
    @include typography.use-font-scale(c1);
    @include typography.use-with-truncated-text();
    flex-shrink: 1;

    cursor: pointer;

    color: colors.font(info);

    &--system {
      color: colors.font(default);

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }

  &__icon {
    color: colors.font(info);

    &--unfollow,
    &--follow {
      cursor: pointer;

      color: colors.font(secondary-info);
    }

    &--unfollow {
      @include mixins.visible-on-hover();
    }
  }

  &__emoji {
    display: inline-block;

    margin-inline: lengths.margin(2);

    background-size: contain;

    @include size.square(lengths.size(12));
  }
}
