@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';
@use '../../styles/typography.scss';

.rcx-option {
  @include clickable;
  @include typography.use-font-scale(p2);

  padding: lengths.padding(4) lengths.padding(16);

  list-style: none;

  &__wrapper {
    display: flex;
    align-items: center;

    margin-inline: lengths.margin(-2);
  }

  &:hover,
  &--focus {
    background: colors.neutral(100);
  }

  &--selected {
    background: colors.neutral(500);
  }

  &:hover &__menu-wrapper,
  &.focus-within &__menu-wrapper,
  &:focus-within &__menu-wrapper {
    display: flex;
    align-items: center;

    width: lengths.size(28);

    opacity: 1;
  }

  &__menu-wrapper {
    flex-shrink: 0;

    width: 0;

    height: 100%;

    opacity: 0;
  }
}

%column {
  flex: 0 0 auto;

  margin-inline: lengths.margin(2);
}

.rcx-option__avatar {
  @extend %column;
}

.rcx-option__content {
  @include typography.use-text-ellipsis;
  @extend %column;
  flex: 1 1 100%;

  white-space: nowrap;
}

.rcx-option__column {
  @extend %column;
  display: flex;

  justify-content: center;
  align-items: center;

  min-width: lengths.size(20);
  min-height: lengths.size(20);
}

.rcx-option__description {
  @include typography.use-font-scale(p2);
  @extend %column;
  display: inline;

  color: colors.font(annotation);
}

.rcx-options:hover {
  .rcx-option--focus:not(.rcx-option--selected):not(:hover) {
    background: initial;
  }
}
