@import '../../helpers/mixins.scss';
@import '../../helpers/theme-var.scss';
@import '../../styles/dimensions.scss';

$name: 'rcx-input-group';

$default-theme: (
  'gutter': 1.5rem,
);

.rcx-input-group {
  @include reset;
  @include hideable;

  display: flex;

  margin-top: calc(-1 * #{theme-var('gutter')});

  transition: all var-dimension('short-transition-duration');

  align-items: center;

  flex-flow: column nowrap;
  justify-content: center;

  & > .rcx-input {
    flex: 0 0 auto;

    margin-top: theme-var('gutter');
  }
}
