.rcx-text {
  user-select: text;

  color: $text-colors-default;

  @include paragraph;

  &__skeleton {
    display: inline-block;

    width: 100%;
    height: 1em;

    vertical-align: baseline;

    opacity: 0.1;

    background-color: currentColor;

    font-size: inherit;

    &--animated {
      animation: rcx-text__skeleton__loop 1s linear 0s infinite running;
    }

    @each $name, $value in $widths {
      &--width-#{$name} {
        width: $value;
      }
    }
  }

  @keyframes rcx-text__skeleton__loop {
    0% {
      opacity: 0.1;
    }

    50% {
      opacity: 0.2;
    }

    100% {
      opacity: 0.1;
    }
  }

  &--headline {
    @include headline;
  }

  &--subtitle {
    @include subtitle;
  }

  &--paragraph {
    @include paragraph;
  }

  &--caption {
    @include caption;
  }

  &--micro {
    @include micro;
  }

  &--default-color {
    color: $text-colors-default;
  }

  &--info-color {
    color: $text-colors-info;
  }

  &--hint-color {
    color: $text-colors-hint;
  }

  &--disabled-color {
    color: $text-colors-disabled;
  }

  &--alternative-color {
    color: $text-colors-alternative;
  }

  &--primary-color {
    color: $text-colors-primary;
  }

  &--success-color {
    color: $text-colors-success;
  }

  &--danger-color {
    color: $text-colors-danger;
  }

  &--warning-color {
    color: $text-colors-warning;
  }
}
