@use '../../styles/lengths.scss';

.rcx-table {
  display: table;

  width: 100%;

  border-spacing:
    lengths.padding(none)
    lengths.padding(2);

  border-collapse: separate;

  &--fixed {
    table-layout: fixed;
  }

  &__wrapper {
    position: relative;
  }

  &__head {
    display: table-header-group;

    &::after {
      position: absolute;
      inset-inline: lengths.inset(none);

      display: flex;

      content: '';
      border-block-end: lengths.border-width(2) solid $colors-n300;
    }
  }

  &__body {
    display: table-row-group;
  }

  &__foot {
    display: table-footer-group;
  }

  &__row {
    display: table-row;

    &--action:hover,
    &--action:focus {
      @include clickable();
      background-color: $colors-n200;
    }
  }

  &__cell {
    display: table-cell;

    padding: lengths.padding(8);

    user-select: text;
    text-align: unset;
    vertical-align: middle;

    color: $text-colors-info;
    @include use-text-style(p1);

    &--header {
      @include use-text-style(c2);
      color: $text-colors-hint;
    }

    &--clickable {
      @include clickable();
    }

    @each $align in (start, end, center, justify) {
      &--align-#{$align} {
        text-align: $align;
      }
    }
  }
}
