.rcx-table {
  display: table;

  width: 100%;

  border-spacing: to-rem(0) $spaces-x2;

  border-collapse: separate;

  background-color: #{ $colors-white };

  &--fixed {
    table-layout: fixed;
  }

  &__selection {
    border-radius: $borders-radius-x2;
    background-color: $colors-b500;
  }

  &__wrapper {
    position: relative;
  }

  &__head {
    display: table-header-group;

    &::after {
      position: absolute;
      right: 0;
      left: 0;

      display: flex;

      content: '';
      border-block-end: $borders-width-x2 solid $colors-n300;
    }
  }

  &__body {
    display: table-row-group;
  }

  &__foot {
    display: table-footer-group;
  }

  &--striped {
    .rcx-table__row:nth-child(even) {
      background-color: $colors-n100;
    }
  }

  &--sticky {
    .rcx-table__cell--header {
      position: sticky;
      top: 0;

      background-color: #{ $colors-white };
    }
  }

  &__row {
    display: table-row;

    background-color: #{ $colors-white };

    &--selected {
      background-color: $colors-b100;

      .rcx-table__row--action {
        &:hover,
        &:focus {
          background-color: $colors-b100;
        }
      }
    }

    &--action:hover,
    &--action:focus {
      @include clickable();
      background-color: $colors-n200;
    }
  }

  &__cell {
    display: table-cell;

    padding: $spaces-x8;

    user-select: text;
    text-align: unset;
    vertical-align: middle;

    color: $text-colors-info;

    @include use-text-style(p1);

    &--header {
      @include use-text-style(c2);
      color: $text-colors-hint;
    }

    &--clickable {
      @include clickable();
    }

    @each $align in (start, end, center, justify) {
      &--align-#{$align} {
        text-align: $align;
      }
    }
  }
}
