@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';
@use '../../styles/typography.scss';
@import '../../styles/mixins/all.scss';

$sidebar-color-surface-default: theme(
  'sidebar-color-surface-default',
  colors.surface(sidebar)
);

$sidebar-color-surface-hover: theme(
  'sidebar-color-surface-hover',
  colors.surface(hover)
);

$sidebar-color-surface-selected: theme(
  'sidebar-color-surface-selected',
  colors.surface(selected)
);

$sidebar-color-font-default: theme(
  'sidebar-color-font-default',
  colors.font(default)
);

$sidebar-color-font-title: theme(
  'sidebar-color-font-title',
  colors.font(titles-labels)
);

$sidebar-color-stroke-default: theme(
  'sidebar-color-stroke-default',
  colors.stroke(light)
);
$sidebar-item-color: theme('sidebar-item-color', colors.font(secondary-info));
$sidebar-item-color-highlighted: theme(
  'sidebar-item-color-highlighted',
  colors.font(pure-white)
);
$sidebar-item-background-color-hover: theme(
  'sidebar-item-background-color-hover',
  transparent
);
$sidebar-item-color-hover: theme(
  'sidebar-item-color-hover',
  colors.font(hover)
);
$sidebar-item-color-focus: theme(
  'sidebar-item-color-focus',
  colors.surface(dark)
);
$sidebar-item-background-color-featured: theme(
  'sidebar-item-background-color-featured',
  colors.surface(featured)
);
$sidebar-item-color-featured: theme(
  'sidebar-item-color-featured',
  colors.font(pure-white)
);
$sidebar-item-background-color-featured-hover: theme(
  'sidebar-item-background-color-featured-hover',
  colors.surface(featured-hover)
);
$sidebar-item-background-color-featured-selected: theme(
  'sidebar-item-background-color-featured-selected',
  colors.surface(featured-hover)
);

$sidebar-header-height: theme(
  'sidebar-header-height',
  theme('header-height', lengths.size(44))
);

$sidebar-section-height: theme(
  'sidebar-section-height',
  theme('section-height', lengths.size(56))
);

$sidebar-footer-box-shadow: theme(
  'sidebar-footer-box-shadow',
  rgba(0, 0, 0, 0.1)
);

$sidebar-footer-highlight-color: theme(
  'sidebar-footer-highlight-color',
  colors.font(annotation)
);

// sidebar-banner-colors
$sidebar-banner-background-default: theme(
  'sidebar-banner-background-default',
  colors.surface(hover)
);
$sidebar-banner-color-default: theme(
  'sidebar-banner-color-default',
  colors.font(titles-labels)
);

$sidebar-banner-background-info: theme(
  'sidebar-banner-background-info',
  colors.status-background(info)
);
$sidebar-banner-color-info: theme(
  'sidebar-banner-background-info',
  colors.status-font(on-info)
);

$sidebar-banner-background-success: theme(
  'sidebar-banner-background-success',
  colors.status-background(success)
);
$sidebar-banner-color-success: theme(
  'sidebar-banner-background-success',
  colors.status-font(on-success)
);

$sidebar-banner-background-warning: theme(
  'sidebar-banner-background-warning',
  colors.status-background(warning)
);
$sidebar-banner-color-warning: theme(
  'sidebar-banner-background-warning',
  colors.status-font(on-warning)
);

$sidebar-banner-background-danger: theme(
  'sidebar-banner-background-danger',
  colors.status-background(danger)
);
$sidebar-banner-color-danger: theme(
  'sidebar-banner-background-danger',
  colors.status-font(on-danger)
);

%sidebar-base {
  display: flex;

  align-items: center;

  border-radius: lengths.border-radius(small);
  @include typography.use-font-scale(p2);
}

%highlighted {
  color: $sidebar-item-color-highlighted;

  font-weight: 600;
}

@mixin highlighted {
  &--highlighted {
    @extend %highlighted;
  }
}

.rcx-sidebar {
  color: $sidebar-color-font-default;
  background: $sidebar-color-surface-default;

  &--divider {
    border-color: theme(
      'sidebar-color-stroke-extra-light',
      colors.stroke(light)
    );
  }

  &-topbar {
    display: flex;
    flex-direction: column;

    flex-shrink: 0;

    height: $sidebar-header-height;

    color: $sidebar-item-color;

    &--toolbox {
      height: $sidebar-section-height;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      flex-grow: 1;

      padding-inline: lengths.padding(16);
    }

    &__title {
      @include typography.use-font-scale(p2m);
      color: $sidebar-color-font-title;
    }
  }

  &-item {
    @extend %sidebar-base;
    @include highlighted;

    padding-block: lengths.padding(4);
    padding-inline: lengths.padding(16);

    text-decoration: none;

    color: $sidebar-color-font-default;

    &__wrapper {
      @extend %sidebar-base;
      @include typography.use-with-truncated-text();
      flex: 1 0;

      margin-inline: lengths.margin(-2);
    }

    &--clickable {
      @include clickable;
      @include use-link-colors($color: colors.font(default));

      @include on-hover {
        background-color: $sidebar-color-surface-hover;
      }

      @include on-focus {
        outline-offset: -1px;
        box-shadow: none;
      }
    }

    &:active,
    &--selected {
      background-color: $sidebar-color-surface-selected;
    }

    &--featured {
      color: $sidebar-item-color-featured;
      background-color: $sidebar-item-background-color-featured;

      &:hover,
      :active {
        background-color: $sidebar-item-background-color-featured-hover;
      }
    }

    &__avatar {
      display: flex;
      flex: 0 0 auto;

      @include typography.use-with-truncated-text();
    }

    &__container {
      @extend %sidebar-base;
      flex: 0 0 auto;

      margin-inline: lengths.margin(2);
    }

    &__icon {
      @include typography.use-with-truncated-text();
      @include highlighted;

      display: flex;
      justify-content: center;

      width: lengths.size(16);
      margin-inline: lengths.margin(2);
    }

    &__content {
      @include typography.use-with-truncated-text();
      flex-wrap: wrap;
      flex: 1 1 100%;
    }

    &__title,
    &__subtitle {
      @extend %sidebar-base;
      @include typography.use-with-truncated-text();
      display: block;
      flex: 1 1 1%;

      margin-inline: lengths.margin(2);
    }

    &__subtitle {
      @include typography.use-font-scale(c1);
    }

    &__time {
      @include typography.use-font-scale(micro);
      margin-inline: lengths.margin(4);
    }

    &__badge {
      margin-inline: lengths.margin(4);
    }

    &:hover &__menu-wrapper,
    &.focus-within &__menu-wrapper {
      position: static;

      width: lengths.size(20);

      margin-inline: lengths.margin(4);

      opacity: 1;
    }

    &:focus-within &__menu-wrapper {
      width: lengths.size(20);

      margin-inline: lengths.margin(4);

      opacity: 1;
    }

    &__menu {
      position: absolute;

      transform: translateY(-50%);
    }

    &__menu-wrapper {
      position: relative;

      flex-shrink: 0;

      width: 0;

      height: 100%;

      opacity: 0;
    }
  }

  &-title {
    @include typography.use-font-scale(c2);
    @include typography.use-with-truncated-text();

    color: $sidebar-color-font-default;
  }

  &-section {
    display: flex;

    justify-content: space-between;
    align-items: center;

    margin-block: lengths.margin(8);
    padding-inline: lengths.padding(16);
  }

  &-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100px;
    padding: lengths.padding(16);

    color: $sidebar-banner-color-default;
    background-color: $sidebar-banner-background-default;
    column-gap: 0.25rem;

    &__actions {
      display: flex;
      align-items: center;
    }

    &--text {
      @include typography.use-font-scale(h5);
    }

    &--description {
      @include typography.use-font-scale(p2m);
      display: inline-block;

      color: currentColor;

      &--clickable {
        cursor: pointer;
        border-block-end: lengths.border-width(default) solid;

        @include use-link-colors();
      }
    }

    &--info {
      color: $sidebar-banner-color-info;
      background-color: $sidebar-banner-background-info;
    }

    &--success {
      color: $sidebar-banner-color-success;
      background-color: $sidebar-banner-background-success;
    }

    &--warning {
      color: $sidebar-banner-color-warning;
      background-color: $sidebar-banner-background-warning;
    }

    &--danger {
      color: $sidebar-banner-color-danger;
      background-color: $sidebar-banner-background-danger;
    }
  }

  &-footer {
    padding-block: lengths.padding(4);

    &--elevated {
      box-shadow: 0 -4px 12px $sidebar-footer-box-shadow;
    }

    &__highlights {
      @include typography.use-font-scale(c1);

      display: flex;
      justify-content: center;

      padding-block-start: lengths.padding(4);

      color: $sidebar-footer-highlight-color;
    }
  }
}
