@import '../../helpers/mixins.scss';
@import '../../helpers/theme-var.scss';
@import '../../tokens/index.scss';

$name: 'rcx-side-bar';

$default-theme: (
  'min-width': 17.5rem,
  'background-color': color('dark100'),
  'border-color': color('dark200'),
  'border-width': 1px,
  'transition-duration': dimension('short-transition-duration'),
);

.#{$name} {
  @include reset;

  display: flex;
  flex: 1 0 auto;

  min-width: theme-var('min-width');
  min-height: 100vh;

  border-right: theme-var('border-width') solid theme-var('border-color');
  background-color: theme-var('background-color');
  align-items: stretch;
  flex-flow: column nowrap;
}
