.rcx-sidebar-item {
  &__menu {
    @include clickable;

    opacity: 0;
  }

  &__container {
    overflow: hidden;
  }

  color: $sidebar-colors-room-item-color;

  border-radius: $spaces-x2;

  background-color: $sidebar-colors-room-item-background-color;

  &--unread {
    color: $sidebar-colors-room-item-unread-color;
  }

  &__text {
    overflow: hidden;
  }

  &__title,
  &__description {
    white-space: nowrap;
    @include use-text-ellipsis;
  }

  &--clickable {
    @include clickable;
    @include on-active {
      background-color: $sidebar-colors-room-item-active-background-color;
    }

    @include on-focus {
      background-color: $sidebar-colors-room-item-focus-background-color;
    }

    @include on-hover {
      background-color: $sidebar-colors-room-item-hover-background-color;
    }
  }

  @include on-hover {
    .rcx-sidebar-item__menu {
      opacity: 1;
    }
  }
}
