@use '../../styles/typography.scss';

.rcx-multi-select {
  @extend %rcx-input-box;

  &__focus {
    user-select: none;
    white-space: nowrap;

    background: inherit;
    appearance: none;
    @include clickable;
    @include typography.use-text-ellipsis;
  }

  &__addon {
    @extend .rcx-input-box__addon;
    @include clickable;
    padding: initial;
  }

  &:invalid,
  &.invalid {
    @include with-colors(
      $color: $input-colors-invalid-color,
      $placeholder-color: $input-colors-invalid-placeholder-color,
      $focus-caret-color: $input-colors-invalid-focus-caret-color,
      $active-caret-color: $input-colors-invalid-active-caret-color,
      $disabled-color: $input-colors-invalid-disabled-color
    );

    @include with-icon-addon-colors(
      $color: $input-colors-invalid-color,
      $focus-caret-color: $input-colors-invalid-focus-caret-color,
      $focus-icon-color: $input-colors-invalid-focus-icon-color,
      $disabled-color: $input-colors-invalid-disabled-color
    );
  }
}
