@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';
@use '../../styles/typography.scss';

$callout-background-color: theme(
  'callout-background-color',
  colors.surface(light)
);
$callout-default-color: theme(
  'callout-default-color',
  colors.font(secondary-info)
);
$callout-info-color: theme('callout-info-color', colors.status-font(on-info));
$callout-success-color: theme(
  'callout-success-color',
  colors.status-font(on-success)
);
$callout-warning-color: theme(
  'callout-warning-color',
  colors.status-font(on-warning)
);
$callout-danger-color: theme(
  'callout-danger-color',
  colors.status-font(on-danger)
);
$callout-text-color: theme('callout-text-color', colors.font(default));

.rcx-callout {
  display: flex;

  padding: lengths.padding(12);

  color: $callout-text-color;

  border-width: lengths.border-width(default);
  border-style: solid;
  border-color: $callout-default-color;

  border-radius: theme('callout-border-radius', lengths.border-radius(medium));

  background-color: $callout-background-color;

  &--info {
    border-color: $callout-info-color;

    .rcx-callout__icon {
      color: $callout-info-color;
    }
  }

  &--success {
    border-color: $callout-success-color;

    .rcx-callout__icon {
      color: $callout-success-color;
    }
  }

  &--warning {
    border-color: $callout-warning-color;

    .rcx-callout__icon {
      color: $callout-warning-color;
    }
  }

  &--danger {
    border-color: $callout-danger-color;

    .rcx-callout__icon {
      color: $callout-danger-color;
    }
  }

  &__wrapper {
    overflow: hidden;

    justify-content: space-between;

    flex: 1 1 0;

    margin-inline-start: lengths.margin(12);

    > :nth-child(2) {
      margin-block-start: lengths.margin(12);
    }

    &--large {
      display: flex;

      overflow: hidden;
      flex-direction: row;
      align-items: center;

      > :nth-child(2) {
        margin-block-start: lengths.margin(0);
      }
    }
  }

  &__wrapper-content {
    display: flex;

    overflow: hidden;
    flex-flow: column nowrap;

    > :nth-child(2) {
      margin-block-start: lengths.margin(4);
    }
  }

  &__title {
    white-space: nowrap;

    @include typography.use-font-scale(p2b);
    @include typography.use-text-ellipsis;
  }

  &__content {
    display: block;

    @include typography.use-font-scale(p2);
  }
}
