@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';
@use '../../styles/typography.scss';

.rcx-callout {
  display: flex;

  padding-block: lengths.padding(8);
  padding-inline: lengths.padding(16);

  color: theme('callout-color', colors.font(default));

  border-radius: theme('callout-border-radius', lengths.border-radius(medium));

  background-color: theme('callout-background-color', colors.neutral(200));

  &--type-info {
    color: theme('callout-color-info', colors.status-font(on-info));
    background-color: theme(
      'callout-background-color-info',
      colors.status-background(info)
    );
  }

  &--type-success {
    color: theme('callout-color-success', colors.status-font(on-success));
    background-color: theme(
      'callout-background-color-success',
      colors.status-background(success)
    );
  }

  &--type-warning {
    color: theme('callout-color-warning', colors.status-font(on-warning));
    background-color: theme(
      'callout-background-color-warning',
      colors.status-background(warning)
    );
  }

  &--type-danger {
    color: theme('callout-color-danger', colors.status-font(on-danger));
    background-color: theme(
      'callout-background-color-danger',
      colors.status-background(danger)
    );
  }
}

.rcx-callout__wrapper {
  display: flex;

  overflow: hidden;
  flex-flow: column nowrap;
  flex: 1 1 0;

  margin-inline-start: lengths.margin(12);

  @include typography.use-font-scale(c1);

  > :nth-child(2) {
    margin-block-start: lengths.margin(4);
  }
}

.rcx-callout__title {
  white-space: nowrap;

  @include typography.use-font-scale(p2b);
  @include typography.use-text-ellipsis;
}

.rcx-callout__children {
  display: block;

  @include typography.use-font-scale(p2);
}
