@use '../../styles/colors.scss';
@use '../../styles/typography.scss';

.rcx-callout {
  display: flex;

  padding-block: 16px;
  padding-inline-start: 16px;
  padding-inline-end: 32px;

  border-radius: 2px;

  &--type-info {
    background-color: colors.color('info-200');
  }

  &--type-success {
    background-color: colors.color('success-200');
  }

  &--type-warning {
    background-color: colors.color('warning-200');
  }

  &--type-danger {
    background-color: colors.color('danger-200');
  }
}

.rcx-callout__wrapper {
  display: flex;

  overflow: hidden;
  flex-flow: column nowrap;
  flex: 1 1 0;

  margin-inline-start: 8px;

  color: colors.color('default');

  @include typography.use-font-scale(c1);
}

.rcx-callout__title {
  padding-block: 2px;

  @include typography.use-font-scale(c2);
  @include typography.use-text-ellipsis;
  white-space: nowrap;
}

.rcx-callout__children {
  display: block;

  padding-block: 2px;
}
