@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';
@use '../../styles/typography.scss';

.rcx-callout {
  display: flex;

  padding-block: lengths.padding(16);
  padding-inline-start: lengths.padding(16);
  padding-inline-end: lengths.padding(32);

  color: theme('callout-color', colors.font(default));

  border-radius: $border-radius-small;

  background-color: theme('callout-background-color', colors.surface(neutral));

  &--type-info {
    color: theme('callout-color-info', colors.status-font(on-info));
    background-color: theme(
      'callout-background-color-info',
      colors.status-background(info)
    );
  }

  &--type-success {
    color: theme('callout-color-success', colors.status-font(on-success));
    background-color: theme(
      'callout-background-color-success',
      colors.status-background(success)
    );
  }

  &--type-warning {
    color: theme('callout-color-warning', colors.status-font(on-warning));
    background-color: theme(
      'callout-background-color-warning',
      colors.status-background(warning)
    );
  }

  &--type-danger {
    color: theme('callout-color-danger', colors.status-font(on-danger));
    background-color: theme(
      'callout-background-color-danger',
      colors.status-background(danger)
    );
  }
}

.rcx-callout__wrapper {
  display: flex;

  overflow: hidden;
  flex-flow: column nowrap;
  flex: 1 1 0;

  margin-inline-start: lengths.margin(8);

  @include typography.use-font-scale(c1);
}

.rcx-callout__title {
  padding-block: lengths.padding(2);

  @include typography.use-font-scale(c2);
  @include typography.use-text-ellipsis;
  white-space: nowrap;
}

.rcx-callout__children {
  display: block;

  padding-block: lengths.padding(2);
}
