@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';

.rcx-callout {
  display: flex;

  padding-block: lengths.padding(16);
  padding-inline-start: lengths.padding(16);
  padding-inline-end: lengths.padding(32);

  border-radius: lengths.border-radius(2);

  &--type-info {
    background-color: colors.info(200);
  }

  &--type-success {
    background-color: colors.success(200);
  }

  &--type-warning {
    background-color: colors.warning(200);
  }

  &--type-danger {
    background-color: colors.danger(200);
  }
}

.rcx-callout__wrapper {
  display: flex;

  overflow: hidden;
  flex-flow: column nowrap;
  flex: 1 1 0;

  margin-inline-start: lengths.margin(8);

  color: #{ $text-colors-default };

  @include use-text-style(c1);
}

.rcx-callout__title {
  padding-block: lengths.padding(2);

  @include use-text-style(c2);
  @include use-text-ellipsis;
  white-space: nowrap;
}

.rcx-callout__children {
  display: block;

  padding-block: lengths.padding(2);
}
