@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';
@use '../../styles/typography.scss';

.rcx-modal {
  position: static;

  display: flex;

  width: 100%;
  max-height: 100%;
  margin: 0 auto;

  background: none;

  &__inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    width: 100%;

    min-width: 0;
    padding: 0;

    color: colors.font(default);
    border-radius: 2px;
    background-color: colors.surface(light);
    @include typography.use-font-scale(p2);
  }

  &__header {
    margin: 32px;
  }

  &__header-inner {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    margin: -8px;
  }

  &__title {
    @include typography.use-text-ellipsis;
    flex-grow: 1;
    flex-shrink: 1;

    white-space: nowrap;

    color: colors.font(default);
    @include typography.use-font-scale(h2);
  }

  &__backdrop {
    position: fixed;

    z-index: 100;
    inset: 0;

    display: flex;
    flex-direction: column;

    background-color: colors.neutral(800, $alpha: 0.5);
  }

  &__footer {
    margin: 32px;
  }

  &__content-wrapper {
    margin-inline: 32px;
  }

  @include on-breakpoint(sm) {
    max-width: lengths.size(640);
    padding: lengths.padding(16);
  }
}
