@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';
@use '../../styles/typography.scss';

$modal-container-margin: theme('modal-container-margin', lengths.size(32));

$modal-margin: theme('modal-margin', auto);

.rcx-modal {
  position: static;

  display: flex;

  width: 100%;
  max-height: 100%;
  margin: $modal-margin;

  background: none;

  &__inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    width: 100%;

    min-width: 0;
    padding: 0;

    color: colors.foreground(default);
    border-radius: theme('modal-border-radius', lengths.border-radius(2));
    background-color: colors.surface(light);
    @include typography.use-font-scale(p2);
  }

  &__header {
    margin: $modal-container-margin;

    &-text {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;
      @include typography.use-text-ellipsis;
    }
  }

  &__header-inner {
    display: flex;
    flex-wrap: nowrap;

    margin: -4px;
  }

  &__title {
    @include typography.use-text-ellipsis;
    flex-grow: 1;
    flex-shrink: 1;

    white-space: nowrap;

    color: colors.foreground('default');
    @include typography.use-font-scale(h2);
  }

  &__tagline {
    color: colors.neutral(600);

    @include typography.use-font-scale(c2);
  }

  &__backdrop {
    position: fixed;

    z-index: 100;
    inset: 0;

    display: flex;
    flex-direction: column;

    background-color: colors.neutral(800, $alpha: 0.5);
  }

  &__footer {
    display: flex;
    align-items: center;

    margin: $modal-container-margin;

    &-annotation {
      color: colors.neutral(600);
      @include typography.use-font-scale(c1);
    }
  }

  &__content-wrapper {
    margin-inline: $modal-container-margin;
  }

  @include on-breakpoint(sm) {
    max-width: lengths.size(640);
    padding: lengths.padding(16);
  }
}
