@use '../../styles/values.scss';
@use 'sass:color';

.rcx-modal {
  position: static;

  width: values.size(full);
  max-height: values.size(full);
  margin: values.margin(auto);

  background: none;

  &__inner {
    min-width: values.size(none);
  }

  &__title {
    @include use-text-ellipsis;
    white-space: nowrap;
  }

  &__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: color.change($colors-n500, $alpha: 0.5);
  }

  @include on-breakpoint(sm) {
    max-width: values.size(640);
    padding: values.padding(16);
  }
}
