.LoadingSplashScreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2f343d;

  display: flex;

	text-align: center;
	align-items: center;
	justify-content: center;
}

