@use '../../styles/colors.scss';

.rcx-throbber {
  display: flex;
  justify-content: center;

  margin-block: -1px;

  &__circle {
    margin-inline: 1px;

    animation: bounce 1.4s infinite ease-in-out both;

    border-radius: 9999px;

    background-color: colors.color('primary-500');

    &--disabled {
      background-color: colors.color('neutral-500');
    }

    &--inherit-color {
      background-color: currentColor;
    }
  }
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}
