@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';
@use '../../styles/typography.scss';

$progress-bar-color-shine: theme(
  'progress-bar-color-shine',
  colors.surface(light)
);
$progress-bar-color-background: theme(
  'progress-bar-color-background',
  colors.neutral(400, 1)
);

$progress-bar-border-radius: theme(
  'progress-bar-border-radius',
  lengths.border-radius(small)
);

.rcx-progress-bar {
  display: block;

  width: 100%;

  height: 8px;

  border-radius: $progress-bar-border-radius;
  background-color: $progress-bar-color-background;
}

.rcx-progress-bar__fill {
  display: block;

  height: 8px;

  border-radius: $progress-bar-border-radius;

  &-complete::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: inherit;

    content: '';
    animation: rcx-progress-bar__animation 2s ease-out infinite;

    opacity: 0;
    border-radius: $progress-bar-border-radius;
    background: $progress-bar-color-shine;
  }
}

@keyframes rcx-progress-bar__animation {
  0% {
    width: 0;

    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    width: inherit;

    opacity: 0;
  }
}
