@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';
@use '../../styles/typography.scss';

$progress-bar-color-primary: theme('progress-bar-color-primary', colors.primary(200));
$progress-bar-color-success: theme('progress-bar-color-success', colors.success(200));
$progress-bar-color-error: theme('progress-bar-color-error', colors.danger(200));
$progress-bar-color-shine: theme('progress-bar-color-shine', colors.surface());
$progress-bar-color-background: theme('progress-bar-color-background', colors.neutral(400, 1));

.rcx-progress-bar {
  display: block;

  width: 100%;

  height: 8px;

  border-radius: lengths.border-radius(2);
  background-color: $progress-bar-color-background;
}

.rcx-progress-bar__fill {
  display: block;

  height: 8px;

  border-radius: lengths.border-radius(2);

  &--type-primary {
    background-color: $progress-bar-color-primary;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      width: inherit;

      content: '';
      animation: rcx-progress-bar__animation 2s ease-out infinite;

      opacity: 0;
      border-radius: lengths.border-radius(2);
      background: $progress-bar-color-shine;
    }
  }

  &--type-success {
    background-color: $progress-bar-color-success;
  }

  &--type-error {
    background-color: $progress-bar-color-error;
  }
}

@keyframes rcx-progress-bar__animation {
  0% {
    width: 0;

    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    width: inherit;

    opacity: 0;
  }
}
