@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';
@use '../../styles/typography.scss';

$sidepanel-color-default: colors.font(default);

%section-base {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: lengths.padding(8);
}

.rcx-sidepanel {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  height: lengths.size(full);

  color: $sidepanel-color-default;
  border-width: 0 lengths.border-width(default) 0 lengths.border-width(default);
  border-style: solid;
  border-color: colors.stroke(light);

  background-color: colors.surface(sidebar);

  &-section {
    @extend %section-base;
    padding: lengths.padding(16);
  }

  &-header {
    @extend %section-base;
    height: lengths.size(44);
    padding-inline: lengths.padding(16);

    &__title {
      color: colors.font(titles-labels);
      @include typography.use-with-truncated-text;
      @include typography.use-font-scale(h5);
    }
  }

  &--divider {
    border-color: colors.stroke(light);
  }

  &-list {
    padding-block: lengths.padding(8);
  }
}
