.rcx-dropdown-enter {
  transform: translate3d(0, -1rem, 0);

  opacity: 0;
}

.rcx-dropdown-enter-active {
  transition: opacity 300ms, transform 300ms;
  transform: translate3d(0, 0, 0);

  opacity: 1;
}

.rcx-dropdown-exit {
  transform: translate3d(0, 0, 0);

  opacity: 1;
}

.rcx-dropdown-exit-active {
  transition: opacity 300ms, transform 300ms;
  transform: translate3d(0, -0.5rem, 0);

  opacity: 0;
}
