.rcx-box {
  $margins: map-remove($spaces, none);

  @each $name, $value in $spaces {
    $margins: map-merge($margins, (neg-#{$name}: calc(-1 * #{$value})));
  }

  $margins: map-merge($margins, (auto: auto, none: 0));

  @each $name, $value in $margins {
    &--m-#{$name} {
      margin: #{$value} !important;
    }

    &--mb-#{$name} {
      margin-block: #{$value} !important;
    }

    &--mbs-#{$name} {
      margin-block-start: #{$value} !important;
    }

    &--mbe-#{$name} {
      margin-block-end: #{$value} !important;
    }

    &--mi-#{$name} {
      margin-inline: #{$value} !important;
    }

    &--mis-#{$name} {
      margin-inline-start: #{$value} !important;
    }

    &--mie-#{$name} {
      margin-inline-end: #{$value} !important;
    }
  }
}
