@use '../../../styles/colors.scss';
@use '../../../styles/lengths.scss';
@use '../../../styles/typography.scss';

$message-background-color: theme(
  'message-background-color',
  colors.foreground(alternative)
);

$message-divider-background-color: theme(
  'message-divider-background-color',
  colors.neutral(300)
);
$message-divider-color: theme(
  'message-divider-color',
  colors.foreground(default)
);

$message-divider-color-unread: theme(
  'message-divider-color-unread',
  colors.danger(500)
);
$message-divider-background-color-unread: theme(
  'message-divider-background-color-unread',
  colors.danger(300)
);

$message-divider-size: theme('message-divider-size', lengths.border-width(1));

$message-divider-size-neg: theme(
  'message-divider-size-neg',
  lengths.margin(-1)
);

.rcx-message-divider {
  @include typography.use-font-scale(c2);
  background-color: $message-background-color;
  z-index: 1;

  position: relative;
  display: flex;
  align-items: center;

  margin-bottom: $message-divider-size-neg;
  margin-inline: lengths.margin(20);

  color: $message-divider-color;

  &__bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;

    &::after {
      flex-grow: 1;

      height: $message-divider-size;

      content: '';

      background: $message-divider-background-color;
    }
  }

  &--unread &__bar {
    &::after {
      background: $message-divider-background-color-unread;
    }
  }

  // &--unread {
  //   &:after,
  //   &:before {
  //   }
  // }

  &__wrapper {
    margin-block: lengths.margin(8);
    padding-inline: lengths.padding(8);

    background-color: $message-background-color;

    &--unread {
      position: absolute;
      z-index: 1;

      order: 1;

      padding-inline-start: lengths.padding(8);
      right: lengths.padding(8);

      color: $message-divider-color-unread;
      background-color: $message-background-color;
    }
  }
}
