@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';
@use '../../styles/typography.scss';

$tag-colors-default-color: theme(
  'tag-colors-default-color',
  colors.font(titles-labels)
);
$tag-colors-default-hover-color: theme(
  'tag-colors-default-hover-color',
  colors.button(on-secondary)
);
$tag-colors-default-background-color: theme(
  'tag-colors-default-background-color',
  colors.surface(neutral)
);
$tag-colors-default-hover-background-color: theme(
  'tag-colors-default-hover-background-color',
  colors.button(secondary-hover)
);

$tag-colors-primary-color: theme(
  'tag-colors-primary-color',
  colors.button(on-primary)
);
$tag-colors-primary-background-color: theme(
  'tag-colors-primary-background-color',
  colors.button(primary-default)
);
$tag-colors-primary-hover-background-color: theme(
  'tag-colors-primary-hover-background-color',
  colors.button(primary-hover)
);

$tag-colors-secondary-color: theme(
  'tag-colors-secondary-color',
  colors.button(on-secondary)
);
$tag-colors-secondary-background-color: theme(
  'tag-colors-secondary-background-color',
  colors.button(secondary-default)
);
$tag-colors-secondary-hover-background-color: theme(
  'tag-colors-secondary-hover-background-color',
  colors.button(secondary-hover)
);

$tag-colors-danger-color: theme(
  'tag-colors-danger-color',
  colors.button(on-danger)
);
$tag-colors-danger-background-color: theme(
  'tag-colors-danger-background-color',
  colors.button(danger-default)
);
$tag-colors-danger-hover-background-color: theme(
  'tag-colors-danger-hover-background-color',
  colors.button(danger-hover)
);

$tag-colors-secondary-danger-color: theme(
  'tag-colors-secondary-danger-color',
  colors.button(on-secondary-danger)
);
$tag-colors-secondary-danger-background-color: theme(
  'tag-colors-secondary-danger-background-color',
  colors.button(secondary-danger-default)
);
$tag-colors-secondary-danger-hover-background-color: theme(
  'tag-colors-secondary-danger-hover-background-color',
  colors.button(secondary-danger-hover)
);

$tag-colors-warning-color: theme(
  'tag-colors-warning-color',
  colors.button(on-warning)
);
$tag-colors-warning-background-color: theme(
  'tag-colors-warning-background-color',
  colors.button(warning-default)
);
$tag-colors-warning-hover-background-color: theme(
  'tag-colors-warning-hover-background-color',
  colors.button(warning-hover)
);

$tag-colors-disabled-color: theme(
  'tag-colors-disabled-color',
  colors.foreground(info)
);
$tag-colors-disabled-background-color: theme(
  'tag-colors-disabled-background-color',
  colors.neutral(400)
);

.rcx-tag {
  display: flex;
  overflow: hidden;
  justify-content: center;

  width: fit-content;

  padding: lengths.padding(2) lengths.padding(4);

  white-space: nowrap;

  text-decoration: none;
  text-overflow: ellipsis;

  word-break: keep-all;

  color: $tag-colors-default-color;
  border-radius: theme('tag-border-radius', lengths.border-radius(small));
  background-color: $tag-colors-default-background-color;

  @include typography.use-font-scale(micro);

  &--primary {
    color: $tag-colors-primary-color;
    background-color: $tag-colors-primary-background-color;

    &.rcx-tag--clickable {
      &:hover {
        color: $tag-colors-primary-color;
        background-color: $tag-colors-primary-hover-background-color;
      }
    }
  }

  &--secondary {
    color: $tag-colors-secondary-color;
    background-color: $tag-colors-secondary-background-color;

    &.rcx-tag--clickable {
      &:hover {
        color: $tag-colors-secondary-color;
        background-color: $tag-colors-secondary-hover-background-color;
      }
    }
  }

  &--danger {
    color: $tag-colors-danger-color;
    background-color: $tag-colors-danger-background-color;

    &.rcx-tag--clickable {
      &:hover {
        color: $tag-colors-danger-color;
        background-color: $tag-colors-danger-hover-background-color;
      }
    }
  }

  &--secondary-danger {
    color: $tag-colors-secondary-danger-color;
    background-color: $tag-colors-secondary-danger-background-color;

    &.rcx-tag--clickable {
      &:hover {
        color: $tag-colors-secondary-danger-color;
        background-color: $tag-colors-secondary-danger-hover-background-color;
      }
    }
  }

  &--warning {
    color: $tag-colors-warning-color;
    background-color: $tag-colors-warning-background-color;

    &.rcx-tag--clickable {
      &:hover {
        color: $tag-colors-warning-color;
        background-color: $tag-colors-warning-hover-background-color;
      }
    }
  }

  &--disabled {
    cursor: not-allowed;

    color: $tag-colors-disabled-color;
    background-color: $tag-colors-disabled-background-color;
  }

  &--clickable {
    @include clickable();

    &:hover {
      color: $tag-colors-default-hover-color;
      background-color: $tag-colors-default-hover-background-color;
    }
  }

  &--small {
    @include typography.use-font-scale(c2);
  }

  &--medium {
    @include typography.use-font-scale(p2b);
  }
}
