@use '../../styles/values.scss';

.rcx-tag {
  display: inline-block;

  width: fit-content;

  padding:
    values.padding(2)
    values.padding(4);

  text-decoration: none;

  word-break: keep-all;

  border-radius: values.border-radius(4);

  &--secondary {
    color: $tag-colors-secondary-color;
    background-color: $tag-colors-secondary-background-color;
  }

  &--primary {
    color: $tag-colors-primary-color;
    background-color: $tag-colors-primary-background-color;
  }

  &--danger {
    color: $tag-colors-danger-color;
    background-color: $tag-colors-danger-background-color;
  }

  &--ghost {
    color: $tag-colors-ghost-color;
    background-color: $tag-colors-ghost-background-color;
  }

  &--disabled {
    color: $tag-colors-disabled-color;
    background-color: $tag-colors-disabled-background-color;
  }

  &--round {
    overflow: hidden;

    text-align: center;

    border-radius: values.border-radius(full);
  }

  &--clickable {
    @include clickable();
  }
}
