@use '../../styles/lengths.scss';

.rcx-button-group {
  display: flex;

  flex-flow: row nowrap;
  justify-content: flex-start;

  align-items: center;

  &--wrap {
    flex-wrap: wrap;

    margin-block-end: lengths.margin(-16);
  }

  &--stretch {
    justify-content: stretch;
    align-items: stretch;
  }

  &--vertical {
    flex-direction: column;
  }

  &--align-start {
    justify-content: flex-start;
  }

  &--align-center {
    justify-content: center;
  }

  &--align-end {
    justify-content: flex-end;
  }
}

.rcx-button-group__item {
  margin-inline: lengths.margin(4);

  &:first-of-type {
    margin-inline-start: lengths.margin(none);
  }

  &:last-of-type {
    margin-inline-end: lengths.margin(none);
  }

  .rcx-button-group--small & {
    margin-inline: lengths.margin(2);
  }

  .rcx-button-group--large & {
    margin-inline: lengths.margin(8);
  }

  .rcx-button-group--wrap > & {
    margin-block-end: lengths.margin(16);
    margin-inline-start: lengths.margin(none);
    margin-inline-end: lengths.margin(16);
  }

  .rcx-button-group--stretch > & {
    flex-grow: 1;
  }

  .rcx-button-group--vertical & {
    margin-block: lengths.margin(4);
    margin-inline: lengths.margin(none);

    &:first-child {
      margin-block-start: lengths.margin(none);
    }

    &:last-child {
      margin-block-end: lengths.margin(none);
    }
  }

  .rcx-button-group--vertical.rcx-button-group--large > & {
    margin-block: lengths.margin(8);

    &:first-child {
      margin-block-start: lengths.margin(none);
    }

    &:last-child {
      margin-block-end: lengths.margin(none);
    }
  }

  .rcx-button-group--vertical.rcx-button-group--small > & {
    margin-block: lengths.margin(2);

    &:first-child {
      margin-block-start: lengths.margin(none);
    }

    &:last-child {
      margin-block-end: lengths.margin(none);
    }
  }
}
