@use '../../styles/lengths.scss';

.rcx-button-group {
  display: flex;

  flex-flow: row nowrap;
  justify-content: flex-start;

  align-items: center;

  gap: lengths.margin(8);

  &--small {
    gap: lengths.margin(4);
  }

  &--large {
    gap: lengths.margin(16);
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--stretch {
    align-items: stretch;

    flex-grow: 1;

    > * {
      flex-grow: 1;
    }
  }

  &--vertical {
    flex-direction: column;
  }

  &--align-start {
    justify-content: flex-start;
  }

  &--align-center {
    justify-content: center;
  }

  &--align-end {
    justify-content: flex-end;
  }
}
