@use '../../styles/lengths.scss';

.rcx-button-group {
  display: flex;

  flex-flow: row nowrap;
  justify-content: flex-start;

  align-items: center;
  border-radius: 30px;

  &--wrap {
    flex-wrap: wrap;

    margin-block-end: lengths.margin(-16);
  }

  &--stretch {
    justify-content: stretch;
    align-items: stretch;
  }

  &--vertical {
    flex-direction: column;
  }

  &--align-start {
    justify-content: flex-start;
  }

  &--align-center {
    justify-content: center;
  }

  &--align-end {
    justify-content: flex-end;
  }
}

.rcx-button-group__item {
  .rcx-button-group > & {
    margin-inline: lengths.margin(8);

    &:first-child {
      margin-inline-start: lengths.margin(none);
    }

    &:last-child {
      margin-inline-end: lengths.margin(none);
    }
  }

  .rcx-button-group.rcx-button-group--small > & {
    margin-inline: lengths.margin(2);
  }

  .rcx-button-group.rcx-button-group--medium > & {
    margin-inline: lengths.margin(4);
  }

  .rcx-button-group--wrap > & {
    margin-block-end: lengths.margin(16);
    margin-inline-start: lengths.margin(none);
    margin-inline-end: lengths.margin(16);
  }

  .rcx-button-group--stretch > & {
    flex-grow: 1;
  }

  .rcx-button-group--vertical > & {
    margin-block: lengths.margin(8);
    margin-inline: lengths.margin(none);

    &:first-child {
      margin-block-start: lengths.margin(none);
    }

    &:last-child {
      margin-block-end: lengths.margin(none);
    }
  }
}
