:root {
  --rcx-button-group-vertical-margin: 8px;
  --rcx-button-group-gap: 8px;
}

.ButtonGroup {
  display: flex;

  box-sizing: border-box;

  margin: var(--rcx-button-group-vertical-margin) calc(var(--rcx-button-group-gap) / 2);
  flex-flow: row nowrap;

  & > .Button {
    margin: 0 calc(var(--rcx-button-group-gap) / 2);
  }
}

.ButtonGroup--wrap {
  flex-wrap: wrap;

  & > .Button {
    margin: calc(var(--rcx-button-group-gap) / 2);
  }
}

.ButtonGroup--stretch {
  justify-content: stretch;

  & > .Button {
    flex: 1 0 auto;
  }
}

.ButtonGroup--vertical {
  flex-direction: column;

  & > .Button {
    margin: calc(var(--rcx-button-group-gap) / 2) 0;
  }
}
