@use '../../../styles/colors.scss';
@use '../../../styles/lengths.scss';
@use '../../../styles/typography.scss';
@import '../../../styles/mixins/all.scss';

$sidebar-media-color: theme('sidebar-media-color', colors.font(titles-labels));

$sidebar-media-border-color: theme(
  'sidebar-media-border-color',
  colors.stroke(light)
);

.rcx-sidebar-v2-media {
  padding-block: lengths.padding(8);

  color: $sidebar-media-color;
  border-bottom: lengths.border-width(default) solid $sidebar-media-border-color;
  background-color: $sidebar-color-surface-default;

  &__title {
    @include typography.use-font-scale(c1);
    flex-grow: 1;

    padding-block-end: lengths.padding(4);

    padding-inline: lengths.padding(16);

    text-align: center;
  }

  &__controller {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: lengths.padding(16);

    &__label {
      @include typography.use-font-scale(p2);
    }
  }
}
