@import '../../helpers/mixins.scss';
@import '../../helpers/theme-var.scss';
@import '../../tokens/index.scss';

$name: 'rcx-tab';

$default-theme: (
  'margin-horizontal': 1rem,
  'padding': 1rem 0,
  'transition-duration': dimension('short-transition-duration'),
  'color': color('dark600'),
  'line-width': dimension('border-width'),
  'font-family': font-family('default'),
  'font-size': 1rem,
  'font-weight': 500,
  'line-height': 1.25,
  'active-color': color('blue500'),
);

.#{$name} {
  @include reset;

  flex: 0 0 auto;

  margin: 0 theme-var('margin-horizontal');
  padding: theme-var('padding');

  cursor: pointer;
  transition:
    color theme-var('transition-duration'),
    border theme-var('transition-duration');

  color: theme-var('color');
  border-bottom: theme-var('line-width') solid transparent;

  font-family: theme-var('font-family');
  font-size: theme-var('font-size');
  font-weight: theme-var('font-weight');
  line-height: theme-var('line-height');

  &--active {
    color: theme-var('active-color');
    border-bottom-color: theme-var('active-color');
  }
}
