@use '../../../styles/lengths.scss';
@use '../../../styles/colors.scss';
@use '../../../styles/typography.scss';
@use '../mixins.scss';

.rcx-message-toolbox {
  @include mixins.visible-on-hover();
  display: inline-block;

  margin-inline: lengths.margin(20);
  padding: lengths.padding(2);

  border: lengths.border-width(2) solid colors.neutral(200);
  border-radius: lengths.border-radius(2);
  background: colors.foreground(alternative);

  @at-root .rcx-message & {
    position: absolute;
    top: lengths.margin(-24);
    right: 0;

    &:dir(rtl) {
      left: 0;
      right: initial;
    }
  }
}
