:root {
  --rcx-side-bar-menu-item-padding: 0.5rem 1rem;
  --rcx-side-bar-menu-item-border-radius: var(--border-radius);
  --rcx-side-bar-menu-item-color: var(--color-dark-600);
  --rcx-side-bar-menu-item-hover-background-color: var(--color-dark-200);
  --rcx-side-bar-menu-item-active-background-color: var(--color-dark-300);
  --rcx-side-bar-menu-item-active-hover-background-color: var(--color-dark-400);
  --rcx-side-bar-menu-item-active-color: var(--color-dark-800);
  --rcx-side-bar-menu-item-font-family: var(--default-font-family);
  --rcx-side-bar-menu-item-font-size: 0.875rem;
  --rcx-side-bar-menu-item-font-weight: normal;
  --rcx-side-bar-menu-item-letter-spacing: -0.2px;
  --rcx-side-bar-menu-item-line-height: 1.25;
}

.SideBar__MenuItem {
  display: flex;

  box-sizing: border-box;

  border-radius: var(--rcx-side-bar-menu-item-border-radius);
  flex-flow: row nowrap;

  &:hover {
    background-color: var(--rcx-side-bar-menu-item-hover-background-color);
  }
}

.SideBar__MenuItem--active {
  color: var(--rcx-side-bar-menu-item-active-color);
  background-color: var(--rcx-side-bar-menu-item-active-background-color);

  &:hover {
    background-color: var(--rcx-side-bar-menu-item-active-hover-background-color);
  }
}

.SideBar__MenuItemLink {
  flex: 1 1 auto;

  box-sizing: border-box;
  padding: var(--rcx-side-bar-menu-item-padding);

  cursor: pointer;
  user-select: none;
  text-align: unset;
  text-decoration: none;

  letter-spacing: var(--rcx-side-bar-menu-item-letter-spacing);

  color: var(--rcx-side-bar-menu-item-color);
  border: 0;
  outline: none;
  background: none;

  font-family: var(--rcx-side-bar-menu-item-font-family);
  font-size: var(--rcx-side-bar-menu-item-font-size);
  font-weight: var(--rcx-side-bar-menu-item-font-weight);
  line-height: var(--rcx-side-bar-menu-item-line-height);
}
