%slideInUp {
  animation-name: slideInUp;
}

%slideInDown {
  animation-name: slideInDown;
}

.rcx-animated {
  display: none;

  animation-duration: $transitions-short-duration;

  &--visible {
    @extend %slideInUp;
    display: initial;
  }

  &--hiding {
    display: initial;
    @extend %slideInDown;
  }
}

@keyframes slideInUp {
  from {
    visibility: visible;

    transform: translate3d(0, 2rem, 0);

    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);

    opacity: 1;
  }
}

@keyframes slideInDown {
  from {
    visibility: visible;

    transform: translate3d(0, 0, 0);

    opacity: 1;
  }

  to {
    transform: translate3d(0, -2rem, 0);

    opacity: 0;
  }
}
