.rcx-toggle-switch {
  @include is-selection-button($checked: 'primary', $unchecked: 'off');

  &__input {
    @extend %selection-button__input;
  }

  &__fake {
    @extend %selection-button__fake;
    width: 2 * 20px;

    border-radius: 9999px;
  }

  &__input + &__fake::before {
    position: absolute;
    inset-inline-start: 0;

    width: 20px - 2 * 2px;
    height: 20px - 2 * 2px;

    content: '';

    border-radius: 9999px;

    background-color: currentColor;
  }

  &__input:checked + &__fake::before {
    inset-inline-start: calc(100% - #{20px - 2 * 2px});
  }
}
