@use '../../../styles/lengths.scss';
@use '../../../styles/functions.scss';
@use '../../../styles/colors.scss';
@use '../../../styles/typography.scss';

$variants: (
  'success': colors.success(700),
  'danger': colors.danger(700),
  'warning': colors.warning(700),
  'primary': colors.primary(700),
);

.rcx-message-status-indicator {
  margin-block: lengths.margin(2);

  &:empty {
    display: none;
  }

  &__text {
    white-space: nowrap;

    color: colors.foreground('info');
    @include typography.use-font-scale(c1);
  }

  &__item {
    color: colors.foreground('hint');
    @each $name, $color in $variants {
      &--#{$name} {
        color: theme('message-status-variant-color-#{$name}', $color);
      }
    }
  }
}
