@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';
@use '../../styles/typography.scss';

.rcx-pagination {
  display: flex;
  flex-flow: column-reverse nowrap;

  align-items: center;

  padding: lengths.padding(12) lengths.padding(24);

  @include on-breakpoint(sm) {
    flex-direction: column;
  }

  @include on-breakpoint(md) {
    flex-direction: row;
  }

  &--divider {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      height: 2px;

      content: '';

      border-radius: theme(
        'pagination-border-radius',
        lengths.border-radius(small)
      );
      background-color: colors.stroke(extra-light);
    }
  }
}

.rcx-pagination__left,
.rcx-pagination__right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex: 0 1 auto;
}

.rcx-pagination__left {
  justify-content: center;

  margin-inline-start: lengths.margin(none);

  @include on-breakpoint(sm) {
    margin-inline-start: auto;
  }

  @include on-breakpoint(md) {
    margin-inline-start: lengths.margin(none);
    margin-inline-end: auto;
  }
}

.rcx-pagination__right {
  flex-flow: column nowrap;

  align-items: center;

  margin-inline-start: lengths.margin(none);

  @include on-breakpoint(sm) {
    flex-flow: row nowrap;
    align-items: center;

    margin-inline-start: auto;
  }
}

.rcx-pagination__label {
  @include typography.use-font-scale(c1);

  color: colors.font(secondary-info);
}

.rcx-pagination__list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  margin-inline: lengths.margin(4);
}

.rcx-pagination__list-item {
  @include typography.use-font-scale(c1);
  display: flex;

  margin-inline: lengths.margin(2);
  padding: lengths.padding(4);

  color: colors.font(secondary-info);
}

.rcx-pagination__link {
  @include typography.use-font-scale(c1);
  @include clickable;
  display: inline-flex;

  color: colors.font(info);
  background: transparent;

  &:hover:not(.disabled):not(:disabled),
  &:focus:not(.disabled):not(:disabled) {
    text-decoration: underline;
  }

  &.disabled,
  &:disabled {
    @include typography.use-font-scale(c2);
    cursor: default;

    color: colors.font(default);
  }
}

.rcx-pagination__back,
.rcx-pagination__forward {
  @include typography.use-font-scale(c1);
  @include clickable;
  display: inline-flex;

  color: colors.font(secondary-info);
  background: transparent;

  &.disabled,
  &:disabled {
    color: colors.font(secondary-info);
  }
}
