@use '../../styles/lengths.scss';

.rcx-pagination {
  display: flex;
  flex-flow: column-reverse nowrap;
  align-items: center;

  padding:
    lengths.padding(12)
    lengths.padding(24);

  @include on-breakpoint(sm) {
    flex-direction: column;
  }

  @include on-breakpoint(md) {
    flex-direction: row;
  }
}

.rcx-pagination__left,
.rcx-pagination__right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex: 0 1 auto;
}

.rcx-pagination__left {
  justify-content: center;

  margin-inline-start: lengths.margin(none);

  @include on-breakpoint(sm) {
    margin-inline-start: auto;
  }

  @include on-breakpoint(md) {
    margin-inline-start: lengths.margin(none);
    margin-inline-end: auto;
  }
}

.rcx-pagination__right {
  flex-flow: column nowrap;

  align-items: center;

  margin-inline-start: lengths.margin(none);

  @include on-breakpoint(sm) {
    flex-flow: row nowrap;
    align-items: center;

    margin-inline-start: auto;
  }
}

.rcx-pagination__label {
  @include use-text-style(c1);

  color: $text-colors-hint;
}

.rcx-pagination__list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  margin-inline: lengths.margin(4);
}

.rcx-pagination__list-item {
  @include use-text-style(c1);
  display: flex;

  margin-inline: lengths.margin(2);
  padding: lengths.padding(4);

  color: $text-colors-hint;
}

.rcx-pagination__link {
  @include use-text-style(c1);
  @include clickable;
  display: inline-flex;

  color: $text-colors-primary;
  background: transparent;

  &.disabled,
  &:disabled {
    @include use-text-style(c2);
    cursor: default;

    color: $text-colors-default;
  }
}

.rcx-pagination__back,
.rcx-pagination__forward {
  @include use-text-style(c1);
  @include clickable;
  display: inline-flex;

  color: $text-colors-primary;
  background: transparent;

  &.disabled,
  &:disabled {
    color: $text-colors-disabled;
  }
}
