@use '../../styles/colors.scss';
@use '../../styles/typography.scss';
@use '../../styles/breakpoints.scss';
@use '../../styles/interactivity.scss';

.rcx-pagination {
  display: flex;
  flex-flow: column-reverse nowrap;

  align-items: center;

  padding:
    12px
    24px;

  @include breakpoints.on-breakpoint(sm) {
    flex-direction: column;
  }

  @include breakpoints.on-breakpoint(md) {
    flex-direction: row;
  }

  &--divider {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;

      height: 2px;

      content: '';

      border-radius: 2px;
      background-color: colors.neutral(300);
    }
  }
}

.rcx-pagination__left,
.rcx-pagination__right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex: 0 1 auto;
}

.rcx-pagination__left {
  justify-content: center;

  margin-inline-start: 0;

  @include breakpoints.on-breakpoint(sm) {
    margin-inline-start: auto;
  }

  @include breakpoints.on-breakpoint(md) {
    margin-inline-start: 0;
    margin-inline-end: auto;
  }
}

.rcx-pagination__right {
  flex-flow: column nowrap;

  align-items: center;

  margin-inline-start: 0;

  @include breakpoints.on-breakpoint(sm) {
    flex-flow: row nowrap;
    align-items: center;

    margin-inline-start: auto;
  }
}

.rcx-pagination__label {
  @include typography.use-font-scale(c1);

  color: colors.foreground(hint);
}

.rcx-pagination__list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  margin-inline: 4px;
}

.rcx-pagination__list-item {
  @include typography.use-font-scale(c1);
  display: flex;

  margin-inline: 2px;
  padding: 4px;

  color: colors.foreground(hint);
}

.rcx-pagination__link {
  @include typography.use-font-scale(c1);
  @include interactivity.clickable;
  display: inline-flex;

  color: colors.foreground(link);
  background: transparent;

  &:hover:not(.disabled):not(:disabled),
  &:focus:not(.disabled):not(:disabled) {
    text-decoration: underline;
  }

  &.disabled,
  &:disabled {
    @include typography.use-font-scale(c2);
    cursor: default;

    color: colors.foreground(default);
  }
}

.rcx-pagination__back,
.rcx-pagination__forward {
  @include typography.use-font-scale(c1);
  @include interactivity.clickable;
  display: inline-flex;

  color: colors.foreground(link);
  background: transparent;

  &.disabled,
  &:disabled {
    color: colors.foreground(disabled);
  }
}
