@use '../../styles/colors.scss';
@use '../../styles/typography.scss';
@use '../../styles/interactivity.scss';

.rcx-accordion {
  display: flex;
  flex-flow: column nowrap;

  border-block-end-width: 2px;
  border-block-end-color: colors.color('neutral-300');
}

.rcx-accordion-item {
  display: flex;
  flex-flow: column nowrap;
}

.rcx-accordion-item__bar {
  display: flex;
  flex-flow: row nowrap;

  min-height: 2 * 32px + 24px;
  padding:
    32px - 2px
    8px - 2px;

  text-align: start;

  color: colors.color('default');
  background-color: colors.color('surface');

  border-width: 2px;
  border-color: colors.color('neutral-300') transparent transparent;

  &[tabindex] {
    @include interactivity.clickable;

    &.hover,
    &:hover {
      background-color: colors.color('neutral-100');
    }

    &.focus,
    &:focus {
      border-color: colors.color('primary-500');
      @include interactivity.use-focus-shadow(colors.color('primary-100'));
    }
  }

  &--disabled {
    cursor: not-allowed;

    color: colors.color('disabled');
    background-color: colors.color('neutral-100');
  }
}

.rcx-accordion-item__title {
  flex: 1 1 0;

  @include typography.use-text-ellipsis;
  white-space: nowrap;

  @include typography.use-font-scale(s2);
}

.rcx-accordion-item__toggle-switch {
  display: flex;
  align-items: center;
  flex: 0 0 auto;

  margin:
    0px
    24px;
}

.rcx-accordion-item__panel {
  visibility: hidden;

  overflow: hidden;

  height: 0;
  padding:
    0px
    8px;

  &--expanded {
    visibility: visible;

    height: auto;
    padding:
      32px
      8px;
  }
}
