@use '../../styles/values.scss';

.rcx-accordion {
  display: flex;
  flex-flow: column nowrap;
  border-block-end-color: $colors-n300;

  border-block-end-width: values.border-width(2);
}

.rcx-accordion-item {
  display: flex;
  flex-flow: column nowrap;
}

.rcx-accordion-item__bar {
  display: flex;
  flex-flow: row nowrap;

  min-height: values.size(2 * 32 + 24);
  padding:
    (values.padding(32) - values.border-width(2))
    (values.padding(8) - values.border-width(2));

  text-align: start;

  color: #{ $text-colors-default };

  border-width: values.border-width(2);
  border-color: #{ $colors-n300 } transparent transparent;

  &[tabindex] {
    @include clickable;

    &.hover,
    &:hover {
      background-color: #{ $colors-n100 };
    }

    &.focus,
    &:focus {
      border-color: #{ $colors-b500 };
      @include use-focus-shadow($outer-color: $colors-b100);
    }
  }

  &--disabled {
    cursor: not-allowed;

    color: #{ $text-colors-disabled };
    background-color: #{ $colors-n100 };
  }
}

.rcx-accordion-item__title {
  flex: 1 1 values.size(none);

  @include use-text-style(s2);
  @include use-text-ellipsis;
  white-space: nowrap;
}

.rcx-accordion-item__toggle-switch {
  display: flex;
  align-items: center;
  flex: 0 0 auto;

  margin:
    values.margin(none)
    values.margin(24);
}

.rcx-accordion-item__panel {
  visibility: hidden;

  overflow: hidden;

  height: values.size(none);
  padding:
    values.padding(none)
    values.padding(8);

  &--expanded {
    visibility: visible;

    height: auto;
    padding:
      values.padding(32)
      values.padding(8);
  }
}
