.rcx-field {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  width: 100%;
  margin-block: calc(-1 * #{ $spaces-x2 });

  &__label {
    @include use-text-style(p2);
    @include use-text-color(default);
    flex: 1 1 0;
    align-self: flex-start;

    margin-block: $spaces-x2;
  }

  &__description {
    @include use-text-style(p1);
    @include use-text-color(hint);
    @extend %rich-text--inline;
    margin-block: $spaces-x2;
  }

  &__row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    margin-block: $spaces-x4 $spaces-x2;

    & .rcx-field__label {
      padding-inline-start: $spaces-x8;
    }
  }

  &__hint {
    @include use-text-style(p1);
    @include use-text-color(hint);
    @extend %rich-text--inline;
    margin-block: $spaces-x2;
  }

  &__error {
    @include use-text-style(p1);
    @include use-text-color(danger);
    @extend %rich-text--inline;
    margin-block: $spaces-x2;
  }
}
