@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';

.rcx-field {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  width: 100%;
  margin-block: lengths.margin(-2);

  &__label {
    @include use-text-style(p2);
    flex: 1 1 0;
    align-self: flex-start;

    margin-block: lengths.margin(2);

    color: colors.foreground(default);
  }

  &__description {
    @include use-text-style(p1);
    margin-block: lengths.margin(2);

    color: colors.foreground(hint);
    @extend %--with-inline-elements;
  }

  &__row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    margin-block-start: lengths.margin(4);
    margin-block-end: lengths.margin(2);

    & .rcx-field__label {
      padding-inline-start: lengths.padding(8);
    }
  }

  &__hint {
    @include use-text-style(p1);
    margin-block: lengths.margin(2);

    color: colors.foreground(hint);
    @extend %--with-inline-elements;
  }

  &__error {
    @include use-text-style(p1);
    margin-block: lengths.margin(2);

    color: colors.foreground(danger);
    @extend %--with-inline-elements;
  }
}
