.rcx-field {
  @include box;

  display: flex;

  width: 100%;
  align-items: stretch;
  flex-flow: column nowrap;

  & > :first-child {
    margin-bottom: #{ $spaces-x8 };
    margin-block-end: #{ $spaces-x8 };
  }
}

.rcx-field__row {
  @include box;

  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.rcx-field__error {
  flex: 0 1 auto;

  margin-left: #{ $spaces-x8 };

  user-select: text;
  margin-inline-start: #{ $spaces-x8 };

  @include ellipsis;
}

.rcx-field__hint {
  margin-top: #{ $spaces-x4 };
  margin-block-start: #{ $spaces-x4 };
}
