%visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;
  clip-path: inset(50%);
}

%with-scrollbars {
  &::-webkit-scrollbar {
    block-size: $sizes-x4;
    inline-size: $sizes-x4;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
  }
}

%with-non-wrapped-text {
  white-space: nowrap;
}

@import './box.scss';
@import './input.scss';
@import './button.scss';
@import './tile.scss';
