@use '../lengths.scss';

%box {
  flex: 0 1 auto;

  box-sizing: border-box;
  margin: lengths.margin(none);
  padding: lengths.padding(none);

  transition: all 230ms;

  border-width: lengths.border-width(none);
  border-style: solid;
  border-color: currentColor;

  outline: none;

  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
