@use '../lengths.scss';
@use '../typography.scss';

%box {
  flex: 0 1 auto;

  box-sizing: border-box;

  outline: none;

  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%box--animated {
  transition: all 230ms;

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

%box--full {
  margin: lengths.margin('none');
  padding: lengths.padding('none');

  border-width: lengths.border-width('none');
  border-style: solid;
  border-color: currentColor;

  outline: none;

  font-family: typography.font-family('sans');
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
