@use '../values.scss';

%box {
  flex: 0 1 auto;

  box-sizing: border-box;
  margin: values.margin(none);
  padding: values.padding(none);

  transition: all 230ms;

  border-width: values.border-width(none);
  border-style: solid;
  border-color: currentColor;

  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-numeric: tabular-nums;
}
