@use 'sass:map';
@import '../mixins/states.scss';
@import '../mixins/shadows.scss';
@import '../variables/button-colors';

@mixin kind-variant($colors) {
  color: map.get($colors, color);
  border-width: 2px;
  border-style: solid;
  border-color: map.get($colors, border-color);
  border-radius: 2px;
  background-color: map.get($colors, background-color);

  appearance: none;

  @include on-focus-visible {
    border-color: map.get($colors, focus-border-color);
    background-color: map.get($colors, focus-background-color);
    @include use-focus-shadow(map.get($colors, focus-shadow-color));
  }

  @include on-hover {
    border-color: map.get($colors, hover-border-color);
    background-color: map.get($colors, hover-background-color);
    @include use-no-shadow;
  }

  @include on-active {
    border-color: map.get($colors, active-border-color);
    background-color: map.get($colors, active-background-color);
    @include use-no-shadow;
  }

  @include on-disabled {
    color: map.get($colors, disabled-color);
    border-color: map.get($colors, disabled-border-color);
    background-color: map.get($colors, disabled-background-color);
  }
}
