@use '../lengths.scss';
@use '../mixins/shadows.scss';
@use '../mixins/states.scss';
@use '../variables/input-colors.scss';

@mixin as-input(
  $background-color,
  $border-color,
  $hover-border-color,
  $focus-border-color,
  $focus-shadow-color,
  $active-border-color,
  $disabled-background-color,
  $disabled-border-color
) {
  border-width: lengths.border-width(default);

  border-color: #{$border-color};
  border-radius: theme('input-border-radius', lengths.border-radius(medium));
  background-color: #{$background-color};
  @include shadows.use-no-shadow;

  @include states.on-hover {
    border-color: $hover-border-color;
  }

  @include states.on-focus {
    border-color: $focus-border-color;
    @include shadows.use-focus-shadow($focus-shadow-color);
  }

  @include states.on-active {
    border-color: #{$active-border-color};
    @include shadows.use-no-shadow;
  }

  @include states.on-disabled {
    border-color: #{$disabled-border-color};
    background-color: #{$disabled-background-color};
  }
}

%input {
  @include as-input(
    $background-color: input-colors.$input-colors-background-color,
    $border-color: input-colors.$input-colors-border-color,
    $hover-border-color: input-colors.$input-colors-hover-border-color,
    $focus-border-color: input-colors.$input-colors-focus-border-color,
    $focus-shadow-color: input-colors.$input-colors-focus-shadow-color,
    $active-border-color: input-colors.$input-colors-active-border-color,
    $disabled-background-color: input-colors.$input-colors-disabled-background-color,
    $disabled-border-color: input-colors.$input-colors-disabled-border-color
  );
}

%input--invalid {
  @include as-input(
    $background-color: input-colors.$input-colors-invalid-background-color,
    $border-color: input-colors.$input-colors-invalid-border-color,
    $hover-border-color: input-colors.$input-colors-invalid-hover-border-color,
    $focus-border-color: input-colors.$input-colors-invalid-focus-border-color,
    $focus-shadow-color: input-colors.$input-colors-invalid-focus-shadow-color,
    $active-border-color: input-colors.$input-colors-invalid-active-border-color,
    $disabled-background-color: input-colors.$input-colors-invalid-disabled-background-color,
    $disabled-border-color: input-colors.$input-colors-invalid-disabled-border-color
  );
}
