@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';
@use '../../styles/mixins/states.scss';
@use '../../styles//functions.scss';

@mixin as-link($fontColor: info) {
  color: functions.theme('link-color', colors.font($fontColor));

  &:focus,
  &:focus-within,
  &.focus,
  &.is-focused {
    text-decoration: none;

    color: functions.theme('link-focus-color', colors.font($fontColor));
    border-radius: lengths.border-radius(small);
    outline: functions.theme(
        'link-focus-outline-color',
        colors.stroke(extra-light-highlight)
      )
      solid 2px;
    outline-offset: 1px;
  }

  &:visited,
  &.is-visited {
    color: functions.theme('link-visited-color', colors.font($fontColor));
  }

  &:active,
  &.active,
  &.is-active {
    color: functions.theme('link-active-color', colors.font($fontColor));
  }

  &:hover,
  &.is-hovered {
    text-decoration: underline;
  }
}

a {
  @include as-link();
}
