%rich-text--inline {
  color: inherit;

  font: inherit;

  strong {
    font: inherit;
    font-weight: bolder;
  }

  em {
    font: inherit;
    font-style: italic;
  }

  b {
    font: inherit;
    font-weight: bolder;
  }

  i {
    font: inherit;
    font-style: italic;
  }

  a {
    font: inherit;

    &:link {
      text-decoration: none;

      color: $colors-b500;
    }

    &:visited {
      color: $colors-p500;
    }

    &:active {
      color: $colors-r500;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  q {
    font: inherit;

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }

    cite {
      font: inherit;
      font-style: italic;
    }
  }

  code {
    padding-block: $sizes-x4;
    padding-inline: $sizes-x8;

    border-radius: $borders-radius-x2;
    background-color: $colors-n300;

    font: inherit;

    -webkit-font-smoothing: auto;
    @include use-text-style(mono);
  }

  time {
    font: inherit;
    @include use-text-color(info);
  }

  dfn {
    font: inherit;
    font-style: italic;
    @include use-text-color(info);
  }

  abbr {
    font: inherit;

    &[title] {
      text-decoration: underline dashed;

      border-bottom: none;
    }
  }

  del {
    text-decoration: line-through solid;

    font: inherit;
  }

  ins {
    text-decoration: underline solid;

    font: inherit;
  }

  sup,
  sub {
    position: relative;

    vertical-align: baseline;

    font: inherit;
    font-size: 75%;
    line-height: 0;
  }

  sup {
    top: -0.5em;
  }

  sub {
    bottom: -0.25em;
  }

  kbd {
    padding-block: $sizes-x4;
    padding-inline: $sizes-x8;

    border-width: $borders-width-x1;
    border-style: solid;
    border-color: currentColor;
    border-radius: $borders-radius-x2;

    -webkit-font-smoothing: auto;
    @include use-text-style(mono);
  }

  var {
    font: inherit;
    font-style: italic;
  }

  small {
    font: inherit;
    font-size: 80%;
  }
}

%rich-text--block {
  font: inherit;

  pre {
    font: inherit;
    @include use-text-style(mono);

    code {
      display: block;

      padding: $sizes-x16;

      font: inherit;
    }
  }
}
