%rich-text--inline {
  color: inherit;

  font: inherit;

  strong {
    font: inherit;
    font-weight: bolder;
  }

  em {
    font: inherit;
    font-style: italic;
  }

  b {
    font: inherit;
    font-weight: bolder;
  }

  i {
    font: inherit;
    font-style: italic;
  }

  a {
    font: inherit;

    &:link {
      text-decoration: none;

      color: $colors-b500;
    }

    &:visited,
    &.is-visited {
      color: $colors-p500;
    }

    &:active,
    &.is-active {
      color: $colors-r500;
    }

    &:hover,
    &.is-hovered {
      text-decoration: underline;
    }
  }

  q {
    font: inherit;

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }

    cite {
      font: inherit;
      font-style: italic;
    }
  }

  code {
    padding-block: $sizes-x4;
    padding-inline: $sizes-x8;

    border-radius: $borders-radius-x2;
    background-color: $colors-n300;

    font: inherit;

    -webkit-font-smoothing: auto;
    @include use-text-style(mono);
  }

  time {
    font: inherit;
    @include use-text-color(info);
  }

  dfn {
    font: inherit;
    font-style: italic;
    @include use-text-color(info);
  }

  abbr {
    font: inherit;

    &[title] {
      text-decoration: underline dashed;

      border-bottom: none;
    }
  }

  del {
    text-decoration: line-through solid;

    font: inherit;
  }

  ins {
    text-decoration: underline solid;

    font: inherit;
  }

  sup,
  sub {
    position: relative;

    vertical-align: baseline;

    font: inherit;
    font-size: 75%;
    line-height: 0;
  }

  sup {
    inset-block-start: -0.5em;
  }

  sub {
    inset-block-end: -0.25em;
  }

  kbd {
    padding-block: $sizes-x4;
    padding-inline: $sizes-x8;

    border-width: $borders-width-x1;
    border-style: solid;
    border-color: currentColor;
    border-radius: $borders-radius-x2;

    -webkit-font-smoothing: auto;
    @include use-text-style(mono);
  }

  var {
    font: inherit;
    font-style: italic;
  }

  small {
    font: inherit;
    font-size: 80%;
  }
}

%rich-text--block {
  font: inherit;

  h1 {
    @include use-text-style(h1);
  }

  h2 {
    @include use-text-style(s2);
  }

  h3 {
    @include use-text-style(p2);
  }

  h4 {
    @include use-text-style(c2);
  }

  h5 {
    @include use-text-style(micro);
  }

  h6 {
    @include use-text-style(micro);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;

    margin: $spaces-x16 $spaces-none;
  }

  p {
    @include use-text-style(p1);

    display: block;

    margin: $spaces-x16 $spaces-none;

    color: inherit;
  }

  ul,
  ol {
    display: block;

    margin: $spaces-x16 $spaces-none;
    padding-inline-start: $spaces-x40;
  }

  ul {
    @include use-text-style(p1);
    list-style-type: disc;
  }

  ol {
    @include use-text-style(p1);
    list-style-type: decimal;
  }

  li {
    display: list-item;

    text-align: inherit;

    color: inherit;

    font: inherit;
  }

  pre {
    margin: $spaces-x16 $spaces-none;

    font: inherit;
    @include use-text-style(mono);

    code {
      display: block;

      padding: $spaces-x16;

      color: inherit;

      font: inherit;
    }
  }
}
