@import '../../helpers/mixins.scss';
@import '../../helpers/theme-var.scss';
@import '../../styles/color-palette.scss';
@import '../../styles/dimensions.scss';
@import '../../styles/typography.scss';

$name: 'rcx-text-input';

$default-theme: (
  'border-width': dimension('border-width'),
  'border-radius': dimension('border-radius'),
  'padding-vertical': 0.75rem,
  'padding-horizontal': 1rem,
  'color': color('dark-800'),
  'placeholder-color': color('dark-500'),
  'background-color': color('white'),
  'border-color': color('dark-300'),
  'focus-border-color': color('dark-800'),
  'hover-border-color': color('dark-500'),
  'disabled-background-color': color('dark-300'),
  'disabled-color': color('dark-500'),
  'font-family': font-family('default'),
  'font-size': 0.875rem,
  'font-weight': 500,
  'line-height': 1.25rem,
  'transition-duration': dimension('short-transition-duration'),
  'error-color': color('red'),
  'error-border-color': color('red'),
);

:root {
  --rcx-text-input-border-width: var(--border);
  --rcx-text-input-border-radius: var(--border-radius);
  --rcx-text-input-padding-vertical: 0.75rem;
  --rcx-text-input-padding-horizontal: 1rem;
  --rcx-text-input-color: var(--color-dark-800);
  --rcx-text-input-placeholder-color: var(--color-dark-500);
  --rcx-text-input-background-color: var(--color-white);
  --rcx-text-input-border-color: var(--color-dark-300);
  --rcx-text-input-focus-border-color: var(--color-dark-800);
  --rcx-text-input-hover-border-color: var(--color-dark-500);
  --rcx-text-input-disabled-background-color: var(--color-dark-300);
  --rcx-text-input-disabled-color: var(--color-dark-500);
  --rcx-text-input-font-family: var(--default-font-family);
  --rcx-text-input-font-size: 0.875rem;
  --rcx-text-input-font-weight: 500;
  --rcx-text-input-line-height: 1.25rem;
  --rcx-text-input-transition-duration: 300ms;
  --rcx-text-input-error-color: var(--color-red);
  --rcx-text-input-error-border-color: var(--color-red);
}

.#{$name} {
  @include reset;

  width: 100%;

  padding:
    calc(#{theme-var('padding-vertical')} - 2 * #{theme-var('border-width')})
    calc(#{theme-var('padding-horizontal')} - 2 * #{theme-var('border-width')});

  transition:
    border-color theme-var('transition-duration'),
    color theme-var('transition-duration'),
    background-color theme-var('transition-duration');

  color: theme-var('color');

  border-width: theme-var('border-width');
  border-style: solid;
  border-color: theme-var('border-color');
  border-radius: theme-var('border-radius');

  outline: none;
  background-color: theme-var('background-color');

  font-family: theme-var('font-family');
  font-size: theme-var('font-size');
  font-weight: theme-var('font-weight');
  line-height: theme-var('line-height');

  &::placeholder {
    color: theme-var('placeholder-color');
  }

  @at-root textarea#{&} {
    resize: none;
  }

  &:not([disabled]):focus {
    border-color: theme-var('focus-border-color');
  }

  &:not([disabled]):hover {
    border-color: theme-var('hover-border-color');
  }

  &:disabled {
    cursor: not-allowed;

    color: theme-var('disabled-color');
    background-color: theme-var('disabled-background-color');
  }

  &--error {
    color: theme-var('error-color');
    border-color: theme-var('error-border-color');
  }
}
