@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';
@use '../../styles/typography.scss';

.rcx-toastbar {
  position: relative;

  min-width: lengths.size(232);
  max-width: lengths.size(416);

  border-radius: theme('toastbar-border-radius', lengths.border-radius(medium));

  @include typography.use-font-scale(p2);

  &--info {
    background-color: theme(
      'toastbar-info-background-color',
      colors.surface(tint)
    );
  }

  &--success {
    color: theme('toastbar-success-color', colors.status-font(on-success));
    background-color: theme(
      'toastbar-success-background-color',
      colors.status-background(success)
    );
  }

  &--error {
    color: theme('toastbar-error-color', colors.font(danger));
    background-color: theme(
      'toastbar-error-background-color',
      colors.status-background(danger)
    );
  }
}

.rcx-toastbar-inner {
  display: flex;

  padding: lengths.padding(16);
}

.rcx-toastbar-content {
  width: lengths.size(full);
  margin: lengths.margin(0) lengths.margin(16);
}

$toastbar-border-radius: theme(
  'toastbar-progressbar-border-radius',
  lengths.border-radius(medium)
);

.rcx-toastbar-progressbar {
  position: absolute;
  bottom: 0;

  overflow: hidden;

  width: 100%;
  height: lengths.size(4);

  border-radius: 0 0 $toastbar-border-radius $toastbar-border-radius;

  &::after {
    display: block;

    height: 100%;

    content: '';

    background-color: colors.surface-neutral-alpha(10);
  }
}
