@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';

$divider-color: theme('divider-color', colors.stroke(extra-light));

.rcx-divider {
  margin-block: lengths.margin(8);

  border: lengths.border-width(1) solid $divider-color;

  &--danger {
    border-color: colors.stroke(danger);
  }

  &--vertical {
    width: 0;
    height: lengths.size(20);
    margin-block: 0;
    margin-inline: lengths.margin(8);
  }
}
