@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';
@use '../../styles/typography.scss';

$divider-color: theme('divider-color', colors.neutral(300));

.rcx-divider {
  @include typography.use-font-scale(c1);
  position: relative;

  height: 1.5em;

  margin-block: lengths.margin(8);

  text-align: center;

  opacity: 0.5;
  color: colors.foreground(default);
  border: 0;
  outline: 0;

  // border: lengths.border-width(1) solid $divider-color;

  line-height: 1em;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    height: 2px;

    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: colors.neutral(400);
  }

  &::after {
    position: relative;

    display: inline-block;

    padding: 0 0.5em;

    content: attr(aria-label);
    // this is really the only tricky part, you need to specify the background color of the container element...
    background-color: #fcfcfa;

    line-height: 1.5em;
  }
}
