@use '../colors.scss';
@use '../../styles/functions.scss';

@mixin elevation-level($level, $border: true) {
  @if $level == 1 {
    box-shadow: 0
      0
      12px
      0
      functions.theme('color-shadow-elevation-1', colors.elevation(1));
  }
  @if $level == 2 {
    box-shadow: 0
        0
        2px
        0
        functions.theme('color-shadow-elevation-2x', colors.elevation('2x')),
      0
        0
        12px
        0
        functions.theme('color-shadow-elevation-2y', colors.elevation('2y'));
  }
  @if $border {
    border: 1px
      solid
      functions.theme(
        'color-shadow-elevation-border',
        colors.elevation(border)
      );
  }
}
