@use '../colors.scss';

@mixin elevation-level($level, $border: true) {
  @if $level == 1 {
    box-shadow: 0 0 12px 0 colors.shadow(elevation-1);
  }
  @if $level == 2 {
    box-shadow:
      0 0 2px 0 colors.shadow(elevation-2x),
      0 0 12px 0 colors.shadow(elevation-2y);
  }
  @if $border {
    border: 1px solid colors.shadow(elevation-border);
  }
}

@mixin elevation-modifiers {
  &--elevation-0 {
    box-shadow: none;
  }

  &--elevation-1 {
    @include elevation-level(1);
  }

  &--elevation-1nb {
    @include elevation-level(1, false);
  }

  &--elevation-2 {
    @include elevation-level(2);
  }

  &--elevation-2nb {
    @include elevation-level(2, false);
  }
}
