@mixin clickable {
  cursor: pointer;

  outline: 0;

  &.disabled,
  &:disabled {
    cursor: not-allowed;
  }
}

@mixin click-animation($excludeRole: false) {
  @include on-active {
    > *:not([role='#{$excludeRole}']),
    > *:not[aria-disabled='true'] {
      transform: translateY(1px);
    }
  }
}
