@mixin clickable {
  cursor: pointer;

  outline: 0;

  &.disabled,
  &:disabled {
    cursor: not-allowed;
  }
}

@mixin click-animation {
  @include on-active {
    > * {
      transform: translateY(1px);
    }
    @content;
  }
}
