@mixin clickable {
  cursor: pointer;

  outline: 0;

  &.disabled,
  &:disabled {
    cursor: not-allowed;
  }
}

@mixin click-animation($excludeRole: false) {
  @include on-active {
    > *:not([role='#{$excludeRole}']) {
      transform: translateY(1px);
    }
  }
}
