@use '../colors.scss';
@use '../lengths.scss';

@import './shadows.scss';
@import './states.scss';

@mixin focus-state($shadow: true) {
  border-width: lengths.border-width('default');
  border-style: solid;
  border-color: transparent;

  @include on-focus-visible {
    border-color: colors.stroke(highlight);
    border-radius: lengths.border-radius(medium);
    outline: 0;

    box-shadow: none;
    @if $shadow {
      @include use-focus-shadow(colors.stroke(extra-light-highlight));
    }
  }

  @content;
}
