@mixin use-text-style($style) {
  $style: map-get($text-styles, $style);

  letter-spacing: map-get($style, letter-spacing);

  font-family: map-get($style, font-family);
  font-size: map-get($style, font-size);
  font-weight: map-get($style, font-weight);
  line-height: map-get($style, line-height);
}

@mixin use-text-color($color-name) {
  color: map-get($text-colors, $color-name);
}

@mixin as-headline {
  @include use-text-style(h1);
}

@mixin as-subtitle($bold: false) {
  @if $bold {
    @include use-text-style(s2);
  }
  @else {
    @include use-text-style(s1);
  }
}

@mixin as-paragraph($bold: false) {
  @if $bold {
    @include use-text-style(p2);
  }
  @else {
    @include use-text-style(p1);
  }
}

@mixin as-caption($bold: false) {
  @if $bold {
    @include use-text-style(c2);
  }
  @else {
    @include use-text-style(c1);
  }
}

@mixin as-micro-text {
  @include use-text-style(micro);
}

@mixin with-ellipsing-text {
  overflow: hidden;

  text-overflow: ellipsis;
}
