@mixin use-text-style($style) {
  $style: map-get($text-styles, $style);

  letter-spacing: map-get($style, letter-spacing);

  font-family: map-get($style, font-family);
  font-size: map-get($style, font-size);
  font-weight: map-get($style, font-weight);
  line-height: map-get($style, line-height);
}

@mixin use-text-ellipsis {
  overflow: hidden;

  text-overflow: ellipsis;
}
