$borders-width-x1: theme('borders-width-x1', to-rem(1));
$borders-width-x2: theme('borders-width-x2', to-rem(get-map-value($borders, widths, 1)));
$borders-width-x4: theme('borders-width-x1', to-rem(4));

$borders-radius-x2: theme('borders-radius-x2', to-rem(get-map-value($borders, radii, 1)));
$borders-radius-full: 9999px;
