@use '../colors.scss';
@import '../functions.scss';

// primary
$button-primary-background-color: theme(
  'button-primary-background-color',
  colors.button(primary-default)
);
$button-primary-border-color: theme(
  'button-primary-border-color',
  colors.button(primary-default)
);
$button-primary-color: theme('button-primary-color', colors.button(on-primary));
$button-primary-hover-background-color: theme(
  'button-primary-hover-background-color',
  colors.button(primary-hover)
);
$button-primary-hover-border-color: theme(
  'button-primary-hover-border-color',
  colors.button(primary-hover)
);
$button-primary-active-background-color: theme(
  'button-primary-active-background-color',
  colors.button(primary-press)
);
$button-primary-active-border-color: theme(
  'button-primary-active-border-color',
  colors.button(primary-press)
);
$button-primary-focus-background-color: theme(
  'button-primary-focus-background-color',
  colors.button(primary-focus)
);
$button-primary-focus-border-color: theme(
  'button-primary-focus-border-color',
  colors.stroke(extra-dark)
);
$button-primary-focus-shadow-color: theme(
  'button-primary-focus-shadow-color',
  colors.stroke(extra-light-highlight)
);
$button-primary-disabled-background-color: theme(
  'button-primary-disabled-background-color',
  colors.button(primary-disabled)
);
$button-primary-disabled-border-color: theme(
  'button-primary-disabled-border-color',
  colors.button(primary-disabled)
);
$button-primary-disabled-color: theme(
  'button-primary-disabled-color',
  colors.button(on-primary)
);

// secondary
$button-secondary-background-color: theme(
  'button-secondary-background-color',
  colors.button(secondary-default)
);
$button-secondary-border-color: theme(
  'button-secondary-border-color',
  colors.button(secondary-default)
);
$button-secondary-color: theme(
  'button-secondary-color',
  colors.button(on-secondary)
);
$button-secondary-hover-background-color: theme(
  'button-secondary-hover-background-color',
  colors.button(secondary-hover)
);
$button-secondary-hover-border-color: theme(
  'button-secondary-hover-border-color',
  colors.button(secondary-hover)
);
$button-secondary-active-background-color: theme(
  'button-secondary-active-background-color',
  colors.button(secondary-press)
);
$button-secondary-active-border-color: theme(
  'button-secondary-active-border-color',
  colors.button(secondary-press)
);
$button-secondary-focus-background-color: theme(
  'button-secondary-focus-background-color',
  colors.button(secondary-focus)
);
$button-secondary-focus-border-color: theme(
  'button-secondary-focus-border-color',
  colors.stroke(extra-dark)
);
$button-secondary-focus-shadow-color: theme(
  'button-secondary-focus-shadow-color',
  colors.stroke(extra-light-highlight)
);
$button-secondary-disabled-background-color: theme(
  'button-secondary-disabled-background-color',
  colors.button(secondary-disabled)
);
$button-secondary-disabled-border-color: theme(
  'button-secondary-disabled-border-color',
  colors.button(secondary-disabled)
);
$button-secondary-disabled-color: theme(
  'button-secondary-disabled-color',
  colors.button(on-disabled)
);

// danger
$button-danger-background-color: theme(
  'button-danger-background-color',
  colors.button(danger-default)
);
$button-danger-border-color: theme(
  'button-danger-border-color',
  colors.button(danger-default)
);
$button-danger-color: theme('button-danger-color', colors.button(on-danger));
$button-danger-hover-background-color: theme(
  'button-danger-hover-background-color',
  colors.button(danger-hover)
);
$button-danger-hover-border-color: theme(
  'button-danger-hover-border-color',
  colors.button(danger-hover)
);
$button-danger-active-background-color: theme(
  'button-danger-active-background-color',
  colors.button(danger-press)
);
$button-danger-active-border-color: theme(
  'button-danger-active-border-color',
  colors.button(danger-press)
);
$button-danger-focus-background-color: theme(
  'button-danger-focus-background-color',
  colors.button(danger-focus)
);
$button-danger-focus-border-color: theme(
  'button-danger-focus-border-color',
  colors.stroke(extra-dark)
);
$button-danger-focus-shadow-color: theme(
  'button-danger-focus-shadow-color',
  colors.stroke(extra-light-error)
);
$button-danger-disabled-background-color: theme(
  'button-danger-disabled-background-color',
  colors.button(danger-disabled)
);
$button-danger-disabled-border-color: theme(
  'button-danger-disabled-border-color',
  colors.button(danger-disabled)
);
$button-danger-disabled-color: theme(
  'button-danger-disabled-color',
  colors.button(on-danger)
);

// secondary-danger
$button-secondary-danger-background-color: theme(
  'button-secondary-danger-background-color',
  colors.button(secondary-danger-default)
);
$button-secondary-danger-border-color: theme(
  'button-secondary-danger-border-color',
  colors.button(secondary-danger-default)
);
$button-secondary-danger-color: theme(
  'button-secondary-danger-color',
  colors.button(on-secondary-danger)
);
$button-secondary-danger-hover-background-color: theme(
  'button-secondary-danger-hover-background-color',
  colors.button(secondary-danger-hover)
);
$button-secondary-danger-hover-border-color: theme(
  'button-secondary-danger-hover-border-color',
  colors.button(secondary-danger-hover)
);
$button-secondary-danger-active-background-color: theme(
  'button-secondary-danger-active-background-color',
  colors.button(secondary-danger-press)
);
$button-secondary-danger-active-border-color: theme(
  'button-secondary-danger-active-border-color',
  colors.button(secondary-danger-press)
);
$button-secondary-danger-focus-background-color: theme(
  'button-secondary-danger-focus-background-color',
  colors.button(secondary-danger-focus)
);
$button-secondary-danger-focus-border-color: theme(
  'button-secondary-danger-focus-border-color',
  colors.stroke(extra-dark)
);
$button-secondary-danger-focus-shadow-color: theme(
  'button-secondary-danger-focus-shadow-color',
  colors.stroke(extra-light-error)
);
$button-secondary-danger-disabled-background-color: theme(
  'button-secondary-danger-disabled-background-color',
  colors.button(secondary-danger-disabled)
);
$button-secondary-danger-disabled-border-color: theme(
  'button-secondary-danger-disabled-border-color',
  colors.button(secondary-danger-disabled)
);
$button-secondary-danger-disabled-color: theme(
  'button-secondary-danger-disabled-color',
  colors.button(on-disabled)
);

// warning
$button-warning-background-color: theme(
  'button-warning-background-color',
  colors.button(warning-default)
);
$button-warning-border-color: theme(
  'button-warning-border-color',
  colors.button(warning-default)
);
$button-warning-color: theme('button-warning-color', colors.button(on-warning));
$button-warning-hover-background-color: theme(
  'button-warning-hover-background-color',
  colors.button(warning-hover)
);
$button-warning-hover-border-color: theme(
  'button-warning-hover-border-color',
  colors.button(warning-hover)
);
$button-warning-active-background-color: theme(
  'button-warning-active-background-color',
  colors.button(warning-press)
);
$button-warning-active-border-color: theme(
  'button-warning-active-border-color',
  colors.button(warning-press)
);
$button-warning-focus-background-color: theme(
  'button-warning-focus-background-color',
  colors.button(warning-focus)
);
$button-warning-focus-border-color: theme(
  'button-warning-focus-border-color',
  colors.stroke(extra-dark)
);
$button-warning-focus-shadow-color: theme(
  'button-warning-focus-shadow-color',
  colors.stroke(warning)
);
$button-warning-disabled-background-color: theme(
  'button-warning-disabled-background-color',
  colors.button(warning-disabled)
);
$button-warning-disabled-border-color: theme(
  'button-warning-disabled-border-color',
  colors.button(warning-disabled)
);
$button-warning-disabled-color: theme(
  'button-warning-disabled-color',
  colors.button(on-disabled)
);

// secondary-warning
$button-secondary-warning-background-color: theme(
  'button-secondary-warning-background-color',
  colors.button(secondary-warning-default)
);
$button-secondary-warning-border-color: theme(
  'button-secondary-warning-border-color',
  colors.button(secondary-warning-default)
);
$button-secondary-warning-color: theme(
  'button-secondary-warning-color',
  colors.button(on-secondary-warning)
);
$button-secondary-warning-hover-background-color: theme(
  'button-secondary-warning-hover-background-color',
  colors.button(secondary-warning-hover)
);
$button-secondary-warning-hover-border-color: theme(
  'button-secondary-warning-hover-border-color',
  colors.button(secondary-warning-hover)
);
$button-secondary-warning-active-background-color: theme(
  'button-secondary-warning-active-background-color',
  colors.button(secondary-warning-press)
);
$button-secondary-warning-active-border-color: theme(
  'button-secondary-warning-active-border-color',
  colors.button(secondary-warning-press)
);
$button-secondary-warning-focus-background-color: theme(
  'button-secondary-warning-focus-background-color',
  colors.button(secondary-warning-focus)
);
$button-secondary-warning-focus-border-color: theme(
  'button-secondary-warning-focus-border-color',
  colors.stroke(extra-dark)
);
$button-secondary-warning-focus-shadow-color: theme(
  'button-secondary-warning-focus-shadow-color',
  colors.stroke(warning)
);
$button-secondary-warning-disabled-background-color: theme(
  'button-secondary-warning-disabled-background-color',
  colors.button(secondary-warning-disabled)
);
$button-secondary-warning-disabled-border-color: theme(
  'button-secondary-warning-disabled-border-color',
  colors.button(secondary-warning-disabled)
);
$button-secondary-warning-disabled-color: theme(
  'button-secondary-warning-disabled-color',
  colors.button(on-disabled)
);

// success
$button-success-background-color: theme(
  'button-success-background-color',
  colors.button(success-default)
);
$button-success-border-color: theme(
  'button-success-border-color',
  colors.button(success-default)
);
$button-success-color: theme('button-success-color', colors.button(on-success));
$button-success-hover-background-color: theme(
  'button-success-hover-background-color',
  colors.button(success-hover)
);
$button-success-hover-border-color: theme(
  'button-success-hover-border-color',
  colors.button(success-hover)
);
$button-success-active-background-color: theme(
  'button-success-active-background-color',
  colors.button(success-press)
);
$button-success-active-border-color: theme(
  'button-success-active-border-color',
  colors.button(success-press)
);
$button-success-focus-background-color: theme(
  'button-success-focus-background-color',
  colors.button(success-focus)
);
$button-success-focus-border-color: theme(
  'button-success-focus-border-color',
  colors.stroke(extra-dark)
);
$button-success-focus-shadow-color: theme(
  'button-success-focus-shadow-color',
  colors.stroke(success)
);
$button-success-disabled-background-color: theme(
  'button-success-disabled-background-color',
  colors.button(success-disabled)
);
$button-success-disabled-border-color: theme(
  'button-success-disabled-border-color',
  colors.button(success-disabled)
);
$button-success-disabled-color: theme(
  'button-success-disabled-color',
  colors.button(on-disabled)
);

// secondary-success
$button-secondary-success-background-color: theme(
  'button-secondary-success-background-color',
  colors.button(secondary-success-default)
);
$button-secondary-success-border-color: theme(
  'button-secondary-success-border-color',
  colors.button(secondary-success-default)
);
$button-secondary-success-color: theme(
  'button-secondary-success-color',
  colors.button(on-secondary-success)
);
$button-secondary-success-hover-background-color: theme(
  'button-secondary-success-hover-background-color',
  colors.button(secondary-success-hover)
);
$button-secondary-success-hover-border-color: theme(
  'button-secondary-success-hover-border-color',
  colors.button(secondary-success-hover)
);
$button-secondary-success-active-background-color: theme(
  'button-secondary-success-active-background-color',
  colors.button(secondary-success-press)
);
$button-secondary-success-active-border-color: theme(
  'button-secondary-success-active-border-color',
  colors.button(secondary-success-press)
);
$button-secondary-success-focus-background-color: theme(
  'button-secondary-success-focus-background-color',
  colors.button(secondary-success-focus)
);
$button-secondary-success-focus-border-color: theme(
  'button-secondary-success-focus-border-color',
  colors.stroke(extra-dark)
);
$button-secondary-success-focus-shadow-color: theme(
  'button-secondary-success-focus-shadow-color',
  colors.stroke(success)
);
$button-secondary-success-disabled-background-color: theme(
  'button-secondary-success-disabled-background-color',
  colors.button(secondary-success-disabled)
);
$button-secondary-success-disabled-border-color: theme(
  'button-secondary-success-disabled-border-color',
  colors.button(secondary-success-disabled)
);
$button-secondary-success-disabled-color: theme(
  'button-secondary-success-disabled-color',
  colors.button(on-disabled)
);

// empty
$button-empty-background-color: theme(
  'button-empty-background-color',
  colors.surface(light)
);
$button-empty-border-color: theme(
  'button-empty-border-color',
  colors.neutral(400)
);
$button-empty-color: theme(
  'button-empty-color',
  colors.foreground(alternative)
);
$button-empty-hover-background-color: theme(
  'button-empty-hover-background-color',
  colors.surface(light)
);
$button-empty-hover-border-color: theme(
  'button-empty-hover-border-color',
  colors.neutral(500)
);
$button-empty-active-background-color: theme(
  'button-empty-active-background-color',
  colors.surface(light)
);
$button-empty-active-border-color: theme(
  'button-empty-active-border-color',
  colors.neutral(600)
);
$button-empty-focus-background-color: theme(
  'button-empty-focus-background-color',
  colors.surface(light)
);
$button-empty-focus-border-color: theme(
  'button-empty-focus-border-color',
  colors.primary(500)
);
$button-empty-focus-shadow-color: theme(
  'button-empty-focus-shadow-color',
  colors.primary(100)
);
$button-empty-disabled-background-color: theme(
  'button-empty-disabled-background-color',
  colors.neutral(200)
);
$button-empty-disabled-border-color: theme(
  'button-empty-disabled-border-color',
  colors.neutral(200)
);
$button-empty-disabled-color: theme(
  'button-empty-disabled-color',
  colors.foreground(alternative)
);

// off
$button-off-background-color: theme(
  'button-off-background-color',
  colors.neutral(400)
);
$button-off-border-color: theme('button-off-border-color', colors.neutral(400));
$button-off-color: theme('button-off-color', colors.foreground(alternative));
$button-off-hover-background-color: theme(
  'button-off-hover-background-color',
  colors.neutral(500)
);
$button-off-hover-border-color: theme(
  'button-off-hover-border-color',
  colors.neutral(500)
);
$button-off-active-background-color: theme(
  'button-off-active-background-color',
  colors.neutral(600)
);
$button-off-active-border-color: theme(
  'button-off-active-border-color',
  colors.neutral(600)
);
$button-off-focus-background-color: theme(
  'button-off-focus-background-color',
  colors.neutral(500)
);
$button-off-focus-border-color: theme(
  'button-off-focus-border-color',
  colors.primary(500)
);
$button-off-focus-shadow-color: theme(
  'button-off-focus-shadow-color',
  colors.primary(100)
);
$button-off-disabled-background-color: theme(
  'button-off-disabled-background-color',
  colors.neutral(400)
);
$button-off-disabled-border-color: theme(
  'button-off-disabled-border-color',
  colors.neutral(400)
);
$button-off-disabled-color: theme(
  'button-off-disabled-color',
  colors.neutral(200)
);
