@use '../colors.scss';
@use '~@rocket.chat/fuselage-tokens/dist/button.scss';
@use '~@rocket.chat/fuselage-tokens/dist/stroke.scss';
@import './button-colors.scss';

@function -color($type, $name, $value) {
  @return var(--rcx-button-#{$type}-#{$name}, $value);
}

@function palette-color($name) {
  @return map-get(stroke.$stroke, $name);
}

@function palette-button-color($name) {
  @return map-get(button.$button, $name);
}

@function color($type) {
  $button-type: 'on-' + $type;
  @return map-get(button.$button, $button-type);
}
@function hover($type) {
  $button-type: 'hover-' + $type;
  @return map-get(button.$button, $button-type);
}

$primary: (
  background-color: $button-primary-background-color,
  border-color: $button-primary-border-color,
  color: $button-primary-color,
  hover-background-color: $button-primary-hover-background-color,
  hover-border-color: $button-primary-hover-border-color,
  active-background-color: $button-primary-active-background-color,
  active-border-color: $button-primary-active-border-color,
  focus-background-color: $button-primary-focus-background-color,
  focus-border-color: $button-primary-focus-border-color,
  focus-shadow-color: $button-primary-focus-shadow-color,
  disabled-background-color: $button-primary-disabled-background-color,
  disabled-border-color: $button-primary-disabled-border-color,
  disabled-color: $button-primary-disabled-color,
);

$secondary: (
  background-color: $button-secondary-background-color,
  border-color: $button-secondary-border-color,
  color: $button-secondary-color,
  hover-background-color: $button-secondary-hover-background-color,
  hover-border-color: $button-secondary-hover-border-color,
  active-background-color: $button-secondary-active-background-color,
  active-border-color: $button-secondary-active-border-color,
  focus-background-color: $button-secondary-focus-background-color,
  focus-border-color: $button-secondary-focus-border-color,
  focus-shadow-color: $button-secondary-focus-shadow-color,
  disabled-background-color: $button-secondary-disabled-background-color,
  disabled-border-color: $button-secondary-disabled-border-color,
  disabled-color: $button-secondary-disabled-color,
);

$danger: (
  background-color: $button-danger-background-color,
  border-color: $button-danger-border-color,
  color: $button-danger-color,
  hover-background-color: $button-danger-hover-background-color,
  hover-border-color: $button-danger-hover-border-color,
  active-background-color: $button-danger-active-background-color,
  active-border-color: $button-danger-active-border-color,
  focus-background-color: $button-danger-focus-background-color,
  focus-border-color: $button-danger-focus-border-color,
  focus-shadow-color: $button-danger-focus-shadow-color,
  disabled-background-color: $button-danger-disabled-background-color,
  disabled-border-color: $button-danger-disabled-border-color,
  disabled-color: $button-danger-disabled-color,
);

$secondary-danger: (
  background-color: $button-secondary-danger-background-color,
  border-color: $button-secondary-danger-border-color,
  color: $button-secondary-danger-color,
  hover-background-color: $button-secondary-danger-hover-background-color,
  hover-border-color: $button-secondary-danger-hover-border-color,
  active-background-color: $button-secondary-danger-active-background-color,
  active-border-color: $button-secondary-danger-active-border-color,
  focus-background-color: $button-secondary-danger-focus-background-color,
  focus-border-color: $button-secondary-danger-focus-border-color,
  focus-shadow-color: $button-secondary-danger-focus-shadow-color,
  disabled-background-color: $button-secondary-danger-disabled-background-color,
  disabled-border-color: $button-secondary-danger-disabled-border-color,
  disabled-color: $button-secondary-danger-disabled-color,
);

$warning: (
  background-color: $button-warning-background-color,
  border-color: $button-warning-border-color,
  color: $button-warning-color,
  hover-background-color: $button-warning-hover-background-color,
  hover-border-color: $button-warning-hover-border-color,
  active-background-color: $button-warning-active-background-color,
  active-border-color: $button-warning-active-border-color,
  focus-background-color: $button-warning-focus-background-color,
  focus-border-color: $button-warning-focus-border-color,
  focus-shadow-color: $button-warning-focus-shadow-color,
  disabled-background-color: $button-warning-disabled-background-color,
  disabled-border-color: $button-warning-disabled-border-color,
  disabled-color: $button-warning-disabled-color,
);

$secondary-warning: (
  background-color: $button-secondary-warning-background-color,
  border-color: $button-secondary-warning-border-color,
  color: $button-secondary-warning-color,
  hover-background-color: $button-secondary-warning-hover-background-color,
  hover-border-color: $button-secondary-warning-hover-border-color,
  active-background-color: $button-secondary-warning-active-background-color,
  active-border-color: $button-secondary-warning-active-border-color,
  focus-background-color: $button-secondary-warning-focus-background-color,
  focus-border-color: $button-secondary-warning-focus-border-color,
  focus-shadow-color: $button-secondary-warning-focus-shadow-color,
  disabled-background-color: $button-secondary-warning-disabled-background-color,
  disabled-border-color: $button-secondary-warning-disabled-border-color,
  disabled-color: $button-secondary-warning-disabled-color,
);

$success: (
  background-color: $button-success-background-color,
  border-color: $button-success-border-color,
  color: $button-success-color,
  hover-background-color: $button-success-hover-background-color,
  hover-border-color: $button-success-hover-border-color,
  active-background-color: $button-success-active-background-color,
  active-border-color: $button-success-active-border-color,
  focus-background-color: $button-success-focus-background-color,
  focus-border-color: $button-success-focus-border-color,
  focus-shadow-color: $button-success-focus-shadow-color,
  disabled-background-color: $button-success-disabled-background-color,
  disabled-border-color: $button-success-disabled-border-color,
  disabled-color: $button-success-disabled-color,
);

$secondary-success: (
  background-color: $button-secondary-success-background-color,
  border-color: $button-secondary-success-border-color,
  color: $button-secondary-success-color,
  hover-background-color: $button-secondary-success-hover-background-color,
  hover-border-color: $button-secondary-success-hover-border-color,
  active-background-color: $button-secondary-success-active-background-color,
  active-border-color: $button-secondary-success-active-border-color,
  focus-background-color: $button-secondary-success-focus-background-color,
  focus-border-color: $button-secondary-success-focus-border-color,
  focus-shadow-color: $button-secondary-success-focus-shadow-color,
  disabled-background-color: $button-secondary-success-disabled-background-color,
  disabled-border-color: $button-secondary-success-disabled-border-color,
  disabled-color: $button-secondary-success-disabled-color,
);

// icon

$icon: (
  background-color: -color('icon', 'background-color', transparent),
  border-color: -color('icon', 'border-color', transparent),
  color: -color('icon', 'color', colors.neutral(800)),
  hover-background-color: -color('icon', 'hover-background-color', colors.neutral(400)),
  hover-border-color: -color('icon', 'hover-border-color', colors.neutral(400)),
  active-background-color: -color('icon', 'active-background-color', colors.neutral(500)),
  active-border-color: -color('icon', 'active-border-color', colors.neutral(500)),
  focus-background-color: -color('icon', 'focus-background-color', colors.neutral(400)),
  focus-border-color: -color('icon', 'focus-border-color', colors.neutral(500)),
  focus-shadow-color: -color('icon', 'focus-shadow-color', colors.neutral(100)),
  disabled-background-color: -color('icon', 'disabled-background-color', transparent),
  disabled-border-color: -color('icon', 'disabled-border-color', transparent),
  disabled-color: -color('icon', 'disabled-color', colors.neutral(600)),
);

$icon-info: (
  background-color: -color('icon-info', 'background-color', transparent),
  border-color: -color('icon-info', 'border-color', transparent),
  color: -color('icon-info', 'color', colors.info(600)),
  hover-background-color: -color('icon-info', 'hover-background-color', colors.neutral(400)),
  hover-border-color: -color('icon-info', 'hover-border-color', colors.neutral(400)),
  active-background-color: -color('icon-info', 'active-background-color', colors.info(400)),
  active-border-color: -color('icon-info', 'active-border-color', colors.info(400)),
  focus-background-color: -color('icon-info', 'focus-background-color', colors.info(300)),
  focus-border-color: -color('icon-info', 'focus-border-color', colors.info(400)),
  focus-shadow-color: -color('icon-info', 'focus-shadow-color', colors.info(100)),
  disabled-background-color: -color('icon', 'disabled-background-color', transparent),
  disabled-border-color: -color('icon', 'disabled-border-color', transparent),
  disabled-color: -color('icon-info', 'disabled-color', colors.info(200)),
);

$icon-success: (
  background-color: -color('icon-success', 'background-color', transparent),
  border-color: -color('icon-success', 'border-color', transparent),
  color: -color('icon-success', 'color', colors.success(800)),
  hover-background-color: -color('icon-success', 'hover-background-color', colors.neutral(400)),
  hover-border-color: -color('icon-success', 'hover-border-color', colors.neutral(400)),
  active-background-color: -color('icon-success', 'active-background-color', colors.success(400)),
  active-border-color: -color('icon-success', 'active-border-color', colors.success(400)),
  focus-background-color: -color('icon-success', 'focus-background-color', colors.success(300)),
  focus-border-color: -color('icon-success', 'focus-border-color', colors.success(400)),
  focus-shadow-color: -color('icon-success', 'focus-shadow-color', colors.success(100)),
  disabled-background-color: -color('icon', 'disabled-background-color', transparent),
  disabled-border-color: -color('icon', 'disabled-border-color', transparent),
  disabled-color: -color('icon-success', 'disabled-color', colors.success(200)),
);

$icon-warning: (
  background-color: -color('icon-warning', 'background-color', transparent),
  border-color: -color('icon-warning', 'border-color', transparent),
  color: -color('icon-warning', 'color', colors.warning(900)),
  hover-background-color: -color('icon-warning', 'hover-background-color', colors.neutral(400)),
  hover-border-color: -color('icon-warning', 'hover-border-color', colors.neutral(400)),
  active-background-color: -color('icon-warning', 'active-background-color', colors.warning(400)),
  active-border-color: -color('icon-warning', 'active-border-color', colors.warning(400)),
  focus-background-color: -color('icon-warning', 'focus-background-color', colors.warning(300)),
  focus-border-color: -color('icon-warning', 'focus-border-color', colors.warning(400)),
  focus-shadow-color: -color('icon-warning', 'focus-shadow-color', colors.warning(100)),
  disabled-background-color: -color('icon', 'disabled-background-color', transparent),
  disabled-border-color: -color('icon', 'disabled-border-color', transparent),
  disabled-color: -color('icon-warning', 'disabled-color', colors.warning(200)),
);

$icon-danger: (
  background-color: -color('icon-danger', 'background-color', transparent),
  border-color: -color('icon-danger', 'border-color', transparent),
  color: -color('icon-danger', 'color', colors.danger(500)),
  hover-background-color: -color('icon-danger', 'hover-background-color', colors.neutral(400)),
  hover-border-color: -color('icon-danger', 'hover-border-color', colors.neutral(400)),
  active-background-color: -color('icon-danger', 'active-background-color', colors.danger(400)),
  active-border-color: -color('icon-danger', 'active-border-color', colors.danger(400)),
  focus-background-color: -color('icon-danger', 'focus-background-color', colors.danger(300)),
  focus-border-color: -color('icon-danger', 'focus-border-color', colors.danger(400)),
  focus-shadow-color: -color('icon-danger', 'focus-shadow-color', colors.danger(100)),
  disabled-background-color: -color('icon', 'disabled-background-color', transparent),
  disabled-border-color: -color('icon', 'disabled-border-color', transparent),
  disabled-color: -color('icon-danger', 'disabled-color', colors.danger(200)),
);
