$button-colors-primary-background-color: theme('button-colors-primary-background-color', $colors-b500);
$button-colors-primary-border-color: theme('button-colors-primary-border-color', $colors-b500);
$button-colors-primary-color: theme('button-colors-primary-color', $colors-white);
$button-colors-primary-hover-background-color: theme('button-colors-primary-hover-background-color', $colors-b600);
$button-colors-primary-hover-border-color: theme('button-colors-primary-hover-border-color', $colors-b600);
$button-colors-primary-active-background-color: theme('button-colors-primary-active-background-color', $colors-b700);
$button-colors-primary-active-border-color: theme('button-colors-primary-active-border-color', $colors-b700);
$button-colors-primary-focus-background-color: theme('button-colors-primary-focus-background-color', $colors-b500);
$button-colors-primary-focus-border-color: theme('button-colors-primary-focus-border-color', $colors-b700);
$button-colors-primary-focus-shadow-color: theme('button-colors-primary-focus-shadow-color', $colors-b100);
$button-colors-primary-disabled-background-color: theme('button-colors-primary-disabled-background-color', $colors-b200);
$button-colors-primary-disabled-border-color: theme('button-colors-primary-disabled-border-color', $colors-b200);
$button-colors-primary-disabled-color: theme('button-colors-primary-disabled-color', $colors-white);

$button-colors-secondary-background-color: theme('button-colors-secondary-background-color', $colors-n300);
$button-colors-secondary-border-color: theme('button-colors-secondary-border-color', $colors-n300);
$button-colors-secondary-color: theme('button-colors-secondary-color', $colors-n800);
$button-colors-secondary-hover-background-color: theme('button-colors-secondary-hover-background-color', $colors-n400);
$button-colors-secondary-hover-border-color: theme('button-colors-secondary-hover-border-color', $colors-n400);
$button-colors-secondary-active-background-color: theme('button-colors-secondary-active-background-color', $colors-n500);
$button-colors-secondary-active-border-color: theme('button-colors-secondary-active-border-color', $colors-n500);
$button-colors-secondary-focus-background-color: theme('button-colors-secondary-focus-background-color', $colors-n300);
$button-colors-secondary-focus-border-color: theme('button-colors-secondary-focus-border-color', $colors-n500);
$button-colors-secondary-focus-shadow-color: theme('button-colors-secondary-focus-shadow-color', $colors-n100);
$button-colors-secondary-disabled-background-color: theme('button-colors-secondary-disabled-background-color', $colors-n100);
$button-colors-secondary-disabled-border-color: theme('button-colors-secondary-disabled-border-color', $colors-n100);
$button-colors-secondary-disabled-color: theme('button-colors-secondary-disabled-color', $colors-n400);

$button-colors-danger-background-color: theme('button-colors-danger-background-color', $colors-r500);
$button-colors-danger-border-color: theme('button-colors-danger-border-color', $colors-r500);
$button-colors-danger-color: theme('button-colors-danger-color', $colors-white);
$button-colors-danger-hover-background-color: theme('button-colors-danger-hover-background-color', $colors-r600);
$button-colors-danger-hover-border-color: theme('button-colors-danger-hover-border-color', $colors-r600);
$button-colors-danger-active-background-color: theme('button-colors-danger-active-background-color', $colors-r700);
$button-colors-danger-active-border-color: theme('button-colors-danger-active-border-color', $colors-r700);
$button-colors-danger-focus-background-color: theme('button-colors-danger-focus-background-color', $colors-r500);
$button-colors-danger-focus-border-color: theme('button-colors-danger-focus-border-color', $colors-r700);
$button-colors-danger-focus-shadow-color: theme('button-colors-danger-focus-shadow-color', $colors-r100);
$button-colors-danger-disabled-background-color: theme('button-colors-danger-disabled-background-color', $colors-r200);
$button-colors-danger-disabled-border-color: theme('button-colors-danger-disabled-border-color', $colors-r200);
$button-colors-danger-disabled-color: theme('button-colors-danger-disabled-color', $colors-white);

$button-colors-empty-background-color: theme('button-colors-empty-background-color', $colors-white);
$button-colors-empty-border-color: theme('button-colors-empty-border-color', $colors-n400);
$button-colors-empty-color: theme('button-colors-empty-color', $colors-white);
$button-colors-empty-hover-background-color: theme('button-colors-empty-hover-background-color', $colors-white);
$button-colors-empty-hover-border-color: theme('button-colors-empty-hover-border-color', $colors-n500);
$button-colors-empty-active-background-color: theme('button-colors-empty-active-background-color', $colors-white);
$button-colors-empty-active-border-color: theme('button-colors-empty-active-border-color', $colors-n600);
$button-colors-empty-focus-background-color: theme('button-colors-empty-focus-background-color', $colors-white);
$button-colors-empty-focus-border-color: theme('button-colors-empty-focus-border-color', $colors-b500);
$button-colors-empty-focus-shadow-color: theme('button-colors-empty-focus-shadow-color', $colors-b100);
$button-colors-empty-disabled-background-color: theme('button-colors-empty-disabled-background-color', $colors-n200);
$button-colors-empty-disabled-border-color: theme('button-colors-empty-disabled-border-color', $colors-n200);
$button-colors-empty-disabled-color: theme('button-colors-empty-disabled-color', $colors-white);

$button-colors-off-background-color: theme('button-colors-off-background-color', $colors-n400);
$button-colors-off-border-color: theme('button-colors-off-border-color', $colors-n400);
$button-colors-off-color: theme('button-colors-off-color', $colors-white);
$button-colors-off-hover-background-color: theme('button-colors-off-hover-background-color', $colors-n500);
$button-colors-off-hover-border-color: theme('button-colors-off-hover-border-color', $colors-n500);
$button-colors-off-active-background-color: theme('button-colors-off-active-background-color', $colors-n600);
$button-colors-off-active-border-color: theme('button-colors-off-active-border-color', $colors-n600);
$button-colors-off-focus-background-color: theme('button-colors-off-focus-background-color', $colors-n500);
$button-colors-off-focus-border-color: theme('button-colors-off-focus-border-color', $colors-b500);
$button-colors-off-focus-shadow-color: theme('button-colors-off-focus-shadow-color', $colors-b100);
$button-colors-off-disabled-background-color: theme('button-colors-off-disabled-background-color', $colors-n400);
$button-colors-off-disabled-border-color: theme('button-colors-off-disabled-border-color', $colors-n400);
$button-colors-off-disabled-color: theme('button-colors-off-disabled-color', $colors-n200);

$button-colors-nude-background-color: theme('button-colors-nude-background-color', transparent);
$button-colors-nude-border-color: theme('button-colors-nude-border-color', transparent);
$button-colors-nude-hover-background-color: theme('button-colors-nude-hover-background-color', transparent);
$button-colors-nude-hover-border-color: theme('button-colors-nude-hover-border-color', transparent);
$button-colors-nude-active-background-color: theme('button-colors-nude-active-background-color', transparent);
$button-colors-nude-active-border-color: theme('button-colors-nude-active-border-color', transparent);
$button-colors-nude-focus-background-color: theme('button-colors-nude-focus-background-color', transparent);
$button-colors-nude-disabled-background-color: theme('button-colors-nude-disabled-background-color', transparent);
$button-colors-nude-disabled-border-color: theme('button-colors-nude-disabled-border-color', transparent);

$button-colors-nude-danger-color: theme('button-colors-nude-danger-color', $colors-r500);
$button-colors-nude-danger-active-color: theme('button-colors-nude-danger-active-color', $colors-r700);
$button-colors-nude-danger-focus-border-color: theme('button-colors-nude-danger-focus-border-color', $colors-r500);
$button-colors-nude-danger-focus-shadow-color: theme('button-colors-nude-danger-focus-shadow-color', $colors-r100);
$button-colors-nude-danger-disabled-color: theme('button-colors-nude-danger-disabled-color', $colors-r200);

$button-colors-nude-primary-color: theme('button-colors-nude-primary-color', $colors-b500);
$button-colors-nude-primary-active-color: theme('button-colors-nude-primary-active-color', $colors-b700);
$button-colors-nude-primary-focus-border-color: theme('button-colors-nude-primary-focus-border-color', $colors-b500);
$button-colors-nude-primary-focus-shadow-color: theme('button-colors-nude-primary-focus-shadow-color', $colors-b100);
$button-colors-nude-primary-disabled-color: theme('button-colors-nude-primary-disabled-color', $colors-b200);
