@use '../colors.scss';

$button-colors-primary-background-color: colors.primary(500);
$button-colors-primary-border-color: colors.primary(500);
$button-colors-primary-color: colors.foreground(alternative);
$button-colors-primary-hover-background-color: colors.primary(600);
$button-colors-primary-hover-border-color: colors.primary(600);
$button-colors-primary-active-background-color: colors.primary(700);
$button-colors-primary-active-border-color: colors.primary(700);
$button-colors-primary-focus-background-color: colors.primary(500);
$button-colors-primary-focus-border-color: colors.primary(700);
$button-colors-primary-focus-shadow-color: colors.primary(100);
$button-colors-primary-disabled-background-color: colors.primary(200);
$button-colors-primary-disabled-border-color: colors.primary(200);
$button-colors-primary-disabled-color: colors.foreground(alternative);

$button-colors-secondary-background-color: colors.neutral(300);
$button-colors-secondary-border-color: colors.neutral(300);
$button-colors-secondary-color: colors.neutral(800);
$button-colors-secondary-hover-background-color: colors.neutral(400);
$button-colors-secondary-hover-border-color: colors.neutral(400);
$button-colors-secondary-active-background-color: colors.neutral(500);
$button-colors-secondary-active-border-color: colors.neutral(500);
$button-colors-secondary-focus-background-color: colors.neutral(300);
$button-colors-secondary-focus-border-color: colors.neutral(500);
$button-colors-secondary-focus-shadow-color: colors.neutral(100);
$button-colors-secondary-disabled-background-color: colors.neutral(100);
$button-colors-secondary-disabled-border-color: colors.neutral(100);
$button-colors-secondary-disabled-color: colors.neutral(400);

$button-colors-danger-background-color: colors.danger(500);
$button-colors-danger-border-color: colors.danger(500);
$button-colors-danger-color: colors.foreground(alternative);
$button-colors-danger-hover-background-color: colors.danger(600);
$button-colors-danger-hover-border-color: colors.danger(600);
$button-colors-danger-active-background-color: colors.danger(700);
$button-colors-danger-active-border-color: colors.danger(700);
$button-colors-danger-focus-background-color: colors.danger(500);
$button-colors-danger-focus-border-color: colors.danger(700);
$button-colors-danger-focus-shadow-color: colors.danger(100);
$button-colors-danger-disabled-background-color: colors.danger(200);
$button-colors-danger-disabled-border-color: colors.danger(200);
$button-colors-danger-disabled-color: colors.foreground(alternative);

$button-colors-empty-background-color: colors.surface();
$button-colors-empty-border-color: colors.neutral(400);
$button-colors-empty-color: colors.foreground(alternative);
$button-colors-empty-hover-background-color: colors.surface();
$button-colors-empty-hover-border-color: colors.neutral(500);
$button-colors-empty-active-background-color: colors.surface();
$button-colors-empty-active-border-color: colors.neutral(600);
$button-colors-empty-focus-background-color: colors.surface();
$button-colors-empty-focus-border-color: colors.primary(500);
$button-colors-empty-focus-shadow-color: colors.primary(100);
$button-colors-empty-disabled-background-color: colors.neutral(200);
$button-colors-empty-disabled-border-color: colors.neutral(200);
$button-colors-empty-disabled-color: colors.foreground(alternative);

$button-colors-off-background-color: colors.neutral(400);
$button-colors-off-border-color: colors.neutral(400);
$button-colors-off-color: colors.foreground(alternative);
$button-colors-off-hover-background-color: colors.neutral(500);
$button-colors-off-hover-border-color: colors.neutral(500);
$button-colors-off-active-background-color: colors.neutral(600);
$button-colors-off-active-border-color: colors.neutral(600);
$button-colors-off-focus-background-color: colors.neutral(500);
$button-colors-off-focus-border-color: colors.primary(500);
$button-colors-off-focus-shadow-color: colors.primary(100);
$button-colors-off-disabled-background-color: colors.neutral(400);
$button-colors-off-disabled-border-color: colors.neutral(400);
$button-colors-off-disabled-color: colors.neutral(200);
