@use '../colors.scss';
@use 'sass:map';
@use '~@rocket.chat/fuselage-tokens/dist/button.scss';
@use '~@rocket.chat/fuselage-tokens/dist/stroke.scss';
@import './button-colors.scss';

@function -color($type, $name, $value) {
  @return var(--rcx-color-button-#{$type}-#{$name}, $value);
}

@function palette-color($name) {
  @return map-get(stroke.$stroke, $name);
}

@function palette-button-color($name) {
  @return map-get(button.$button, $name);
}

@function color($type) {
  $button-type: 'on-' + $type;
  @return map-get(button.$button, $button-type);
}
@function hover($type) {
  $button-type: 'hover-' + $type;
  @return map-get(button.$button, $button-type);
}

$primary: (
  background-color: $button-primary-background-color,
  border-color: $button-primary-border-color,
  color: $button-primary-color,
  hover-background-color: $button-primary-hover-background-color,
  hover-border-color: $button-primary-hover-border-color,
  active-background-color: $button-primary-active-background-color,
  active-border-color: $button-primary-active-border-color,
  focus-background-color: $button-primary-focus-background-color,
  focus-border-color: $button-primary-focus-border-color,
  focus-shadow-color: $button-primary-focus-shadow-color,
  disabled-background-color: $button-primary-disabled-background-color,
  disabled-border-color: $button-primary-disabled-border-color,
  disabled-color: $button-primary-disabled-color,
);

$secondary: (
  background-color: $button-secondary-background-color,
  border-color: $button-secondary-border-color,
  color: $button-secondary-color,
  hover-background-color: $button-secondary-hover-background-color,
  hover-border-color: $button-secondary-hover-border-color,
  active-background-color: $button-secondary-active-background-color,
  active-border-color: $button-secondary-active-border-color,
  focus-background-color: $button-secondary-focus-background-color,
  focus-border-color: $button-secondary-focus-border-color,
  focus-shadow-color: $button-secondary-focus-shadow-color,
  disabled-background-color: $button-secondary-disabled-background-color,
  disabled-border-color: $button-secondary-disabled-border-color,
  disabled-color: $button-secondary-disabled-color,
);

$danger: (
  background-color: $button-danger-background-color,
  border-color: $button-danger-border-color,
  color: $button-danger-color,
  hover-background-color: $button-danger-hover-background-color,
  hover-border-color: $button-danger-hover-border-color,
  active-background-color: $button-danger-active-background-color,
  active-border-color: $button-danger-active-border-color,
  focus-background-color: $button-danger-focus-background-color,
  focus-border-color: $button-danger-focus-border-color,
  focus-shadow-color: $button-danger-focus-shadow-color,
  disabled-background-color: $button-danger-disabled-background-color,
  disabled-border-color: $button-danger-disabled-border-color,
  disabled-color: $button-danger-disabled-color,
);

$secondary-danger: (
  background-color: $button-secondary-danger-background-color,
  border-color: $button-secondary-danger-border-color,
  color: $button-secondary-danger-color,
  hover-background-color: $button-secondary-danger-hover-background-color,
  hover-border-color: $button-secondary-danger-hover-border-color,
  active-background-color: $button-secondary-danger-active-background-color,
  active-border-color: $button-secondary-danger-active-border-color,
  focus-background-color: $button-secondary-danger-focus-background-color,
  focus-border-color: $button-secondary-danger-focus-border-color,
  focus-shadow-color: $button-secondary-danger-focus-shadow-color,
  disabled-background-color: $button-secondary-danger-disabled-background-color,
  disabled-border-color: $button-secondary-danger-disabled-border-color,
  disabled-color: $button-secondary-danger-disabled-color,
);

$warning: (
  background-color: $button-warning-background-color,
  border-color: $button-warning-border-color,
  color: $button-warning-color,
  hover-background-color: $button-warning-hover-background-color,
  hover-border-color: $button-warning-hover-border-color,
  active-background-color: $button-warning-active-background-color,
  active-border-color: $button-warning-active-border-color,
  focus-background-color: $button-warning-focus-background-color,
  focus-border-color: $button-warning-focus-border-color,
  focus-shadow-color: $button-warning-focus-shadow-color,
  disabled-background-color: $button-warning-disabled-background-color,
  disabled-border-color: $button-warning-disabled-border-color,
  disabled-color: $button-warning-disabled-color,
);

$secondary-warning: (
  background-color: $button-secondary-warning-background-color,
  border-color: $button-secondary-warning-border-color,
  color: $button-secondary-warning-color,
  hover-background-color: $button-secondary-warning-hover-background-color,
  hover-border-color: $button-secondary-warning-hover-border-color,
  active-background-color: $button-secondary-warning-active-background-color,
  active-border-color: $button-secondary-warning-active-border-color,
  focus-background-color: $button-secondary-warning-focus-background-color,
  focus-border-color: $button-secondary-warning-focus-border-color,
  focus-shadow-color: $button-secondary-warning-focus-shadow-color,
  disabled-background-color: $button-secondary-warning-disabled-background-color,
  disabled-border-color: $button-secondary-warning-disabled-border-color,
  disabled-color: $button-secondary-warning-disabled-color,
);

$success: (
  background-color: $button-success-background-color,
  border-color: $button-success-border-color,
  color: $button-success-color,
  hover-background-color: $button-success-hover-background-color,
  hover-border-color: $button-success-hover-border-color,
  active-background-color: $button-success-active-background-color,
  active-border-color: $button-success-active-border-color,
  focus-background-color: $button-success-focus-background-color,
  focus-border-color: $button-success-focus-border-color,
  focus-shadow-color: $button-success-focus-shadow-color,
  disabled-background-color: $button-success-disabled-background-color,
  disabled-border-color: $button-success-disabled-border-color,
  disabled-color: $button-success-disabled-color,
);

$secondary-success: (
  background-color: $button-secondary-success-background-color,
  border-color: $button-secondary-success-border-color,
  color: $button-secondary-success-color,
  hover-background-color: $button-secondary-success-hover-background-color,
  hover-border-color: $button-secondary-success-hover-border-color,
  active-background-color: $button-secondary-success-active-background-color,
  active-border-color: $button-secondary-success-active-border-color,
  focus-background-color: $button-secondary-success-focus-background-color,
  focus-border-color: $button-secondary-success-focus-border-color,
  focus-shadow-color: $button-secondary-success-focus-shadow-color,
  disabled-background-color: $button-secondary-success-disabled-background-color,
  disabled-border-color: $button-secondary-success-disabled-border-color,
  disabled-color: $button-secondary-success-disabled-color,
);

// icon

$icon: (
  background-color: -color('icon', 'background-color', transparent),
  border-color: -color('icon', 'border-color', transparent),
  color: -color('icon', 'color', map.get($secondary, color)),
  hover-background-color: -color('icon', 'hover-background-color', map.get($secondary, hover-background-color)),
  hover-border-color: -color('icon', 'hover-border-color', map.get($secondary, hover-border-color)),
  active-background-color: -color('icon', 'active-background-color', map.get($secondary, active-background-color)),
  active-border-color: -color('icon', 'active-border-color', map.get($secondary, active-border-color)),
  focus-background-color: -color('icon', 'focus-background-color', map.get($secondary, focus-background-color)),
  focus-border-color: -color('icon', 'focus-border-color', map.get($secondary, focus-border-color)),
  focus-shadow-color: -color('icon', 'focus-shadow-color', map.get($secondary, focus-shadow-color)),
  disabled-background-color: -color('icon', 'disabled-background-color', transparent),
  disabled-border-color: -color('icon', 'disabled-border-color', transparent),
  disabled-color: -color('icon', 'disabled-color', map.get($secondary, disabled-color)),
  pressed-background-color: -color('icon', 'pressed-background-color', map.get($secondary, active-background-color)),
  pressed-border-color: -color('icon', 'pressed-border-color', map.get($secondary, active-border-color)),
);

$icon-info: (
  background-color: -color('icon-info', 'background-color', transparent),
  border-color: -color('icon-info', 'border-color', transparent),
  color: -color('icon-info', 'color', colors.status-font(on-info)),
  hover-background-color: -color('icon-info', 'hover-background-color', map.get($secondary, hover-background-color)),
  hover-border-color: -color('icon-info', 'hover-border-color', map.get($secondary, hover-border-color)),
  active-background-color: -color('icon-info', 'active-background-color', map.get($secondary, active-background-color)),
  active-border-color: -color('icon-info', 'active-border-color', map.get($secondary, active-background-color)),
  focus-background-color: -color('icon-info', 'focus-background-color', map.get($secondary, focus-background-color)),
  focus-border-color: -color('icon-info', 'focus-border-color', map.get($secondary, focus-border-color)),
  focus-shadow-color: -color('icon-info', 'focus-shadow-color', map.get($secondary, focus-shadow-color)),
  disabled-background-color: -color('icon', 'disabled-background-color', transparent),
  disabled-border-color: -color('icon', 'disabled-border-color', transparent),
  disabled-color: -color('icon-info', 'disabled-color', map.get($primary, disabled-background-color)),
  pressed-background-color: -color('icon-info', 'pressed-background-color', map.get($secondary, active-background-color)),
  pressed-border-color: -color('icon-info', 'pressed-border-color', map.get($secondary, active-background-color)),
);

$icon-success: (
  background-color: -color('icon-success', 'background-color', transparent),
  border-color: -color('icon-success', 'border-color', transparent),
  color: -color('icon-success', 'color', colors.status-font(on-success)),
  hover-background-color: -color('icon-success', 'hover-background-color', map.get($secondary, hover-background-color)),
  hover-border-color: -color('icon-success', 'hover-border-color', map.get($secondary, hover-border-color)),
  active-background-color: -color('icon-success', 'active-background-color', map.get($secondary, active-background-color)),
  active-border-color: -color('icon-success', 'active-border-color', map.get($secondary, active-border-color)),
  focus-background-color: -color('icon-success', 'focus-background-color', map.get($secondary, focus-background-color)),
  focus-border-color: -color('icon-success', 'focus-border-color', map.get($secondary, focus-border-color)),
  focus-shadow-color: -color('icon-success', 'focus-shadow-color', map.get($secondary, focus-shadow-color)),
  disabled-background-color: -color('icon', 'disabled-background-color', transparent),
  disabled-border-color: -color('icon', 'disabled-border-color', transparent),
  disabled-color: -color('icon-success', 'disabled-color', map.get($success, disabled-background-color)),
  pressed-background-color: -color('icon-success', 'pressed-background-color', map.get($secondary, active-background-color)),
  pressed-border-color: -color('icon-success', 'pressed-border-color', map.get($secondary, active-border-color)),
);

$icon-warning: (
  background-color: -color('icon-warning', 'background-color', transparent),
  border-color: -color('icon-warning', 'border-color', transparent),
  color: -color('icon-warning', 'color', colors.status-font(on-warning)),
  hover-background-color: -color('icon-warning', 'hover-background-color', map.get($secondary, hover-background-color)),
  hover-border-color: -color('icon-warning', 'hover-border-color', map.get($secondary, hover-border-color)),
  active-background-color: -color('icon-warning', 'active-background-color', map.get($secondary, active-background-color)),
  active-border-color: -color('icon-warning', 'active-border-color', map.get($secondary, active-border-color)),
  focus-background-color: -color('icon-warning', 'focus-background-color', map.get($secondary, focus-background-color)),
  focus-border-color: -color('icon-warning', 'focus-border-color', map.get($secondary, focus-border-color)),
  focus-shadow-color: -color('icon-warning', 'focus-shadow-color', map.get($secondary, focus-shadow-color)),
  disabled-background-color: -color('icon', 'disabled-background-color', transparent),
  disabled-border-color: -color('icon', 'disabled-border-color', transparent),
  disabled-color: -color('icon-warning', 'disabled-color', map.get($warning, disabled-background-color)),
  pressed-background-color: -color('icon-warning', 'pressed-background-color', map.get($secondary, active-background-color)),
  pressed-border-color: -color('icon-warning', 'pressed-border-color', map.get($secondary, active-border-color)),
);

$icon-danger: (
  background-color: -color('icon-danger', 'background-color', transparent),
  border-color: -color('icon-danger', 'border-color', transparent),
  color: -color('icon-danger', 'color', colors.status-font(on-danger)),
  hover-background-color: -color('icon-danger', 'hover-background-color', map.get($secondary, hover-background-color)),
  hover-border-color: -color('icon-danger', 'hover-border-color', map.get($secondary, hover-border-color)),
  active-background-color: -color('icon-danger', 'active-background-color', map.get($secondary, active-background-color)),
  active-border-color: -color('icon-danger', 'active-border-color', map.get($secondary, active-border-color)),
  focus-background-color: -color('icon-danger', 'focus-background-color', map.get($secondary, focus-background-color)),
  focus-border-color: -color('icon-danger', 'focus-border-color', map.get($secondary, focus-border-color)),
  focus-shadow-color: -color('icon-danger', 'focus-shadow-color', map.get($secondary, focus-shadow-color)),
  disabled-background-color: -color('icon', 'disabled-background-color', transparent),
  disabled-border-color: -color('icon', 'disabled-border-color', transparent),
  disabled-color: -color('icon-danger', 'disabled-color', map.get($danger, disabled-background-color)),
  pressed-background-color: -color('icon-danger', 'pressed-background-color', map.get($secondary, active-background-color)),
  pressed-border-color: -color('icon-danger', 'pressed-border-color', map.get($secondary, active-border-color)),
);
