@use '~@rocket.chat/fuselage-tokens/dist/palette.scss';

@function palette-color($name) {
  @return map-get(palette.$palette, $name);
}

@function palette-button-color($name) {
  $button-type: 'button-' + $name;
  @return map-get(palette.$palette, $button-type);
}

$primary-new: (
  background-color: palette-button-color(primary),
  border-color: palette-button-color(primary),
  color: palette-button-color(on-primary),
  hover-background-color: palette-button-color(hover-primary),
  hover-border-color: palette-button-color(hover-primary),
  disabled-background-color: palette-button-color(disabled-primary),
  disabled-border-color: palette-button-color(disabled-primary),
  disabled-color: palette-button-color(on-disabled),
  active-background-color: palette-button-color(press-primary),
  active-border-color: palette-button-color(press-primary),
  focus-background-color: palette-button-color(primary),
  focus-border-color: palette-color(stroke-extra-dark),
  focus-shadow-color: palette-color(stroke-extra-light-highlight),
);

$secondary-new: (
  background-color: palette-button-color(secondary),
  border-color: palette-button-color(secondary),
  color: palette-button-color(on-secondary),
  hover-background-color: palette-button-color(hover-secondary),
  hover-border-color: palette-button-color(hover-secondary),
  disabled-background-color: palette-button-color(disabled-secondary),
  disabled-border-color: palette-button-color(disabled-secondary),
  disabled-color: palette-button-color(on-disabled),
  active-background-color: palette-button-color(press-secondary),
  active-border-color: palette-button-color(press-secondary),
  focus-background-color: palette-button-color(secondary),
  focus-border-color: palette-color(stroke-extra-dark),
  focus-shadow-color: palette-color(stroke-extra-light-highlight),
);

$secondary-danger-new: (
  background-color: palette-button-color(secondary-danger),
  border-color: palette-button-color(secondary-danger),
  color: palette-button-color(on-secondary-danger),
  hover-background-color: palette-button-color(hover-secondary-danger),
  hover-border-color: palette-button-color(hover-secondary-danger),
  disabled-background-color: palette-button-color(disabled-secondary-danger),
  disabled-border-color: palette-button-color(disabled-secondary-danger),
  disabled-color: palette-button-color(on-disabled),
  active-background-color: palette-button-color(press-secondary-danger),
  active-border-color: palette-button-color(press-secondary-danger),
  focus-background-color: palette-button-color(secondary-danger),
  focus-border-color: palette-color(stroke-extra-dark),
  focus-shadow-color: palette-color(stroke-extra-light-error),
);

$danger-new: (
  background-color: palette-button-color(danger),
  border-color: palette-button-color(danger),
  color: palette-button-color(on-danger),
  hover-background-color: palette-button-color(hover-danger),
  hover-border-color: palette-button-color(hover-danger),
  disabled-background-color: palette-button-color(disabled-danger),
  disabled-border-color: palette-button-color(disabled-danger),
  disabled-color: palette-button-color(on-disabled),
  active-background-color: palette-button-color(press-danger),
  active-border-color: palette-button-color(press-danger),
  focus-background-color: palette-button-color(danger),
  focus-border-color: palette-color(stroke-extra-dark),
  focus-shadow-color: palette-color(stroke-extra-light-error),
);
