// Neutral
$colors-n100: map-get($colors, n100);
$colors-n200: map-get($colors, n200);
$colors-n300: map-get($colors, n300);
$colors-n400: map-get($colors, n400);
$colors-n500: map-get($colors, n500);
$colors-n600: map-get($colors, n600);
$colors-n700: map-get($colors, n700);
$colors-n800: map-get($colors, n800);
$colors-n900: map-get($colors, n900);

// Blues
$colors-b100: map-get($colors, b100);
$colors-b200: map-get($colors, b200);
$colors-b300: map-get($colors, b300);
$colors-b400: map-get($colors, b400);
$colors-b500: map-get($colors, b500);
$colors-b600: map-get($colors, b600);
$colors-b700: map-get($colors, b700);
$colors-b800: map-get($colors, b800);
$colors-b900: map-get($colors, b900);

// Greens
$colors-g100: map-get($colors, g100);
$colors-g200: map-get($colors, g200);
$colors-g300: map-get($colors, g300);
$colors-g400: map-get($colors, g400);
$colors-g500: map-get($colors, g500);
$colors-g600: map-get($colors, g600);
$colors-g700: map-get($colors, g700);
$colors-g800: map-get($colors, g800);
$colors-g900: map-get($colors, g900);

// Reds
$colors-r100: map-get($colors, r100);
$colors-r200: map-get($colors, r200);
$colors-r300: map-get($colors, r300);
$colors-r400: map-get($colors, r400);
$colors-r500: map-get($colors, r500);
$colors-r600: map-get($colors, r600);
$colors-r700: map-get($colors, r700);
$colors-r800: map-get($colors, r800);
$colors-r900: map-get($colors, r900);

// Yellows
$colors-y100: map-get($colors, y100);
$colors-y200: map-get($colors, y200);
$colors-y300: map-get($colors, y300);
$colors-y400: map-get($colors, y400);
$colors-y500: map-get($colors, y500);
$colors-y600: map-get($colors, y600);
$colors-y700: map-get($colors, y700);
$colors-y800: map-get($colors, y800);
$colors-y900: map-get($colors, y900);

// Purples
$colors-p100: map-get($colors, p100);
$colors-p200: map-get($colors, p200);
$colors-p300: map-get($colors, p300);
$colors-p400: map-get($colors, p400);
$colors-p500: map-get($colors, p500);
$colors-p600: map-get($colors, p600);
$colors-p700: map-get($colors, p700);
$colors-p800: map-get($colors, p800);
$colors-p900: map-get($colors, p900);

// Oranges
$colors-o100: map-get($colors, o100);
$colors-o200: map-get($colors, o200);
$colors-o300: map-get($colors, o300);
$colors-o400: map-get($colors, o400);
$colors-o500: map-get($colors, o500);
$colors-o600: map-get($colors, o600);
$colors-o700: map-get($colors, o700);
$colors-o800: map-get($colors, o800);
$colors-o900: map-get($colors, o900);

$colors-white: map-get($colors, 'white');
