@use '../colors.scss';

$input-colors-background-color: theme(
  'input-colors-background-color',
  colors.surface()
);
$input-colors-border-color: theme(
  'input-colors-border-color',
  colors.neutral(500)
);
$input-colors-color: theme('input-colors-color', colors.neutral(800));
$input-colors-placeholder-color: theme(
  'input-colors-placeholder-color',
  colors.neutral(600)
);
$input-colors-hover-border-color: theme(
  'input-colors-hover-border-color',
  colors.neutral(600)
);
$input-colors-focus-border-color: theme(
  'input-colors-focus-border-color',
  colors.primary(500)
);
$input-colors-focus-shadow-color: theme(
  'input-colors-focus-shadow-color',
  colors.primary(100)
);
$input-colors-focus-icon-color: theme(
  'input-colors-focus-icon-color',
  colors.primary(500)
);
$input-colors-focus-caret-color: theme(
  'input-colors-focus-caret-color',
  colors.primary(500)
);
$input-colors-active-border-color: theme(
  'input-colors-active-border-color',
  colors.neutral(600)
);
$input-colors-active-caret-color: theme(
  'input-colors-active-caret-color',
  colors.neutral(600)
);
$input-colors-disabled-background-color: theme(
  'input-colors-disabled-background-color',
  colors.neutral(200)
);
$input-colors-disabled-border-color: theme(
  'input-colors-disabled-border-color',
  colors.neutral(500)
);
$input-colors-disabled-color: theme(
  'input-colors-disabled-color',
  colors.neutral(800)
);

$input-colors-invalid-background-color: theme(
  'input-colors-invalid-background-color',
  colors.surface()
);
$input-colors-invalid-border-color: theme(
  'input-colors-invalid-border-color',
  colors.danger(500)
);
$input-colors-invalid-color: theme(
  'input-colors-invalid-color',
  colors.danger(500)
);
$input-colors-invalid-placeholder-color: theme(
  'input-colors-invalid-placeholder-color',
  colors.neutral(600)
);
$input-colors-invalid-hover-border-color: theme(
  'input-colors-invalid-hover-border-color',
  colors.danger(500)
);
$input-colors-invalid-focus-border-color: theme(
  'input-colors-invalid-focus-border-color',
  colors.danger(500)
);
$input-colors-invalid-focus-shadow-color: theme(
  'input-colors-invalid-focus-shadow-color',
  colors.danger(100)
);
$input-colors-invalid-focus-caret-color: theme(
  'input-colors-invalid-focus-caret-color',
  colors.danger(500)
);
$input-colors-invalid-focus-icon-color: theme(
  'input-colors-invalid-focus-icon-color',
  colors.danger(500)
);
$input-colors-invalid-active-border-color: theme(
  'input-colors-invalid-active-border-color',
  colors.neutral(600)
);
$input-colors-invalid-active-caret-color: theme(
  'input-colors-invalid-active-caret-color',
  colors.neutral(600)
);
$input-colors-invalid-disabled-background-color: theme(
  'input-colors-invalid-disabled-background-color',
  colors.neutral(200)
);
$input-colors-invalid-disabled-border-color: theme(
  'input-colors-invalid-disabled-border-color',
  colors.neutral(500)
);
$input-colors-invalid-disabled-color: theme(
  'input-colors-invalid-disabled-color',
  colors.neutral(800)
);
