$input-colors-background-color: theme('input-colors-background-color', $colors-white);
$input-colors-border-color: theme('input-colors-border-color', $colors-n500);
$input-colors-color: theme('input-colors-color', $colors-n800);
$input-colors-placeholder-color: theme('input-colors-placeholder-color', $colors-n600);
$input-colors-hover-border-color: theme('input-colors-hover-border-color', $colors-n600);
$input-colors-focus-border-color: theme('input-colors-focus-border-color', $colors-b500);
$input-colors-focus-shadow-color: theme('input-colors-focus-shadow-color', $colors-b100);
$input-colors-focus-icon-color: theme('input-colors-focus-icon-color', $colors-b500);
$input-colors-focus-caret-color: theme('input-colors-focus-caret-color', $colors-b500);
$input-colors-active-border-color: theme('input-colors-active-border-color', $colors-n600);
$input-colors-active-caret-color: theme('input-colors-active-caret-color', $colors-n600);
$input-colors-disabled-background-color: theme('input-colors-disabled-background-color', $colors-n200);
$input-colors-disabled-border-color: theme('input-colors-disabled-border-color', $colors-n500);
$input-colors-disabled-color: theme('input-colors-disabled-color', $colors-n800);

$input-colors-invalid-background-color: theme('input-colors-invalid-background-color', $colors-white);
$input-colors-invalid-border-color: theme('input-colors-invalid-border-color', $colors-r500);
$input-colors-invalid-color: theme('input-colors-invalid-color', $colors-r500);
$input-colors-invalid-placeholder-color: theme('input-colors-invalid-placeholder-color', $colors-n600);
$input-colors-invalid-hover-border-color: theme('input-colors-invalid-hover-border-color', $colors-r500);
$input-colors-invalid-focus-border-color: theme('input-colors-invalid-focus-border-color', $colors-r500);
$input-colors-invalid-focus-shadow-color: theme('input-colors-invalid-focus-shadow-color', $colors-r100);
$input-colors-invalid-focus-caret-color: theme('input-colors-invalid-focus-caret-color', $colors-r500);
$input-colors-invalid-focus-icon-color: theme('input-colors-invalid-focus-icon-color', $colors-r500);
$input-colors-invalid-active-border-color: theme('input-colors-invalid-active-border-color', $colors-n600);
$input-colors-invalid-active-caret-color: theme('input-colors-invalid-active-caret-color', $colors-n600);
$input-colors-invalid-disabled-background-color: theme('input-colors-invalid-disabled-background-color', $colors-n200);
$input-colors-invalid-disabled-border-color: theme('input-colors-invalid-disabled-border-color', $colors-n500);
$input-colors-invalid-disabled-color: theme('input-colors-invalid-disabled-color', $colors-n800);
