$sizes-1: theme('sizes-1', to-rem(44));
$sizes-2: theme('sizes-2', to-rem(40));
$sizes-3: theme('sizes-3', to-rem(32));
$sizes-4: theme('sizes-4', to-rem(24));
$sizes-5: theme('sizes-5', to-rem(20));
$sizes-6: theme('sizes-6', to-rem(16));
$sizes-7: theme('sizes-7', to-rem(8));
$sizes-8: theme('sizes-8', to-rem(4));
$sizes-9: theme('sizes-9', to-rem(2));

$widths: ();

@for $i from 1 through 12 {
  @for $j from 1 through 12 {
    $widths: map-merge($widths, (#{$i}\/#{$j}: $i / $j * 100%));
  }
}

$widths: map-merge($widths, (full: 100%));
$widths: map-merge($widths, (screen: 100vw));
