$spaces-x2: theme('spaces-x2', to-rem(get-map-value($spaces, 1)));
$spaces-x4: theme('spaces-x4', to-rem(get-map-value($spaces, 2)));
$spaces-x8: theme('spaces-x8', to-rem(get-map-value($spaces, 3)));
$spaces-x12: theme('spaces-x12', to-rem(get-map-value($spaces, 4)));
$spaces-x16: theme('spaces-x16', to-rem(get-map-value($spaces, 5)));
$spaces-x24: theme('spaces-x24', to-rem(get-map-value($spaces, 6)));
$spaces-x32: theme('spaces-x32', to-rem(get-map-value($spaces, 7)));
$spaces-x40: theme('spaces-x40', to-rem(get-map-value($spaces, 8)));
