$tag-colors-secondary-color: theme('tag-colors-secondary-color', $colors-b500);
$tag-colors-secondary-background-color: theme('tag-colors-secondary-background-color', $colors-b100);

$tag-colors-primary-color: theme('tag-colors-primary-color', $colors-white);
$tag-colors-primary-background-color: theme('tag-colors-primary-background-color', $colors-b500);

$tag-colors-danger-color: theme('tag-colors-danger-color', $colors-white);
$tag-colors-danger-background-color: theme('tag-colors-danger-background-color', $colors-r500);

$tag-colors-ghost-color: theme('tag-colors-ghost-color', $colors-white);
$tag-colors-ghost-background-color: theme('tag-colors-ghost-background-color', $colors-n700);

$tag-colors-disabled-color: theme('tag-colors-disabled-color', $colors-n600);
$tag-colors-disabled-background-color: theme('tag-colors-disabled-background-color', $colors-n400);
