@use '../colors.scss';

$text-colors-default: theme('text-colors-default', colors.foreground(default));
$text-colors-info: theme('text-colors-info', colors.foreground(info));
$text-colors-hint: theme('text-colors-hint', colors.foreground(hint));
$text-colors-disabled: theme('text-colors-disabled', colors.foreground(disabled));
$text-colors-alternative: theme('text-colors-alternative', colors.foreground(alternative));
$text-colors-primary: theme('text-colors-primary', colors.foreground(primary));
$text-colors-success: theme('text-colors-success', colors.foreground(success));
$text-colors-danger: theme('text-colors-danger', colors.foreground(danger));
$text-colors-warning: theme('text-colors-warning', colors.foreground(warning));

$text-colors: (
  default: $text-colors-default,
  info: $text-colors-info,
  hint: $text-colors-hint,
  disabled: $text-colors-disabled,
  alternative: $text-colors-alternative,
  primary: $text-colors-primary,
  success: $text-colors-success,
  danger: $text-colors-danger,
  warning: $text-colors-warning,
);
