$text-colors-default: theme('text-colors-default', map-get($colors, dark800));
$text-colors-info: theme('text-colors-info', map-get($colors, dark700));
$text-colors-hint: theme('text-colors-hint', map-get($colors, dark600));
$text-colors-disabled-label: theme('text-colors-disabled-label', map-get($colors, dark500));
$text-colors-disabled: theme('text-colors-disabled', map-get($colors, dark400));
$text-colors-alternative: theme('text-colors-alternative', map-get($colors, 'white'));
$text-colors-primary: theme('text-colors-primary', map-get($colors, blue500));
$text-colors-success: theme('text-colors-success', map-get($colors, green500));
$text-colors-danger: theme('text-colors-danger', map-get($colors, red500));
$text-colors-warning: theme('text-colors-warning', map-get($colors, yellow700));
