$button: (
  background-primary-default: #156ff5,
  background-primary-hover: #095ad2,
  background-primary-press: #10529e,
  background-primary-focus: #156ff5,
  background-primary-keyfocus: #156ff5,
  background-primary-disabled: #d1ebfe,
  font-on-primary: #ffffff,
  font-on-primary-disabled: #ffffff,
  background-secondary-default: #e4e7ea,
  background-secondary-hover: #cbced1,
  background-secondary-press: #9ea2a8,
  background-secondary-focus: #e4e7ea,
  background-secondary-keyfocus: #e4e7ea,
  background-secondary-disabled: #ebecef,
  font-on-secondary: #1f2329,
  font-on-secondary-disabled: #cbced1,
  background-secondary-danger-default: #e4e7ea,
  background-secondary-danger-hover: #cbced1,
  background-secondary-danger-press: #9ea2a8,
  background-secondary-danger-focus: #e4e7ea,
  background-secondary-danger-keyfocus: #e4e7ea,
  background-secondary-danger-disabled: #ebecef,
  font-on-secondary-danger: #bb0b21,
  on-secondary-danger-disabled: #f98f9d,
  background-danger-default: #ec0d2a,
  background-danger-hover: #d40c26,
  background-danger-press: #bb0b21,
  background-danger-focus: #ec0d2a,
  background-danger-keyfocus: #ec0d2a,
  background-danger-disabled: #ffc1c9,
  font-on-danger: #ffffff,
  font-on-danger-disabled: #ffffff,
  background-warning-default: #ffd95a,
  background-warning-hover: #ffd031,
  background-warning-press: #f3be08,
  background-warning-focus: #ffd95a,
  background-warning-keyfocus: #ffd95a,
  background-warning-disabled: #ffecad,
  font-on-warning: #1f2329,
  font-on-warning-disabled: #9ea2a8,
  background-secondary-warning-default: #e4e7ea,
  background-secondary-warning-hover: #cbced1,
  background-secondary-warning-press: #9ea2a8,
  background-secondary-warning-focus: #e4e7ea,
  background-secondary-warning-keyfocus: #e4e7ea,
  background-secondary-warning-disabled: #ebecef,
  font-on-secondary-warning: #8e6300,
  font-on-secondary-warning-disabled: #f3be08,
  background-success-default: #2de0a5,
  background-success-hover: #1ecb92,
  background-success-press: #19ac7c,
  background-success-focus: #2de0a5,
  background-success-keyfocus: #2de0a5,
  background-success-disabled: #c0f6e4,
  font-on-success: #1f2329,
  font-on-success-disabled: #ffffff,
  background-secondary-success-default: #e4e7ea,
  background-secondary-success-hover: #cbced1,
  background-secondary-success-press: #9ea2a8,
  background-secondary-success-focus: #e4e7ea,
  background-secondary-success-keyfocus: #e4e7ea,
  background-secondary-success-disabled: #ebecef,
  font-on-secondary-success: #106d4f,
  font-on-secondary-success-disabled: #6ce9c0,
  on-disabled: #9ea2a8,
);
