$colors: (
  dark100: '#f7f8fa',
  dark200: '#f2f3f5',
  dark300: '#eeeff1',
  dark400: '#e4e7ea',
  dark500: '#cbced1',
  dark600: '#9ea2a8',
  dark700: '#6c727a',
  dark800: '#2f343d',
  dark900: '#1f2329',

  blue100: '#e8f2ff',
  blue200: '#d1ebfe',
  blue300: '#76b7fc',
  blue400: '#549df9',
  blue500: '#1d74f5',
  blue600: '#095ad2',
  blue700: '#10529e',
  blue800: '#01336b',
  blue900: '#012247',

  green100: '#e5fbf4',
  green200: '#c0f6e4',
  green300: '#96f0d2',
  green400: '#6ce9c0',
  green500: '#2de0a5',
  green600: '#1ecb92',
  green700: '#19ac7c',
  green800: '#158d65',
  green900: '#106d4f',

  red100: '#fddade',
  red200: '#fbb5be',
  red300: '#f98f9d',
  red400: '#f76a7d',
  red500: '#f5455c',
  red600: '#db0c27',
  red700: '#b30a20',
  red800: '#8b0719',
  red900: '#630512',

  yellow100: '#fff6d6',
  yellow200: '#ffecad',
  yellow300: '#ffe383',
  yellow400: '#ffd95a',
  yellow500: '#ffd031',
  yellow600: '#f3be08',
  yellow700: '#dfac00',
  yellow800: '#b68d00',
  yellow900: '#8e6d00',

  purple100: '#f9effc',
  purple200: '#edd0f7',
  purple300: '#dca0ef',
  purple400: '#ca71e7',
  purple500: '#9f22c7',
  purple600: '#7f1b9f',
  purple700: '#5f1477',
  purple800: '#4a105d',
  purple900: '#350b42',

  orange100: '#fde8d7',
  orange200: '#fad1b0',
  orange300: '#f7b27b',
  orange400: '#f59b53',
  orange500: '#f38c39',
  orange600: '#e26d0e',
  orange700: '#bd5a0b',
  orange800: '#974809',
  orange900: '#713607',

  'black': '#000000',

  'white': '#ffffff',
);
