$colors: (
  // Neutral
  n100: #1e2024,
  n200: #24272b,
  n300: #33373d,
  n400: #454a52,
  n500: #6e7378,
  n600: #a2a5a8,
  n700: #cdcfd4,
  n800: #f2f3f7,
  n900: #fafbff,

  // Blues
  b100: #172a40,
  b200: #1b3859,
  b300: #214f85,
  b400: #376dbd,
  b500: #4081e3,
  b600: #559af2,
  b700: #8ab8f2,
  b800: #b1d2fc,
  b900: #d9eaff,

  // Greens
  g100: #106d4f,
  g200: #158d65,
  g300: #19ac7c,
  g400: #1ecb92,
  g500: #2de0a5,
  g600: #6ce9c0,
  g700: #96f0d2,
  g800: #c0f6e4,
  g900: #e5fbf4,

  // Reds
  r200: #f7d0d5,
  r300: #332123,
  r400: #4d2026,
  r500: #7a2c36,
  r600: #b03e4d,
  r700: #de475b,
  r800: #f56275,
  r900: #fa8c9a,
  r100: #fab4bd,

  // Yellows
  y100: #8e6d00,
  y200: #b68d00,
  y300: #dfac00,
  y400: #f3be08,
  y500: #ffd031,
  y600: #ffd95a,
  y700: #ffe383,
  y800: #ffecad,
  y900: #fff6d6,
  
  // Purples
  p100: #350b42,
  p200: #4a105d,
  p300: #5f1477,
  p400: #7f1b9f,
  p500: #9f22c7,
  p600: #ca71e7,
  p700: #dca0ef,
  p800: #edd0f7,
  p900: #f9effc,

  // Oranges
  o100: #713607,
  o200: #974809,
  o300: #bd5a0b,
  o400: #e26d0e,
  o500: #f38c39,
  o600: #f59b53,
  o700: #f7b27b,
  o800: #fad1b0,
  o900: #fde8d7,

  'white': #ffffff,
);
