$font: (
  font-white: #ffffff,
  font-disabled: #cbced1,
  font-annotation: #9ea2a8,
  font-hint: #6c737a,
  font-secondary-info: #6c737a,
  font-default: #2f343d,
  font-titles-labels: #1f2329,
  font-info: #095ad2,
  font-danger: #d40c26,
  font-pure-white: #ffffff,
  font-pure-black: #2f343d,
)
