$statusbullet: (
  status-bullet-online: #148660,
  status-bullet-away: #ac892f,
  status-bullet-busy: #d40c26,
  status-bullet-disabled: #f38c39,
  status-bullet-offline: #6c737a,
  status-bullet-loading: #6c737a,
)
