$stroke: (
  extra-light: #ebecef,
  light: #cbced1,
  medium: #9ea2a8,
  dark: #6c737a,
  extra-dark: #2f343d,
  extra-light-highlight: #d1ebfe,
  highlight: #156ff5,
  extra-light-error: #ffc1c9,
  error: #ec0d2a,
);
