@use '../../../styles/colors.scss';
@use '../../../styles/lengths.scss';
@use '../../../styles/typography.scss';
@import '../../../styles/mixins/all.scss';

.rcx-sidebar-v2-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: lengths.size(48);
  padding-block: lengths.padding(12) lengths.padding(8);
  padding-inline: lengths.padding(16);

  color: colors.font(default);

  background-color: colors.surface(sidebar);
  gap: lengths.padding(4);

  &__content {
    @include typography.use-font-scale(micro);
  }
}
