@use '../../../styles/colors.scss';
@use '../../../styles/lengths.scss';
@use '../../../styles/typography.scss';
@import '../../../styles/mixins/all.scss';

$sidebar-color-surface-default: theme(
  'sidebar-color-surface-default',
  colors.surface(sidebar)
);
$sidebar-color-surface-hover: theme(
  'sidebar-color-surface-hover',
  colors.surface(hover)
);
$sidebar-color-surface-selected: theme(
  'sidebar-color-surface-selected',
  colors.surface(selected)
);

$sidebar-color-font-default: theme(
  'sidebar-color-font-default',
  colors.font(default)
);

.rcx-sidebar-v2-footer {
  @include typography.use-font-scale(micro);

  &__watermark {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: lengths.size(48);
    padding: lengths.padding(8) lengths.padding(16);

    color: colors.font(default);

    background-color: colors.surface(sidebar);
    gap: lengths.padding(4);
  }

  &__content {
    &--secondary {
      color: colors.font(titles-labels);
    }
  }
}
