@use '../../../styles/colors.scss';
@use '../../../styles/lengths.scss';
@use '../../../styles/typography.scss';
@import '../../../styles/mixins/all.scss';

.rcx-sidebar-v2-footer {
  @include typography.use-font-scale(micro);

  &__watermark {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: lengths.size(48);
    padding: lengths.padding(8) lengths.padding(16);

    color: colors.font(default);

    background-color: colors.surface(sidebar);
    gap: lengths.padding(4);
  }

  &__content {
    &--secondary {
      color: colors.font(titles-labels);
    }
  }
}
