@use '../../../styles/lengths.scss';
@use '../../../styles/colors.scss';
@use '../../../styles/typography.scss';
@use '../mixins.scss';

.rcx-message-toolbar {
  margin-inline: lengths.margin(20);
  padding: lengths.padding(2);

  border: lengths.border-width(default) solid colors.stroke(extra-light);
  border-radius: theme(
    'message-toolbar-border-radius',
    lengths.border-radius(medium)
  );
  background: colors.surface(room);

  &__wrapper {
    display: none;

    .rcx-message:hover &,
    .rcx-message:focus-within & {
      display: inline-block;
    }

    &--visible {
      display: inline-block;

      .rcx-message-toolbar {
        opacity: 1;
      }
    }
  }

  @include mixins.message-focus-visible {
    display: inline-block;
  }

  @at-root .rcx-message & {
    position: absolute;
    z-index: 10;
    top: lengths.margin(-24);
    right: 0;

    &:dir(rtl) {
      left: 0;
      right: initial;
    }
  }
}
