@use '../../styles/lengths.scss';

// Static display/flex moved to FieldGroup.tsx.

.rcx-field-group__item {
  .rcx-field-group > & {
    flex: 0 0 auto;
    width: lengths.size(full);
  }

  & + & {
    margin-block-start: lengths.margin(24);
  }
}
