.rcx-field-group {
  @include box;

  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;

  & > .rcx-field {
    flex: 0 0 auto;

    margin-bottom: $spaces-x24;
    margin-block-end: $spaces-x24;

    &:last-child {
      margin-bottom: 0;
      margin-block-end: 0;
    }
  }
}
