@use '../../../styles/lengths.scss';
@use '../../../styles/colors.scss';
@use '../../../styles/typography.scss';
@use '../../../styles/mixins/size.scss';
@use '../../../styles/variables/buttons.scss';
@use '../../../styles/primitives/button.scss';
@use '../mixins.scss';

.rcx-message-reactions {
  &__reaction {
    @include button.kind-variant(buttons.$ghost);
    @include typography.use-font-scale(c1);
    display: inline-flex;

    padding: lengths.padding(2);

    cursor: pointer;

    color: colors.foreground(info);
    border: lengths.border-width(1) solid colors.neutral(400);
    border-radius: lengths.border-radius(4);

    &--action {
      @include mixins.visible-on-hover();
      padding: 0;
    }
  }

  &__emoji {
    display: block;
    @include size.square(lengths.size(16));
  }

  &__counter {
    margin-inline-start: lengths.margin(4);
  }
}
