@use 'sass:map';
@use '../../styles/functions';
@use '../../styles/colors.scss';
@use '../../styles/typography.scss';

// neutral
$banner-colors-neutral-color: functions.theme(
  'banner-colors-neutral-color',
  colors.font(default)
);
$banner-colors-neutral-background-color: functions.theme(
  'banner-colors-neutral-background-color',
  colors.surface(neutral)
);
// info
$banner-colors-info-color: functions.theme(
  'banner-colors-info-color',
  colors.status-foreground(on-info)
);
$banner-colors-info-background-color: functions.theme(
  'banner-colors-info-background-color',
  colors.status-background(info)
);
// success
$banner-colors-success-color: functions.theme(
  'banner-colors-success-color',
  colors.status-foreground(on-success)
);
$banner-colors-success-background-color: functions.theme(
  'banner-colors-success-background-color',
  colors.status-background(success)
);
// warning
$banner-colors-warning-color: functions.theme(
  'banner-colors-warning-color',
  colors.status-foreground(on-warning)
);
$banner-colors-warning-background-color: functions.theme(
  'banner-colors-warning-background-color',
  colors.status-background(warning)
);
// danger
$banner-colors-danger-color: functions.theme(
  'banner-colors-danger-color',
  colors.status-foreground(on-danger)
);
$banner-colors-danger-background-color: functions.theme(
  'banner-colors-danger-background-color',
  colors.status-background(danger)
);

.rcx-banner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  flex: 0 1 auto;

  box-sizing: border-box;

  padding-block: 14px;
  padding-inline: 16px;

  font-family: typography.font-family('sans');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &--inline {
    padding-block: 12px;
  }

  &--actionable {
    cursor: pointer;
  }

  &--neutral {
    color: $banner-colors-neutral-color;
    background-color: $banner-colors-neutral-background-color;
  }

  &--info {
    color: $banner-colors-info-color;
    background-color: $banner-colors-info-background-color;
  }

  &--success {
    color: $banner-colors-success-color;
    background-color: $banner-colors-success-background-color;
  }

  &--warning {
    color: $banner-colors-warning-color;
    background-color: $banner-colors-warning-background-color;
  }

  &--danger {
    color: $banner-colors-danger-color;
    background-color: $banner-colors-danger-background-color;
  }

  &__icon {
    padding-block: 8px;
    padding-inline-end: 12px;

    &--inline {
      margin-block: -2px;
      padding-block: 0;
    }
  }

  &__content {
    flex-grow: 1;
    align-self: center;

    @include typography.use-font-scale(p2);

    &--inline {
      @include typography.use-with-truncated-text;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    @include typography.use-font-scale(h5);

    &--inline {
      display: inline;

      padding-inline-end: 8px;
    }
  }

  &__close-button {
    padding-block: 6px;
    padding-inline: 8px;

    &--inline {
      margin-block: -4px;
      padding-block: 0;
    }
  }
}
