@use '../../styles/lengths.scss';
@use '../../styles/colors.scss';

@mixin message-focus-visible {
  @content;

  opacity: 0;

  .rcx-message:hover &,
  .rcx-message:focus-visible & {
    opacity: 1;
  }

  /**
   ** This is a hack to get focus within only for keyboard.
   ** :has pseudo class are not stable on some Firefox versions
  **/
  .rcx-message:has(:focus-visible) & {
    opacity: 1;
  }
}
