@use '../../styles/lengths.scss';
@use '../../styles/colors.scss';
@use '../../styles/typography.scss';

@use './Metrics/Metrics.styles.scss';

%rcx-margins-header {
  margin-inline: lengths.margin(2);
}
%rcx-margins-block {
  margin-block: lengths.margin(2);
}

.rcx-message {
  display: flex;
  flex-direction: row;

  padding-inline: lengths.padding(20);
  padding-block: lengths.padding(16);

  &--clickable {
    cursor: pointer;
    // border-bottom: 2px solid ${ colors.n300 } !important;

    &:hover,
    &:focus {
      background: colors.neutral(100);
    }
  }

  &-header {
    @extend %rcx-margins-block;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    min-width: 1px;

    &__wrapper {
      @include typography.use-with-truncated-text();
      margin-inline: lengths.margin(-2);
      margin-block: lengths.margin(-4);
      display: flex;
      flex-direction: row;
      align-items: baseline;
      flex-grow: 1;
      flex-shrink: 1;
      min-width: 1px;
    }

    &__time {
      @extend %rcx-margins-header;
      @include typography.use-with-truncated-text();
      @include typography.use-font-scale(c1);

      color: colors.neutral(600);
      flex-shrink: 0;
    }

    &__name {
      @extend %rcx-margins-header;
      @include typography.use-font-scale(p2);
      @include typography.use-with-truncated-text();

      color: colors.neutral(800);
      flex-shrink: 1;
    }

    &__roles {
      display: flex;
      @include typography.use-with-truncated-text();
      flex-shrink: 1;
    }

    &__role {
      @extend %rcx-margins-header;
    }
  }

  &-container {
    display: flex;
    margin-inline: lengths.margin(4);
    margin-block: lengths.margin(-4);
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 1px;

    &--fixed {
      flex-grow: 0;
      flex-shrink: 0;
      align-items: center;
    }

    &--avatar {
      flex-grow: 0;
      align-items: center;
      flex-shrink: 0;
      margin-block: lengths.margin(-2);
    }
  }

  &-body {
    @extend %rcx-margins-block;
    @include typography.use-font-scale(p1);
    color: colors.neutral(800);

    flex-shrink: 1;

    &--clamp {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      word-break: break-word;

      &-2 {
        -webkit-line-clamp: 3;
      }
      &-3 {
        -webkit-line-clamp: 3;
      }

      &-4 {
        -webkit-line-clamp: 3;
      }
    }
  }

  &-block {
    @extend %rcx-margins-block;
    display: flex;
    flex-direction: row;
  }
}
