@use 'sass:map';
@use '../../styles/typography.scss';
@use '../../styles/variables/buttons.scss' as colors;
@use '../../styles/primitives/button.scss';

.rcx-button {
  @mixin with-rectangular-size($height, $padding-x, $line-height) {
    padding: calc((#{$height} - #{$line-height}) / 2 - 2px)
      calc(#{$padding-x} - 2px);
    padding-block: calc((#{$height} - #{$line-height}) / 2 - 2px);
    padding-inline: calc(#{$padding-x} - 2px);
  }

  @mixin with-squared-size($size) {
    width: $size;
    height: $size;
    padding: 0;

    &::before,
    &::after {
      display: inline-block;

      height: 100%;

      content: '';
      vertical-align: middle;
    }
  }

  display: inline-block;

  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;

  @include clickable;
  @include typography.use-font-scale(p2m);
  @include typography.use-text-ellipsis;

  @include with-rectangular-size(
    $height: 40px,
    $padding-x: 16px,
    $line-height: typography.line-height(p2)
  );

  @include button.kind-variant(colors.$secondary);

  &--small {
    @include typography.use-font-scale(c2);

    @include with-rectangular-size(
      $height: 28px,
      $padding-x: 8px,
      $line-height: typography.line-height(c1)
    );
  }

  &--square {
    @include with-squared-size($size: 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  &--icon {
    @include button.kind-variant(colors.$ghost);
    padding: 0;
  }

  &--tiny-square {
    @include with-squared-size($size: 24px);
  }

  &--mini-square {
    @include with-squared-size($size: 20px);
  }

  &--small-square {
    @include with-squared-size($size: 28px);
  }

  &--primary {
    @include button.kind-variant(colors.$primary);
  }

  &--secondary {
    @include button.kind-variant(colors.$secondary);
  }

  &--secondary-danger {
    @include button.kind-variant(colors.$secondary-danger);
  }

  &--danger {
    @include button.kind-variant(colors.$danger);
  }

  &--warning {
    @include button.kind-variant(colors.$warning);
  }

  &--secondary-warning {
    @include button.kind-variant(colors.$secondary-warning);
  }

  &--success {
    @include button.kind-variant(colors.$success);
  }

  &--secondary-success {
    @include button.kind-variant(colors.$secondary-success);
  }

  &--ghost-success {
    @include button.kind-variant(colors.$ghost-success);
  }

  &--ghost-warning {
    @include button.kind-variant(colors.$ghost-warning);
  }

  &--ghost-danger {
    @include button.kind-variant(colors.$ghost-danger);
  }
}
