@use 'sass:map';
@use '../../styles/lengths.scss';
@use '../../styles/typography.scss';
@use '../../styles/variables/buttons.scss' as colors;
@use '../../styles/primitives/button.scss';
@use '../../styles/mixins/size.scss';
@import '../../styles/mixins/states.scss';

.rcx-button {
  @mixin with-rectangular-size($height, $padding-x, $line-height) {
    min-width: calc(lengths.size($height) * 2);
    height: lengths.size($height);
    padding: calc((lengths.padding($height) - $line-height) / 2 - 2px)
      calc(lengths.padding($padding-x) - 2px);
    padding-block: calc((lengths.padding($height) - $line-height) / 2 - 2px);

    padding-inline: calc(lengths.padding($padding-x) - 2px);
  }

  @mixin with-squared-size($size) {
    width: lengths.size($size);
    min-width: lengths.size($size);
    height: lengths.size($size);
    padding: 0;

    &::before,
    &::after {
      display: inline-block;

      height: 100%;

      content: '';
    }
  }

  @mixin click-animation() {
    @include on-active {
      > *:not(div[role='status']) {
        transform: translateY(1px);
      }
    }
  }

  display: inline-block;

  text-align: center;
  white-space: nowrap;
  text-decoration: none;

  @include click-animation();

  .rcx-button--content {
    display: inline-block;
  }

  @include clickable;
  @include typography.use-font-scale(p2m);
  @include typography.use-text-ellipsis;

  @include with-rectangular-size(
    $height: 40,
    $padding-x: 16,
    $line-height: typography.line-height(p2)
  );

  @include button.kind-variant(colors.$secondary);

  &--small {
    @include typography.use-font-scale(c2);

    @include with-rectangular-size(
      $height: 28,
      $padding-x: 8,
      $line-height: typography.line-height(c1)
    );
  }

  &--medium {
    @include typography.use-font-scale(c2);

    @include with-rectangular-size(
      $height: 32,
      $padding-x: 12,
      $line-height: typography.line-height(c1)
    );
  }

  &--large {
    @include typography.use-font-scale(p2);

    @include with-rectangular-size(
      $height: 48,
      $padding-x: 24,
      $line-height: typography.line-height(p2)
    );
  }

  &--square {
    @include with-squared-size($size: 40);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  &--icon {
    @include button.kind-variant(colors.$icon);
    @include click-animation();

    padding: 0;

    line-height: 0;

    &-secondary {
      @include button.kind-variant(colors.$secondary);
    }

    &-info {
      @include button.kind-variant(colors.$icon-info);
    }

    &-success {
      @include button.kind-variant(colors.$icon-success);
    }

    &-warning {
      @include button.kind-variant(colors.$icon-warning);
    }

    &-danger {
      @include button.kind-variant(colors.$icon-danger);
    }

    &-secondary-info {
      @include button.kind-variant(colors.$primary);
    }

    &-secondary-success {
      @include button.kind-variant(colors.$success);
    }

    &-secondary-warning {
      @include button.kind-variant(colors.$warning);
    }

    &-secondary-danger {
      @include button.kind-variant(colors.$danger);
    }
  }

  &--mini-square {
    @include with-squared-size($size: 20);
  }

  &--tiny-square {
    @include with-squared-size($size: 24);
  }

  &--small-square {
    @include with-squared-size($size: 28);
  }

  &--medium-square {
    @include with-squared-size($size: 32);
  }

  &--large-square {
    @include with-squared-size($size: 40);
  }

  &--primary {
    @include button.kind-variant(colors.$primary);
  }

  &--secondary {
    @include button.kind-variant(colors.$secondary);
  }

  &--secondary-danger {
    @include button.kind-variant(colors.$secondary-danger);
  }

  &--danger {
    @include button.kind-variant(colors.$danger);
  }

  &--warning {
    @include button.kind-variant(colors.$warning);
  }

  &--secondary-warning {
    @include button.kind-variant(colors.$secondary-warning);
  }

  &--success {
    @include button.kind-variant(colors.$success);
  }

  &--secondary-success {
    @include button.kind-variant(colors.$secondary-success);
  }
}
