@use 'sass:map';
@use '../../styles/typography.scss';
@use '../../styles/variables/buttons.scss';

.rcx-button {
  @mixin with-rectangular-size($height, $padding-x, $line-height) {
    padding: calc((#{$height} - #{$line-height}) / 2 - 2px)
      calc(#{$padding-x} - 2px);
    padding-block: calc((#{$height} - #{$line-height}) / 2 - 2px);
    padding-inline: calc(#{$padding-x} - 2px);
  }

  @mixin with-squared-size($size) {
    width: $size;
    height: $size;
    padding: 0;

    &::before,
    &::after {
      display: inline-block;

      height: 100%;

      content: '';
      vertical-align: middle;
    }
  }

  display: inline-block;

  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;

  @include clickable;
  @include typography.use-font-scale(p2);
  @include typography.use-text-ellipsis;

  @include with-rectangular-size(
    $height: 40px,
    $padding-x: 16px,
    $line-height: typography.line-height(p1)
  );

  @include as-button(
    $background-color: map.get(buttons.$secondary, background-color),
    $border-color: map.get(buttons.$secondary, border-color),
    $color: map.get(buttons.$secondary, color),
    $hover-background-color: map.get(buttons.$secondary, hover-background-color),
    $hover-border-color: map.get(buttons.$secondary, hover-border-color),
    $active-background-color:
      map.get(buttons.$secondary, active-background-color),
    $active-border-color: map.get(buttons.$secondary, active-border-color),
    $focus-background-color: map.get(buttons.$secondary, focus-background-color),
    $focus-border-color: map.get(buttons.$secondary, focus-border-color),
    $focus-shadow-color: map.get(buttons.$secondary, focus-shadow-color),
    $disabled-background-color:
      map.get(buttons.$secondary, disabled-background-color),
    $disabled-border-color: map.get(buttons.$secondary, disabled-border-color),
    $disabled-color: map.get(buttons.$secondary, disabled-color)
  );

  &--small {
    @include typography.use-font-scale(c2);

    @include with-rectangular-size(
      $height: 28px,
      $padding-x: 8px,
      $line-height: typography.line-height(c1)
    );
  }

  &--square {
    @include with-squared-size($size: 40px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--tiny-square {
    @include with-squared-size($size: 24px);
  }

  &--mini-square {
    @include with-squared-size($size: 20px);
  }

  &--small-square {
    @include with-squared-size($size: 28px);
  }

  &--success {
    @include as-button(
      $background-color: map.get(buttons.$secondary-success, background-color),
      $border-color: map.get(buttons.$secondary-success, border-color),
      $color: map.get(buttons.$secondary-success, color),
      $hover-background-color:
        map.get(buttons.$secondary-success, hover-background-color),
      $hover-border-color:
        map.get(buttons.$secondary-success, hover-border-color),
      $active-background-color:
        map.get(buttons.$secondary-success, active-background-color),
      $active-border-color:
        map.get(buttons.$secondary-success, active-border-color),
      $focus-background-color:
        map.get(buttons.$secondary-success, focus-background-color),
      $focus-border-color:
        map.get(buttons.$secondary-success, focus-border-color),
      $focus-shadow-color:
        map.get(buttons.$secondary-success, focus-shadow-color),
      $disabled-background-color:
        map.get(buttons.$secondary-success, disabled-background-color),
      $disabled-border-color:
        map.get(buttons.$secondary-success, disabled-border-color),
      $disabled-color: map.get(buttons.$secondary-success, disabled-color)
    );
    color: white;
    border: 1px solid #4bb543;
    border-radius: 30px;
    overflow: hidden;
  }

  &--danger {
    @include as-button(
      $background-color: map.get(buttons.$secondary-danger, background-color),
      $border-color: map.get(buttons.$secondary-danger, border-color),
      $color: map.get(buttons.$secondary-danger, color),
      $hover-background-color:
        map.get(buttons.$secondary-danger, hover-background-color),
      $hover-border-color:
        map.get(buttons.$secondary-danger, hover-border-color),
      $active-background-color:
        map.get(buttons.$secondary-danger, active-background-color),
      $active-border-color:
        map.get(buttons.$secondary-danger, active-border-color),
      $focus-background-color:
        map.get(buttons.$secondary-danger, focus-background-color),
      $focus-border-color:
        map.get(buttons.$secondary-danger, focus-border-color),
      $focus-shadow-color:
        map.get(buttons.$secondary-danger, focus-shadow-color),
      $disabled-background-color:
        map.get(buttons.$secondary-danger, disabled-background-color),
      $disabled-border-color:
        map.get(buttons.$secondary-danger, disabled-border-color),
      $disabled-color: map.get(buttons.$secondary-danger, disabled-color)
    );
    color: #e76067;
    border: 1px solid #e76067;
    border-radius: 30px;
    overflow: hidden;
  }

  &--primary {
    @include as-button(
      $background-color: map.get(buttons.$primary, background-color),
      $border-color: map.get(buttons.$primary, border-color),
      $color: map.get(buttons.$primary, color),
      $hover-background-color: map.get(buttons.$primary, hover-background-color),
      $hover-border-color: map.get(buttons.$primary, hover-border-color),
      $active-background-color:
        map.get(buttons.$primary, active-background-color),
      $active-border-color: map.get(buttons.$primary, active-border-color),
      $focus-background-color: map.get(buttons.$primary, focus-background-color),
      $focus-border-color: map.get(buttons.$primary, focus-border-color),
      $focus-shadow-color: map.get(buttons.$primary, focus-shadow-color),
      $disabled-background-color:
        map.get(buttons.$primary, disabled-background-color),
      $disabled-border-color: map.get(buttons.$primary, disabled-border-color),
      $disabled-color: map.get(buttons.$primary, disabled-color)
    );

    border: none;
    background: #00c9ff; /* fallback for old browsers */
    border-radius: 30px;
    overflow: hidden;
    background: -webkit-linear-gradient(
      to left,
      #92fe9d,
      #00c9ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      #92fe9d,
      #00c9ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    &.hover,
    &:hover {
      background: #c2e59c; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to left,
        #64b3f4,
        #c2e59c
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to left,
        #64b3f4,
        #c2e59c
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  }

  &--primary-danger {
    @include as-button(
      $background-color: map.get(buttons.$danger, background-color),
      $border-color: map.get(buttons.$danger, border-color),
      $color: map.get(buttons.$danger, color),
      $hover-background-color: map.get(buttons.$danger, hover-background-color),
      $hover-border-color: map.get(buttons.$danger, hover-border-color),
      $active-background-color:
        map.get(buttons.$danger, active-background-color),
      $active-border-color: map.get(buttons.$danger, active-border-color),
      $focus-background-color: map.get(buttons.$danger, focus-background-color),
      $focus-border-color: map.get(buttons.$danger, focus-border-color),
      $focus-shadow-color: map.get(buttons.$danger, focus-shadow-color),
      $disabled-background-color:
        map.get(buttons.$danger, disabled-background-color),
      $disabled-border-color: map.get(buttons.$danger, disabled-border-color),
      $disabled-color: map.get(buttons.$danger, disabled-color)
    );
    border-radius: 30px;
    overflow: hidden;
  }

  &--primary-success {
    @include as-button(
      $background-color: map.get(buttons.$success, background-color),
      $border-color: map.get(buttons.$success, border-color),
      $color: map.get(buttons.$success, color),
      $hover-background-color: map.get(buttons.$success, hover-background-color),
      $hover-border-color: map.get(buttons.$success, hover-border-color),
      $active-background-color:
        map.get(buttons.$success, active-background-color),
      $active-border-color: map.get(buttons.$success, active-border-color),
      $focus-background-color: map.get(buttons.$success, focus-background-color),
      $focus-border-color: map.get(buttons.$success, focus-border-color),
      $focus-shadow-color: map.get(buttons.$success, focus-shadow-color),
      $disabled-background-color:
        map.get(buttons.$success, disabled-background-color),
      $disabled-border-color: map.get(buttons.$success, disabled-border-color),
      $disabled-color: map.get(buttons.$success, disabled-color)
    );
    border-radius: 30px;
    overflow: hidden;
  }

  &--ghost {
    @include as-button(
      $background-color: map.get(buttons.$ghost, background-color),
      $border-color: map.get(buttons.$ghost, border-color),
      $color: map.get(buttons.$ghost, color),
      $hover-background-color: map.get(buttons.$ghost, hover-background-color),
      $hover-border-color: map.get(buttons.$ghost, hover-border-color),
      $active-background-color: map.get(buttons.$ghost, active-background-color),
      $active-border-color: map.get(buttons.$ghost, active-border-color),
      $focus-background-color: map.get(buttons.$ghost, focus-background-color),
      $focus-border-color: map.get(buttons.$ghost, focus-border-color),
      $focus-shadow-color: map.get(buttons.$ghost, focus-shadow-color),
      $disabled-background-color:
        map.get(buttons.$ghost, disabled-background-color),
      $disabled-border-color: map.get(buttons.$ghost, disabled-border-color),
      $disabled-color: map.get(buttons.$ghost, disabled-color)
    );
    border-radius: 30px;
    overflow: hidden;
  }

  &--ghost-success {
    @include as-button(
      $background-color: map.get(buttons.$ghost-success, background-color),
      $border-color: map.get(buttons.$ghost-success, border-color),
      $color: map.get(buttons.$ghost-success, color),
      $hover-background-color:
        map.get(buttons.$ghost-success, hover-background-color),
      $hover-border-color: map.get(buttons.$ghost-success, hover-border-color),
      $active-background-color:
        map.get(buttons.$ghost-success, active-background-color),
      $active-border-color: map.get(buttons.$ghost-success, active-border-color),
      $focus-background-color:
        map.get(buttons.$ghost-success, focus-background-color),
      $focus-border-color: map.get(buttons.$ghost-success, focus-border-color),
      $focus-shadow-color: map.get(buttons.$ghost-success, focus-shadow-color),
      $disabled-background-color:
        map.get(buttons.$ghost-success, disabled-background-color),
      $disabled-border-color:
        map.get(buttons.$ghost-success, disabled-border-color),
      $disabled-color: map.get(buttons.$ghost-success, disabled-color)
    );
    border-radius: 30px;
    overflow: hidden;
  }

  &--ghost-danger {
    @include as-button(
      $background-color: map.get(buttons.$ghost-danger, background-color),
      $border-color: map.get(buttons.$ghost-danger, border-color),
      $color: map.get(buttons.$ghost-danger, color),
      $hover-background-color:
        map.get(buttons.$ghost-danger, hover-background-color),
      $hover-border-color: map.get(buttons.$ghost-danger, hover-border-color),
      $active-background-color:
        map.get(buttons.$ghost-danger, active-background-color),
      $active-border-color: map.get(buttons.$ghost-danger, active-border-color),
      $focus-background-color:
        map.get(buttons.$ghost-danger, focus-background-color),
      $focus-border-color: map.get(buttons.$ghost-danger, focus-border-color),
      $focus-shadow-color: map.get(buttons.$ghost-danger, focus-shadow-color),
      $disabled-background-color:
        map.get(buttons.$ghost-danger, disabled-background-color),
      $disabled-border-color:
        map.get(buttons.$ghost-danger, disabled-border-color),
      $disabled-color: map.get(buttons.$ghost-danger, disabled-color)
    );
    border-radius: 30px;
    overflow: hidden;
  }

  background: #00c9ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #92fe9d,
    #00c9ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #92fe9d,
    #00c9ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  &.hover,
  &:hover {
    background: #c2e59c; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to left,
      #64b3f4,
      #c2e59c
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      #64b3f4,
      #c2e59c
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  border-radius: 30px;
  overflow: hidden;
}
