@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';
@use '../../styles/typography.scss';

%button-secondary-color {
  // TODO: primitive atomic component
  @include as-button(
    $background-color: $button-colors-secondary-background-color,
    $border-color: $button-colors-secondary-border-color,
    $color: $button-colors-secondary-color,
    $hover-background-color: $button-colors-secondary-hover-background-color,
    $hover-border-color: $button-colors-secondary-hover-border-color,
    $active-background-color: $button-colors-secondary-active-background-color,
    $active-border-color: $button-colors-secondary-active-border-color,
    $focus-background-color: $button-colors-secondary-focus-background-color,
    $focus-border-color: $button-colors-secondary-focus-border-color,
    $focus-shadow-color: $button-colors-secondary-focus-shadow-color,
    $disabled-background-color:
      $button-colors-secondary-disabled-background-color,
    $disabled-border-color: $button-colors-secondary-disabled-border-color,
    $disabled-color: $button-colors-secondary-disabled-color
  );
}

.rcx-button {
  @mixin with-rectangular-size($height, $padding-x, $line-height) {
    padding: calc(
        (#{$height} - #{$line-height}) / 2 - #{lengths.border-width(2)}
      )
      calc(#{$padding-x} - #{lengths.border-width(2)});
    padding-block: calc(
      (#{$height} - #{$line-height}) / 2 - #{lengths.border-width(2)}
    );
    padding-inline: calc(#{$padding-x} - #{lengths.border-width(2)});
  }

  @mixin with-squared-size($size) {
    width: $size;
    height: $size;
    padding: 0;

    &::before,
    &::after {
      display: inline-block;

      height: 100%;

      content: '';
      vertical-align: middle;
    }
  }

  display: inline-block;

  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;

  @include clickable;
  @include typography.use-font-scale(p2);
  @include typography.use-text-ellipsis;

  @include with-rectangular-size(
    $height: lengths.size(40),
    $padding-x: lengths.padding(16),
    $line-height: typography.line-height(p1)
  );

  @extend %button--secondary;

  &--small {
    @include typography.use-font-scale(c2);

    @include with-rectangular-size(
      $height: lengths.size(28),
      $padding-x: lengths.padding(8),
      $line-height: typography.line-height(c1)
    );
  }

  &--square {
    @include with-squared-size($size: lengths.size(40));
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--tiny-square {
    @include with-squared-size($size: lengths.size(24));
  }

  &--mini-square {
    @include with-squared-size($size: lengths.size(20));
  }

  &--small-square {
    @include with-squared-size($size: lengths.size(28));
  }

  &--success {
    color: colors.success(500);

    &.disabled,
    &:disabled {
      color: colors.success(100);
    }
  }

  &--danger {
    color: colors.danger(500);

    &.disabled,
    &:disabled {
      color: colors.danger(100);
    }
  }

  &--primary {
    @extend %button--primary;
  }

  &--primary-danger {
    @extend %button--danger;
  }

  &--primary-success {
    @extend %button--success;
  }

  &--ghost {
    border-color: $button-colors-ghost-background-color;
    background-color: $button-colors-ghost-border-color;
  }

  &--ghost-danger {
    color: colors.danger(500);

    &.disabled,
    &:disabled {
      color: colors.danger(100);
    }
  }

  &--ghost-success {
    color: colors.success(500);

    &.disabled,
    &:disabled {
      color: colors.success(100);
    }
  }
}
