@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';
@use '../../styles/typography.scss';

$badge-colors-primary-color: theme(
  'badge-colors-primary-color',
  colors.font(pure-white)
);
$badge-colors-primary-background-color: theme(
  'badge-colors-primary-background-color',
  colors.badge(level-2)
);

$badge-colors-secondary-color: theme(
  'badge-colors-secondary-color',
  colors.font(pure-white)
);
$badge-colors-secondary-background-color: theme(
  'badge-colors-secondary-background-color',
  colors.badge(level-1)
);

$badge-colors-warning-color: theme(
  'badge-colors-warning-color',
  colors.font(pure-white)
);
$badge-colors-warning-background-color: theme(
  'badge-colors-warning-background-color',
  colors.badge(level-3)
);

$badge-colors-danger-color: theme(
  'badge-colors-danger-color',
  colors.font(pure-white)
);
$badge-colors-danger-background-color: theme(
  'badge-colors-danger-background-color',
  colors.badge(level-4)
);

$badge-colors-ghost-color: theme(
  'badge-colors-ghost-color',
  colors.font(pure-white)
);
$badge-colors-ghost-background-color: theme(
  'badge-colors-ghost-background-color',
  colors.stroke(dark)
);

$badge-colors-disabled-color: theme(
  'badge-colors-disabled-color',
  colors.font(secondary-info)
);
$badge-colors-disabled-background-color: theme(
  'badge-colors-disabled-background-color',
  colors.surface(neutral)
);

.rcx-badge {
  display: flex;
  overflow: hidden;
  justify-content: center;

  width: fit-content;
  min-width: lengths.size(16);
  min-height: lengths.size(16);

  padding: lengths.padding(2) lengths.padding(4);

  text-align: center;

  white-space: nowrap;

  text-decoration: none;
  text-overflow: ellipsis;

  word-break: keep-all;

  border-radius: theme('badge-border-radius', lengths.border-radius(full));

  @include typography.use-font-scale(micro);

  &--primary {
    color: $badge-colors-primary-color;
    background-color: $badge-colors-primary-background-color;
  }

  &--secondary {
    color: $badge-colors-secondary-color;
    background-color: $badge-colors-secondary-background-color;
  }

  &--warning {
    color: $badge-colors-warning-color;
    background-color: $badge-colors-warning-background-color;
  }

  &--danger {
    color: $badge-colors-danger-color;
    background-color: $badge-colors-danger-background-color;
  }

  &--ghost {
    color: $badge-colors-ghost-color;
    background-color: $badge-colors-ghost-background-color;
  }

  &--disabled {
    color: $badge-colors-disabled-color;
    background-color: $badge-colors-disabled-background-color;
  }

  &--small {
    min-width: lengths.size(8);
    min-height: lengths.size(8);
  }
}
