:root {
  --rcx-form-label-color: var(--color-dark-800);
  --rcx-form-label-font-size: 0.875rem;
  --rcx-form-label-font-family: var(--default-font-family);
  --rcx-form-label-font-weight: normal;
  --rcx-form-label-letter-spacing: 0;
  --rcx-form-label-line-height: 1.25;
  --rcx-form-label-error-color: var(--color-red);
}

.FormLabel {
  flex: 0 0 auto;

  box-sizing: border-box;

  letter-spacing: var(--rcx-form-label-letter-spacing);

  color: var(--rcx-form-label-color);

  font-family: var(--rcx-form-label-font-family);
  font-size: var(--rcx-form-label-font-size);
  font-weight: var(--rcx-form-label-font-weight);
  line-height: var(--rcx-form-label-line-height);
}

.FormLabel--error {
  color: var(--rcx-form-label-error-color);
}

.FormLabel--required {
  &::after {
    content: " *";
  }
}
