@import '../../../helpers/mixins.scss';
@import '../../../helpers/theme-var.scss';
@import '../../../styles/color-palette.scss';
@import '../../../styles/typography.scss';

$name: 'rcx-form-label';

$default-theme: (
  'color': color('dark-800'),
  'font-size': 0.875rem,
  'font-family': font-family('default'),
  'font-weight': normal,
  'letter-spacing': 0,
  'line-height': 1.25rem,
  'error-color': color('red-500'),
);

:root {
  --rcx-form-label-color: var(--color-dark-800);
  --rcx-form-label-font-size: 0.875rem;
  --rcx-form-label-font-family: var(--default-font-family);
  --rcx-form-label-font-weight: normal;
  --rcx-form-label-letter-spacing: 0;
  --rcx-form-label-line-height: 1.25;
  --rcx-form-label-error-color: var(--color-red);
}

.#{$name} {
  @include reset;
  @include unselectable;
  @include used-in('../Item/styles.scss');

  flex: 0 0 auto;

  box-sizing: border-box;

  letter-spacing: theme-var('letter-spacing');

  color: theme-var('color');

  font-family: theme-var('font-family');
  font-size: theme-var('font-size');
  font-weight: theme-var('font-weight');
  line-height: theme-var('line-height');

  &--error {
    color: theme-var('error-color');
  }

  &--required::after {
    content: ' *';
  }
}
