@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';
@use '../../styles/functions.scss';

$status-bullet-online-background-color: theme('status-bullet-online-background-color', colors.foreground('success'));
$status-bullet-away-background: theme('status-bullet-away-background', url('./components/StatusBullet/icons/away.svg') top left / contain no-repeat);
$status-bullet-busy-background: theme('status-bullet-busy-background', url('./components/StatusBullet/icons/busy.svg') top left / contain no-repeat);
$status-bullet-offline-background: theme('status-bullet-offline-background', url('./components/StatusBullet/icons/offline.svg') top left / contain no-repeat);
$status-bullet-loading-background: theme('status-bullet-loading-background', url('./components/StatusBullet/icons/loading.svg') top left / contain no-repeat);

.rcx-status-bullet {
  display: inline-block;

  flex-shrink: 0;
  flex-grow: 0;

  border-radius: lengths.border-radius(full);

  background: $status-bullet-loading-background;
  background-size: contain;

  @include square(lengths.size(12));

  &--small {
    @include square(functions.to-rem(10));
  }

  &--online {
    background: $status-bullet-online-background-color;
  }

  &--away {
    background: $status-bullet-away-background;
  }

  &--busy {
    background: $status-bullet-busy-background;
  }

  &--offline {
    background: $status-bullet-offline-background;
  }
}
