@use '../../styles/colors.scss';
@use '../../styles/functions';
@use '../../styles/lengths.scss';

$card-spacing: lengths.margin(8);
$card-vertical-padding: lengths.padding(20);
$card-vertical-gap: lengths.margin(24);
$card-horizontal-padding: lengths.padding(12);
$card-horizontal-gap: lengths.padding(16);
$card-horizontal-row-gap: lengths.padding(4);
$card-hero-padding: lengths.padding(28);

.rcx-card {
  display: flex;

  color: functions.theme('card-color', colors.font(default));
  border-radius: lengths.border-radius(large);

  background-color: functions.theme(
    'card-background-color',
    colors.surface(light)
  );

  &__clickable {
    &:hover,
    &:focus {
      cursor: pointer;

      outline: 0;
      background-color: colors.surface(hover);
    }
  }

  &__header,
  &__title,
  &__controls,
  &__body,
  &__row,
  &__col {
    gap: $card-spacing;
  }

  &__col {
    display: flex;
    flex-direction: column;
  }

  &__row {
    flex-grow: 1;
    flex-shrink: 1;
  }

  &__horizontal {
    align-items: center;

    padding: $card-horizontal-padding;
    gap: $card-horizontal-gap;

    &--wrap {
      flex-wrap: wrap;
    }
  }

  &__horizontal &__col {
    row-gap: $card-horizontal-row-gap;
  }

  &__vertical {
    flex-direction: column;

    padding: $card-vertical-padding;
    gap: $card-vertical-gap;
  }

  &__hero {
    padding: $card-hero-padding;
  }

  &__title,
  &__row,
  &__header,
  &__controls {
    display: flex;
    align-items: center;
  }
}
