@use '../../styles/colors.scss';

.rcx-label {
  @include use-text-style(p2);
  color: colors.foreground(default);

  &--disabled {
    pointer-events: none;

    color: colors.foreground(hint);
  }

  &--required {
    &::before {
      content: '*\0a0';

      color: colors.foreground(danger);
    }
  }
}
