@use '../../styles/colors.scss';
@use '../../styles/typography.scss';

.rcx-label {
  @include typography.use-font-scale(p2);
  color: colors.color('default');

  &--disabled {
    pointer-events: none;

    color: colors.color('hint');
  }

  &--required {
    &::before {
      content: '*\0a0';

      color: colors.color('danger');
    }
  }
}
