:root {
  --rcx-page-header-height: 4.25rem;
  --rcx-page-header-padding: 0.75rem 1.5rem;
  --rcx-page-header-background-color: var(--color-white);
  --rcx-page-header-box-shadow: 0 1.5px 2px 0 rgba(31, 35, 41, 0.08);
  --rcx-page-header-title-color: var(--color-dark-900);
  --rcx-page-header-title-font-family: var(--default-font-family);
  --rcx-page-header-title-font-size: 1.375rem;
  --rcx-page-header-title-font-weight: 400;
  --rcx-page-header-title-line-height: 1.25;
}

.PageHeader {
  display: flex;

  box-sizing: border-box;
  width: 100%;
  min-height: var(--rcx-page-header-height);
  padding: var(--rcx-page-header-padding);

  background-color: var(--rcx-page-header-background-color);
  box-shadow: var(--rcx-page-header-box-shadow);
  align-items: center;
  flex-flow: row nowrap;

  .ButtonGroup {
    margin: 0 calc(-1 * var(--rcx-button-group-gap) / 2);
  }
}

.PageHeader__Title {
  flex: 1;

  margin: 0;
  padding: 0;

  color: var(--rcx-page-header-title-color);

  font-family: var(--rcx-page-header-title-font-family);
  font-size: var(--rcx-page-header-title-font-size);
  font-weight: var(--rcx-page-header-title-font-weight);
  line-height: var(--rcx-page-header-title-line-height);
}

.PageHeader__BurgerButtonIcon {
  display: inline-flex;

  width: 1.25em;
  height: 1em;

  vertical-align: middle;
  flex-flow: column nowrap;
  justify-content: space-between;

  > * {
    background-color: currentColor;
    flex-basis: 2px;
  }
}
