@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';

.rcx-option {
  @include clickable;
  @include use-text-style(p2);
  @include use-text-ellipsis;

  padding: lengths.padding(8);

  list-style: none;

  white-space: nowrap;

  &:hover,
  &--focus {
    background: colors.neutral(400);
  }

  &--selected {
    color: $text-colors-primary;
  }
}
