.rcx-options {
  position: absolute;
  z-index: 9999;
  top: 100%;
  right: 0;
  left: 0;
}

.rcx-option {
  padding: $sizes-x8;

  list-style: none;

  transition: background $transitions-short-duration;
  @include clickable;

  &:hover,
  &--focus {
    background: $colors-n400;
  }
}
