@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';
@use '../../styles/typography.scss';

$variants: (
  'success': colors.success(700),
  'danger': colors.danger(700),
  'warning': colors.warning(700),
  'primary': colors.primary(700),
);

.rcx-option {
  @include clickable;
  @include typography.use-font-scale(p3);

  padding: lengths.padding(4) lengths.padding(16);

  list-style: none;

  color: colors.foreground(default);

  &__title {
    @include typography.use-font-scale(c1);

    padding-block-start: lengths.padding(8);
    padding-block-end: lengths.padding(8);
    padding-inline: length.padding(16);

    color: colors.foreground(default);
  }

  &__wrapper {
    display: flex;
    align-items: center;

    margin-inline: lengths.margin(-2);
  }

  &:hover,
  &--focus {
    background: colors.neutral(100);
  }

  &--selected {
    background: colors.neutral(500);
  }

  &:hover &__menu-wrapper,
  &.focus-within &__menu-wrapper,
  &:focus-within &__menu-wrapper {
    display: flex;
    align-items: center;

    width: lengths.size(28);

    opacity: 1;
  }

  &__menu-wrapper {
    flex-shrink: 0;

    width: 0;

    height: 100%;

    opacity: 0;
  }

  @each $name, $color in $variants {
    &--#{$name} {
      color: theme('option-color-variant-#{$name}', $color);
    }
  }
}

%column {
  flex: 0 0 auto;

  margin-inline: lengths.margin(2);
}

.rcx-option__icon {
  color: inherit;
}

.rcx-option__avatar {
  @extend %column;
}

.rcx-option__content {
  @include typography.use-text-ellipsis;
  @extend %column;
  flex: 1 1 100%;

  text-align: start;

  white-space: nowrap;
}

.rcx-option__column {
  @extend %column;
  display: flex;

  justify-content: center;
  align-items: center;

  min-width: lengths.size(20);
  min-height: lengths.size(20);
}

.rcx-option__description {
  @include typography.use-font-scale(p3);
  @extend %column;
  display: inline;

  color: colors.foreground(hint);
}

.rcx-options:hover {
  .rcx-option--focus:not(.rcx-option--selected):not(:hover) {
    background: initial;
  }
}
