.rcx-box {
  animation-duration: $transitions-short-duration;

  &--unhiding {
    display: initial;

    animation-name: rcx-box--unhiding-animation;
  }

  &--hiding {
    display: initial;

    animation-name: rcx-box--hiding-animation;
  }
}

@keyframes rcx-box--unhiding-animation {
  from {
    visibility: hidden;

    transform: translate3d(0, $spaces-x16, 0);

    opacity: 0;
  }

  to {
    visibility: visible;

    transform: translate3d(0, 0, 0);

    opacity: 1;
  }
}

@keyframes rcx-box--hiding-animation {
  from {
    visibility: visible;

    transform: translate3d(0, 0, 0);

    opacity: 1;
  }

  to {
    visibility: hidden;

    transform: translate3d(0, $spaces-x16, 0);

    opacity: 0;
  }
}
