@mixin with-decorator-colors(
  $background-color,
  $border-color,
  $hover-border-color,
  $focus-border-color,
  $focus-shadow-color,
  $active-border-color,
  $disabled-background-color,
  $disabled-border-color,
) {
  border-color: #{ $border-color };
  background-color: #{ $background-color };
  box-shadow: none;

  &:hover,
  &.hover {
    border-color: #{ $hover-border-color };
  }

  &:focus-within,
  &.focus {
    border-color: #{ $focus-border-color };
    box-shadow: 0 0 0 #{ to-rem(6) } #{ $focus-shadow-color };
  }

  &:active,
  &.active {
    border-color: #{ $active-border-color };
    box-shadow: none;
  }

  *:disabled &,
  &:disabled,
  &.disabled {
    border-color: #{ $disabled-border-color };
    background-color: #{ $disabled-background-color };
  }
}

.rcx-input-box__wrapper {
  position: relative;

  display: inline-flex;

  flex: 1 0 0;

  min-width: 8rem;

  vertical-align: baseline;

  word-break: break-all;

  border-width: #{ $borders-width-x2 };
  border-radius: #{ $borders-radius-x2 };

  outline: 0;

  flex-flow: row nowrap;

  @include with-decorator-colors(
    $background-color: $input-colors-background-color,
    $border-color: $input-colors-border-color,
    $hover-border-color: $input-colors-hover-border-color,
    $focus-border-color: $input-colors-focus-border-color,
    $focus-shadow-color: $input-colors-focus-shadow-color,
    $active-border-color: $input-colors-active-border-color,
    $disabled-background-color: $input-colors-disabled-background-color,
    $disabled-border-color: $input-colors-disabled-border-color,
  );

  &:invalid,
  &.invalid {
    @include with-decorator-colors(
      $background-color: $input-colors-invalid-background-color,
      $border-color: $input-colors-invalid-border-color,
      $hover-border-color: $input-colors-invalid-hover-border-color,
      $focus-border-color: $input-colors-invalid-focus-border-color,
      $focus-shadow-color: $input-colors-invalid-focus-shadow-color,
      $active-border-color: $input-colors-invalid-active-border-color,
      $disabled-background-color: $input-colors-invalid-disabled-background-color,
      $disabled-border-color: $input-colors-invalid-disabled-border-color,
    );
  }

  *:disabled &,
  &:disabled,
  &.disabled {
    cursor: not-allowed;
  }
}

.rcx-input-box__addon {
  display: flex;
  flex: 0 0 auto;

  padding-top: calc(#{ $spaces-x12 } - #{ $borders-width-x2 });
  padding-right: calc(#{ $spaces-x16 } - #{ $borders-width-x2 });
  padding-bottom: calc(#{ $spaces-x12 } - #{ $borders-width-x2 });
  padding-block: calc(#{ $spaces-x12 } - #{ $borders-width-x2 });
  padding-inline-end: calc(#{ $spaces-x16 } - #{ $borders-width-x2 });
  align-items: flex-start;
  flex-flow: row nowrap;

  &--over-input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    pointer-events: none;
    inset-block: 0;
    inset-inline-end: 0;

    .rtl &,
    &.rtl,
    [dir=rtl] & {
      right: unset;
      left: 0;
    }
  }
}

@mixin with-colors(
  $color,
  $placeholder-color,
  $focus-caret-color,
  $active-caret-color,
  $disabled-color,
) {
  color: #{ $color };

  // TODO: fix placeholder performance issue
  // &::placeholder {
  //   color: #{ $placeholder-color };
  // }

  &.rcx-input-box--placeholder-visible {
    color: #{ $placeholder-color };
  }

  &:focus,
  &.focus {
    caret-color: #{ $focus-caret-color };
  }

  &:active,
  &.active {
    caret-color: #{ $active-caret-color };
  }

  *:disabled &,
  &:disabled,
  &.disabled {
    color: #{ $disabled-color };
  }
}

@mixin with-icon-addon-colors(
  $color,
  $focus-caret-color,
  $focus-icon-color,
  $disabled-color,
) {
  & + .rcx-input-box__addon {
    color: #{ $color };
  }

  .rcx-input-box__wrapper.focus > & {
    caret-color: #{ $focus-caret-color };
  }

  &:focus + .rcx-input-box__addon,
  &.focus + .rcx-input-box__addon,
  .rcx-input-box__wrapper.focus > & + .rcx-input-box__addon {
    color: #{ $focus-icon-color };
  }

  .rcx-input-box__wrapper.disabled > & {
    color: #{ $disabled-color };
  }

  *:disabled & + .rcx-input-box__addon,
  &:disabled + .rcx-input-box__addon,
  &.disabled + .rcx-input-box__addon,
  .rcx-input-box__wrapper.disabled > & + .rcx-input-box__addon {
    color: #{ $disabled-color };
  }
}

.rcx-input-box {
  position: relative;

  display: inline-flex;

  flex: 1 0 auto;

  min-width: 8rem;

  padding:
    calc(#{ $spaces-x12 } - #{ $borders-width-x2 })
    calc(#{ $spaces-x16 } - #{ $borders-width-x2 });
  padding-block: calc(#{ $spaces-x12 } - #{ $borders-width-x2 });
  padding-inline: calc(#{ $spaces-x16 } - #{ $borders-width-x2 });

  user-select: initial;

  vertical-align: baseline;

  word-break: break-all;

  outline: 0;

  background-color: transparent;

  @include as-paragraph;
  @include with-text--ellipsis;

  &--type-textarea {
    overflow: auto;

    resize: none;
    vertical-align: middle;
    @include scrollable;
  }

  &--type-select {
    overflow: auto;
    appearance: none;
    @include scrollable;

    &.rcx-input-box--multiple {
      vertical-align: middle;
    }
  }

  &:not(.rcx-input-box--undecorated) {
    min-width: 8rem;
    min-height: #{ $sizes-x44 };

    border-width: #{ $borders-width-x2 };
    border-radius: #{ $borders-radius-x2 };

    @include with-decorator-colors(
      $background-color: $input-colors-background-color,
      $border-color: $input-colors-border-color,
      $hover-border-color: $input-colors-hover-border-color,
      $focus-border-color: $input-colors-focus-border-color,
      $focus-shadow-color: $input-colors-focus-shadow-color,
      $active-border-color: $input-colors-active-border-color,
      $disabled-background-color: $input-colors-disabled-background-color,
      $disabled-border-color: $input-colors-disabled-border-color,
    );

    &:invalid,
    &.invalid {
      @include with-decorator-colors(
        $background-color: $input-colors-invalid-background-color,
        $border-color: $input-colors-invalid-border-color,
        $hover-border-color: $input-colors-invalid-hover-border-color,
        $focus-border-color: $input-colors-invalid-focus-border-color,
        $focus-shadow-color: $input-colors-invalid-focus-shadow-color,
        $active-border-color: $input-colors-invalid-active-border-color,
        $disabled-background-color: $input-colors-invalid-disabled-background-color,
        $disabled-border-color: $input-colors-invalid-disabled-border-color,
      );
    }
  }

  @include with-colors(
    $color: $input-colors-color,
    $placeholder-color: $input-colors-placeholder-color,
    $focus-caret-color: $input-colors-focus-caret-color,
    $active-caret-color: $input-colors-active-caret-color,
    $disabled-color: $input-colors-disabled-color,
  );

  &:invalid,
  &.invalid {
    @include with-colors(
      $color: $input-colors-invalid-color,
      $placeholder-color: $input-colors-invalid-placeholder-color,
      $focus-caret-color: $input-colors-invalid-focus-caret-color,
      $active-caret-color: $input-colors-invalid-active-caret-color,
      $disabled-color: $input-colors-invalid-disabled-color,
    );

    @include with-icon-addon-colors(
      $color: $input-colors-invalid-color,
      $focus-caret-color: $input-colors-invalid-focus-caret-color,
      $focus-icon-color: $input-colors-invalid-focus-icon-color,
      $disabled-color: $input-colors-invalid-disabled-color,
    );
  }

  *:disabled &,
  &:disabled,
  &.disabled {
    cursor: not-allowed;
  }

  @include with-icon-addon-colors(
    $color: $input-colors-color,
    $focus-caret-color: $input-colors-focus-caret-color,
    $focus-icon-color: $input-colors-focus-icon-color,
    $disabled-color: $input-colors-disabled-color,
  );

  *:disabled & + .rcx-input-box__addon,
  &:disabled + .rcx-input-box__addon,
  &.disabled + .rcx-input-box__addon {
    pointer-events: none;
  }

  &--under-addon {
    padding-right: calc(#{ $spaces-x16 } + #{ $sizes-x44 } - 2 * #{ $spaces-x12 });
    padding-inline-end: calc(#{ $spaces-x16 } + #{ $sizes-x44 } - 2 * #{ $spaces-x12 });
  }

  .rcx-input-box__wrapper > & {
    width: 0;
    min-width: 0;
  }
}

.rcx-input-box__placeholder {
  @include with-text--ellipsis;
  @include with-text--nowrap;

  @include as-paragraph;
  color: #{ $input-colors-placeholder-color };
}

.rcx-input-box__option {
  @include with-text--ellipsis;
  @include with-text--nowrap;

  @include as-paragraph;
  color: #{ $input-colors-color };
}

.rcx-skeleton__input {
  display: inline-flex;

  flex: 1 0 0;

  min-width: 8rem;
  min-height: #{ $sizes-x44 };

  padding:
    calc(#{ $spaces-x12 } - #{ $borders-width-x2 })
    calc(#{ $spaces-x16 } - #{ $borders-width-x2 });
  padding-block: calc(#{ $spaces-x12 } - #{ $borders-width-x2 });
  padding-inline: calc(#{ $spaces-x16 } - #{ $borders-width-x2 });

  vertical-align: baseline;

  color: #{ $input-colors-color };

  border-width: #{ $borders-width-x2 };
  border-color: #{ $input-colors-border-color };
  border-radius: #{ $borders-radius-x2 };
  background-color: #{ $input-colors-background-color };

  @include as-paragraph;
  @include with-text--ellipsis;
}
