@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';
@use '../../styles/functions.scss';

$avatar-stack-background-color: theme('avatar-background-color', colors.surface());

$sizes: 16, 18, 20, 24, 28, 32, 36, 48, 124, 200, 332;

.rcx-avatar {
  display: inline-flex;

  vertical-align: middle;

  &__element {
    position: relative;

    border-radius: lengths.border-width(2);

    &--rounded {
      border-radius: 100%;
    }
  }

  &-stack {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    color: #{ $avatar-stack-background-color };

    & > .rcx-avatar {
      margin:
        auto
        lengths.margin(-2);

      & > .rcx-avatar__element {
        border: lengths.border-width(2) solid currentColor;
      }
    }
  }

  @each $size in $sizes {
    &--x#{$size} {
      @include square(functions.to-rem($size));
    }
  }
}
