@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';

$avatar-stack-background-color: theme('avatar-background-color', colors.surface());

.rcx-avatar {
  display: inline-flex;

  &__element {
    position: relative;

    flex: 1 1 auto;

    border-radius: lengths.border-width(2);

    &--rounded {
      border-radius: 100%;
    }
  }

  &-stack {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    color: #{ $avatar-stack-background-color };

    & > .rcx-avatar {
      margin:
        auto
        lengths.margin(-2);

      & > .rcx-avatar__element {
        border: lengths.border-width(2) solid currentColor;
      }
    }
  }
}
