@use '../../styles/colors.scss';

.rcx-avatar {
  display: inline-flex;

  &__element {
    position: relative;

    border-radius: 2px;

    &--rounded {
      border-radius: 100%;
    }
  }

  &-stack {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    color: #{ colors.color('surface') };

    & > .rcx-avatar {
      margin:
        auto
        -2px;

      & > .rcx-avatar__element {
        border: 2px solid currentColor;
      }
    }
  }
}
