@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';
@use '../../styles/typography.scss';

.rcx-tile {
  display: block;

  color: colors.font(default);
  border-radius: lengths.border-radius(2);
  background-color: colors.surface(light);

  @include typography.use-font-scale(p2);

  &--elevation-0 {
    box-shadow: none;
  }

  &--elevation-1 {
    box-shadow: 0 0 12px 0 colors.elevation(1);
  }

  &--elevation-2 {
    box-shadow: 0 0 2px 0 colors.elevation('2x'),
      0 0 12px 0 colors.elevation('2y');
  }
}
