@use '../../colors.scss';
@use '../../lengths.scss';
@use './elevation.scss';
@use './rich-text.scss';

%--visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;
  clip-path: inset(50%);
}

%--with-scrollbars {
  &::-webkit-scrollbar {
    width: lengths.size(4);
    height: lengths.size(4);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.neutral(100, 0.05);
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: colors.neutral(100, 0.15);
  }
}
