@use '../../colors.scss';
@use '../../lengths.scss';
@use '../../typography.scss';

%--with-inline-elements {
  a,
  abbr,
  b,
  cite,
  code,
  del,
  dfn,
  em,
  i,
  ins,
  kbd,
  q,
  samp,
  small,
  strong,
  sub,
  sup,
  time,
  var {
    letter-spacing: inherit;

    color: inherit;

    font: inherit;
  }

  a {
    &:link {
      text-decoration: none;

      color: colors.foreground(link);
    }

    &:visited,
    &.is-visited {
      color: colors.foreground(visited-link);
    }

    &:active,
    &.is-active {
      color: colors.foreground(active-link);
    }

    &:hover,
    &.is-hovered {
      text-decoration: underline;
    }
  }

  strong {
    letter-spacing: inherit;

    font: inherit;
    font-weight: bolder;
  }

  em {
    letter-spacing: inherit;

    font: inherit;
    font-style: italic;
  }

  b {
    letter-spacing: inherit;

    font: inherit;
    font-weight: bolder;
  }

  i {
    letter-spacing: inherit;

    font: inherit;
    font-style: italic;
  }

  q {
    letter-spacing: inherit;

    font: inherit;

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }

    cite {
      letter-spacing: inherit;

      font: inherit;
      font-style: italic;
    }
  }

  ul,
  ol {
    display: inline;

    padding-inline-end: lengths.padding(4);
  }

  li {
    display: inline;
  }

  code {
    display: inline;

    padding: lengths.padding(1) lengths.padding(4);

    vertical-align: middle;

    white-space: pre-wrap;
    letter-spacing: inherit;
    word-wrap: break-word;

    color: colors.foreground(default);
    border-width: lengths.border-width(1);
    border-color: colors.neutral(500);
    border-radius: lengths.border-radius(2);
    background-color: colors.neutral(100);

    font: inherit;

    font-family: typography.font-family(mono);
    direction: ltr;
    -webkit-font-smoothing: auto;
    @include typography.use-font-scale(c2);

    unicode-bidi: embed;
  }

  time {
    letter-spacing: inherit;

    color: colors.foreground(info);

    font: inherit;
  }

  dfn {
    letter-spacing: inherit;

    color: colors.foreground(info);

    font: inherit;
    font-style: italic;
  }

  abbr {
    letter-spacing: inherit;

    font: inherit;

    &[title] {
      text-decoration: underline dashed;

      border-block-end-width: lengths.border-width(none);
    }
  }

  del {
    text-decoration: line-through solid;
    letter-spacing: inherit;

    font: inherit;
  }

  ins {
    text-decoration: underline solid;
    letter-spacing: inherit;

    font: inherit;
  }

  sup,
  sub {
    position: relative;

    vertical-align: baseline;

    font-size: 75%;
    line-height: 0;
  }

  sup {
    inset-block-start: -0.5em;
  }

  sub {
    inset-block-end: -0.25em;
  }

  kbd {
    padding: lengths.padding(4) lengths.padding(8);

    letter-spacing: inherit;

    border-width: lengths.border-width(1);
    border-style: solid;
    border-color: currentColor;
    border-radius: lengths.border-radius(2);

    font: inherit;
    font-family: typography.font-family(mono);
    -webkit-font-smoothing: auto;
  }

  var {
    letter-spacing: inherit;

    font: inherit;
    font-style: italic;
  }

  small {
    letter-spacing: inherit;

    font: inherit;
    font-size: 80%;
  }
}

%--with-block-elements {
  @extend %--with-inline-elements;

  font: inherit;

  h1 {
    @include typography.use-font-scale(h1);
  }

  h2 {
    @include typography.use-font-scale(s2);
  }

  h3 {
    @include typography.use-font-scale(p2);
  }

  h4 {
    @include typography.use-font-scale(c2);
  }

  h5 {
    @include typography.use-font-scale(micro);
  }

  h6 {
    @include typography.use-font-scale(micro);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;

    margin: lengths.margin(16) lengths.margin(none);
  }

  p {
    @include typography.use-font-scale(p1);

    display: block;

    margin: lengths.margin(16) lengths.margin(none);

    color: inherit;
  }

  ul,
  ol {
    display: block;

    margin: lengths.margin(16) lengths.margin(none);
    padding-inline-start: lengths.padding(40);
  }

  ul {
    @include typography.use-font-scale(p1);
    list-style-type: disc;
  }

  ol {
    @include typography.use-font-scale(p1);
    list-style-type: decimal;
  }

  li {
    display: list-item;

    text-align: inherit;

    color: inherit;

    font: inherit;
  }

  pre {
    letter-spacing: inherit;

    font: inherit;
    font-family: typography.font-family(mono);

    code {
      display: block;

      overflow-y: hidden;

      margin: lengths.margin(8) lengths.margin(none);
      padding: lengths.margin(8);

      letter-spacing: inherit;
    }
  }
}
