@import '../../helpers/mixins.scss';
@import '../../helpers/theme-var.scss';
@import '../../tokens/index.scss';

$name: 'rcx-drawer';

$default-theme: (
  'z-index': 10,
  'transition-duration': dimension('long-transition-duration'),
);

.#{$name} {
  @include reset;

  position: fixed;
  z-index: theme-var('z-index');
  top: 0;
  left: 0;

  display: flex;
  flex: 0 0 auto;

  transition: transform theme-var('transition-duration');
  transform: translateX(-100%);

  flex-flow: column nowrap;

  &--open {
    transform: translateX(0);
  }

  &--reverse {
    right: 0;
    left: auto;

    transform: translateX(100%);
  }

  &--reverse#{&}--open {
    transform: translateX(0);
  }

  &--docked {
    position: static;

    transform: translateX(0);
  }
}

.#{$name}__backdrop {
  position: fixed;
  z-index: calc(#{theme-var('z-index')} - 1);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  visibility: hidden;

  transition:
    opacity theme-var('transition-duration'),
    visibility theme-var('transition-duration');

  opacity: 0;
  background-color: rgba(0, 0, 0, 0.1);

  &--visible {
    visibility: visible;

    opacity: 1;
  }
}
