@use '../../styles/lengths.scss';
@use '../../styles/colors.scss';
@use '../../styles/typography.scss' as *;
@use '../../styles/functions.scss' as *;
@use '../../styles/primitives/traits.scss';

$states-icons-color-success: theme(
  'states-icons-color-success',
  colors.status-font(on-success)
);
$states-icons-color-danger: theme(
  'states-icons-color-danger',
  colors.status-font(on-danger)
);
$states-icons-color-warning: theme(
  'states-icons-color-warning',
  colors.status-font(on-warning)
);
$states-icons-color-primary: theme(
  'states-icons-color-primary',
  colors.status-font(on-info)
);

.rcx-states {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: lengths.padding(16);

  color: colors.font(secondary-info);

  &__icon {
    margin-block-end: lengths.margin(20);
    padding: lengths.margin(16);

    color: colors.font(secondary-info);

    border-radius: lengths.border-radius(full);

    background-color: colors.surface(neutral);

    &--success {
      color: $states-icons-color-success;
    }

    &--danger {
      color: $states-icons-color-danger;
    }

    &--warning {
      color: $states-icons-color-warning;
    }

    &--primary {
      color: $states-icons-color-primary;
    }
  }

  &__title {
    margin-block: lengths.margin(0) lengths.margin(8);

    text-align: center;

    color: colors.font(default);
    @include use-font-scale(h3);
  }

  &__list,
  &__suggestion {
    @include use-font-scale(p2m);
  }

  &__subtitle {
    @include use-font-scale(p1);
  }

  &__subtitle,
  &__list,
  &__suggestion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 462px;

    margin: 0;
    padding: 0;

    list-style-position: inside;

    text-align: center;
  }

  &__suggestion-text-nomargin {
    margin: 0;
  }

  &__suggestion,
  &__subtitle {
    margin-block-end: lengths.margin(24);
  }

  &__list {
    list-style: initial;

    &-item {
      &-wrapper {
        margin-inline-start: lengths.margin(-4);
      }
    }
  }

  &__link {
    @include use-font-scale(p2);
    margin-block: lengths.margin(16);

    color: colors.font(info);
    @extend %with-inline-elements;
  }
}
