@import '../helpers.scss';
@import '../styles/spaces.scss';

$spacing: theme('field-group-spacing', $spaces-6);

.rcx-field-group {
  display: flex;

  margin-top: calc(-1 * #{$spacing});

  align-items: center;

  flex-flow: column nowrap;
  justify-content: center;

  & > .rcx-field {
    flex: 0 0 auto;

    margin-top: $spacing;
  }
}
