:root {
  --rcx-form-description-color: var(--color-dark-600);
  --rcx-form-description-font-size: 0.75rem;
  --rcx-form-description-font-family: var(--default-font-family);
  --rcx-form-description-font-weight: normal;
  --rcx-form-description-letter-spacing: 0;
  --rcx-form-description-line-height: 1;
  --rcx-form-description-error-color: var(--color-red);
}

.FormDescription {
  flex: 0 0 auto;

  box-sizing: border-box;
  min-height: calc(var(--rcx-form-item-description-line-height) * 1);

  letter-spacing: var(--rcx-form-description-letter-spacing);

  color: var(--rcx-form-description-color);

  font-family: var(--rcx-form-description-font-family);
  font-size: var(--rcx-form-description-font-size);
  font-weight: var(--rcx-form-description-font-weight);
  line-height: var(--rcx-form-description-line-height);
}

.FormDescription--error {
  color: var(--rcx-form-description-error-color);
}
