.rcx-box--flex {
  display: flex !important;

  &-inline {
    display: inline-flex !important;
  }

  &-row {
    flex-direction: row !important;
  }

  &-row-reverse {
    flex-direction: row-reverse !important;
  }

  &-column {
    flex-direction: column !important;
  }

  &-column-reverse {
    flex-direction: column-reverse !important;
  }

  &-wrap {
    flex-wrap: wrap !important;
  }

  &-no-wrap {
    flex-wrap: nowrap !important;
  }

  &-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  &-items-stretch {
    align-items: stretch !important;
  }

  &-items-start {
    align-items: flex-start !important;
  }

  &-items-center {
    align-items: center !important;
  }

  &-items-end {
    align-items: flex-end !important;
  }

  &-items-baseline {
    align-items: baseline !important;
  }

  &-content-start {
    align-content: flex-start !important;
  }

  &-content-center {
    align-content: center !important;
  }

  &-content-end {
    align-content: flex-end !important;
  }

  &-content-space-between {
    align-content: space-between !important;
  }

  &-content-space-around {
    align-content: space-around !important;
  }

  &-justify-start {
    justify-content: flex-start !important;
  }

  &-justify-center {
    justify-content: center !important;
  }

  &-justify-end {
    justify-content: flex-end !important;
  }

  &-justify-space-between {
    justify-content: space-between !important;
  }

  &-justify-space-around {
    justify-content: space-around !important;
  }

  &-self-auto {
    align-self: auto !important;
  }

  &-self-start {
    align-self: flex-start !important;
  }

  &-self-center {
    align-self: center !important;
  }

  &-self-end {
    align-self: flex-end !important;
  }

  &-self-stretch {
    align-self: stretch !important;
  }
}
