@use '../../styles/values.scss';

.rcx-radio-button {
  @include is-selection-button($checked: 'primary', $unchecked: 'empty');

  &__input {
    @extend %selection-button__input;
  }

  &__fake {
    @extend %selection-button__fake;
    border-radius: values.border-radius(full);
    inline-size: values.size(20);
  }

  &__input:checked + &__fake::before {
    position: absolute;
    inset-block-start: values.inset(50%);
    inset-inline-start: values.inset(50%);

    display: block;

    width: 0.3 * values.size(20);
    height: 0.3 * values.size(20);

    content: '';

    transform: translate(-50%, -50%);

    border-radius: $borders-radius-full;

    background-color: currentColor;
  }
}
