@import '../../../helpers/mixins.scss';
@import '../../../helpers/theme-var.scss';
@import '../../../tokens/index.scss';

$name: 'rcx-side-bar__menu';

$default-theme: (
  'padding': 0.5rem,
  'title-padding': 0 1rem 0.5rem,
  'title-color': color('dark800'),
  'title-font-family': font-family('default'),
  'title-font-size': 0.75rem,
  'title-font-weight': 600,
  'title-letter-spacing': 0,
  'title-line-height': 1rem,
);

.#{$name} {
  @include reset;

  display: flex;

  padding: theme-var('padding');
  flex-flow: column nowrap;
}

.#{$name}-title {
  @include reset;
  @include selectable-for-help;

  padding: theme-var('title-padding');

  letter-spacing: theme-var('title-letter-spacing');

  color: theme-var('title-color');

  font-family: theme-var('title-font-family');
  font-size: theme-var('title-font-size');
  font-weight: theme-var('title-font-weight');
  line-height: theme-var('title-line-height');
}

.#{$name}-list {
  @include reset($list: true);
  @include unselectable;

  display: flex;

  align-items: stretch;
  flex-flow: column nowrap;
}
