@use '../../../styles/lengths.scss';
@use '../../../styles/colors.scss';
@use '../../../styles/typography.scss';
@use '../../../styles/mixins/size.scss';
@use '../../../styles/variables/buttons.scss';
@use '../../../styles/primitives/button.scss';
@use '../mixins.scss';

.rcx-message-reactions {
  &__reaction {
    @include button.kind-variant(buttons.$icon);
    @include typography.use-font-scale(c1);
    display: inline-flex;
    align-items: center;

    padding: lengths.padding(2);

    cursor: pointer;

    color: colors.foreground(info);
    border: lengths.border-width(1) solid colors.neutral(400);
    border-radius: lengths.border-radius(4);

    &--action {
      @include mixins.visible-on-hover();
      padding: lengths.padding(2);
    }

    &--mine {
      @include button.kind-variant(
        (
          color: theme('message-reaction-color', colors.primary(500)),
          border-color:
            theme('message-reaction-border-color', colors.primary(200)),
          background-color:
            theme('message-reaction-background-color', colors.primary(100)),
          hover-border-color:
            theme('message-reaction-hover-border-color', colors.primary(300)),
          hover-background-color:
            theme(
              'message-reaction-hover-background-color',
              colors.primary(200)
            ),
          active-border-color:
            theme('message-reaction-active-border-color', colors.primary(500)),
          active-background-color:
            theme(
              'message-reaction-active-background-color',
              colors.primary(300)
            ),
          disabled-color:
            theme('message-reaction-disabled-color', colors.primary(500)),
          disabled-border-color:
            theme('message-reaction-disabled-border-color', colors.primary(500)),
          disabled-background-color:
            theme(
              'message-reaction-disabled-background-color',
              colors.primary(200)
            ),
        )
      );
      border-width: lengths.border-width(1);
    }
  }

  &__emoji {
    display: block;
    @include size.square(lengths.size(16));
  }

  &__counter {
    @include typography.use-font-scale(c1);
    margin-inline: lengths.margin(2);
  }
}
