@use '../../../styles/lengths.scss';
@use '../../../styles/colors.scss';
@use '../../../styles/typography.scss';
@use '../../../styles/mixins/size.scss';
@use '../../../styles/variables/buttons.scss';
@use '../../../styles/primitives/button.scss';
@use '../mixins.scss';

.rcx-message-reactions {
  &__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    margin: lengths.margin(-2);
  }

  &__reaction {
    @include typography.use-font-scale(c1);
    display: inline-flex;
    align-items: center;

    margin: lengths.margin(2);

    padding: lengths.padding(2);

    cursor: pointer;

    color: colors.font(hint);
    border: lengths.border-width(default) solid colors.stroke(light);
    border-radius: theme(
      'message-reaction-border-radius',
      lengths.border-radius(medium)
    );
    background-color: theme(
      'message-reaction-hover-background-color',
      colors.surface(tint)
    );

    &:hover {
      border-color: theme(
        'message-reaction-hover-border-color',
        colors.stroke(dark)
      );
      background-color: theme(
        'message-reaction-hover-background-color',
        colors.surface(hover)
      );
    }

    &--action {
      @include mixins.visible-on-hover();
      padding: lengths.padding(2);
    }

    &--mine {
      color: theme('message-reaction-color', colors.font(default));
      border-width: lengths.border-width(default);
      border-color: theme('message-reaction-border-color', colors.stroke(dark));
      background-color: theme(
        'message-reaction-background-color',
        colors.surface(selected)
      );
    }
  }

  &__emoji {
    display: block;
    @include size.square(lengths.size(16));
  }

  &__counter {
    @include typography.use-font-scale(c1);
    margin-inline: lengths.margin(2);
  }
}
