@use '../../styles/lengths.scss';
@use '../../styles/colors.scss';

$tabs-background-color: theme('tabs-background-color', transparent);
$tabs-border-color: theme('tabs-border-color', transparent);
$tabs-color: theme('tabs-color', colors.neutral(600));
$tabs-delimiter-color: theme('tabs-color', colors.neutral(400));
$tabs-selected-color: theme('tabs-selected-color', colors.primary(500));
$tabs-selected-border-color: theme('tabs-selected-border-color', colors.primary(500));
$tabs-hover-color: theme('tabs-hover-border-color', colors.neutral(700));
$tabs-active-color: theme('tabs-active-color', colors.neutral(800));
$tabs-focus-border-color: theme('tabs-focus-border-color', colors.primary(500));
$tabs-focus-shadow-color: theme('tabs-focus-shadow-color', colors.primary(100));
$tabs-disabled-color: theme('tabs-disabled-color', colors.neutral(500));

// TODO: Indication that there are more tab__items left to scroll (some sort of shadow maybe)
.rcx-tabs {
  position: relative;

  display: flex;

  &::after {
    position: absolute;
    z-index: -1;
    inset-block-end: lengths.inset(none);
    inset-inline: lengths.inset(none);

    height: lengths.border-width(2);

    content: '';

    background-color: $tabs-delimiter-color;
  }
}

.rcx-tabs__scroll-box {
  position: relative;

  overflow: auto;

  margin-block: lengths.margin(-4);
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.rcx-tabs__wrapper {
  display: flex;

  flex-wrap: nowrap;
}

.rcx-tabs__item {
  position: relative;

  align-items: center;

  flex: 0 0 auto;

  min-height: lengths.size(40);

  padding:
    (lengths.padding(4) + lengths.border-width(2))
    lengths.padding(16);

  color: $tabs-color;
  border-width: lengths.border-width(2);

  border-style: solid;
  border-color: transparent;
  background-color: transparent;

  @include clickable;
  @include use-text-style(s2);

  &--selected {
    padding:
      lengths.padding(4)
      (lengths.padding(16) + lengths.border-width(2));

    color: $tabs-selected-color;
    border-block-end-color: $tabs-selected-border-color;
    border-block-end-width: lengths.border-width(4);
    border-inline-width: lengths.border-width(none);
  }

  &.hover,
  &:hover {
    color: $tabs-hover-color;
  }

  &.active,
  &:active {
    color: $tabs-active-color;
  }

  &--disabled {
    color: $tabs-disabled-color;
  }

  @include on-focus-visible {
    padding-inline: lengths.padding(16);

    border-color: $tabs-focus-border-color;
    border-radius: lengths.border-radius(2);
    border-block-start-width: lengths.border-width(2);
    border-inline-width: lengths.border-width(2);

    @include use-focus-shadow($tabs-focus-shadow-color);
  }
}

@include on-breakpoint('md') {
  .rcx-tabs__wrapper {
    margin-inline: lengths.margin(24);
  }
}
