@use '../../styles/colors.scss';
@use '../../styles/typography.scss';
@use '../../styles/breakpoints.scss';
@use '../../styles/interactivity.scss';
@use '../../styles/states.scss';

$tabs-background-color: transparent;
$tabs-border-color: transparent;
$tabs-color: colors.color('neutral-600');
$tabs-delimiter-color: colors.color('neutral-400');
$tabs-selected-color: colors.color('primary-500');
$tabs-selected-border-color: colors.color('primary-500');
$tabs-hover-color: colors.color('neutral-700');
$tabs-active-color: colors.color('neutral-800');
$tabs-focus-border-color: colors.color('primary-500');
$tabs-focus-shadow-color: colors.color('primary-100');
$tabs-disabled-color: colors.color('neutral-500');

// TODO: Indication that there are more tab__items left to scroll (some sort of shadow maybe)
.rcx-tabs {
  position: relative;

  display: flex;

  &::after {
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    z-index: -1;

    height: 2px;

    content: '';

    background-color: $tabs-delimiter-color;
  }
}

.rcx-tabs__scroll-box {
  position: relative;

  overflow: auto;

  margin-block: -4px;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.rcx-tabs__wrapper {
  display: flex;

  flex-wrap: nowrap;
}

.rcx-tabs__item {
  position: relative;

  align-items: center;

  flex: 0 0 auto;

  min-height: 40px;

  padding:
    (4px + 2px)
    16px;

  color: $tabs-color;
  border-width: 2px;

  border-style: solid;
  border-color: transparent;
  background-color: transparent;

  @include interactivity.clickable;
  @include typography.use-font-scale(s2);

  &--selected {
    padding:
      4px
      (16px + 2px);

    color: $tabs-selected-color;
    border-block-end-width: 4px;
    border-inline-width: 0;
    border-block-end-color: $tabs-selected-border-color;
  }

  &.hover,
  &:hover {
    color: $tabs-hover-color;
  }

  &.active,
  &:active {
    color: $tabs-active-color;
  }

  &--disabled {
    color: $tabs-disabled-color;
  }

  @include states.on-focus-visible {
    padding-inline: 16px;

    border-color: $tabs-focus-border-color;
    border-block-start-width: 2px;
    border-inline-width: 2px;
    border-radius: 2px;

    @include interactivity.use-focus-shadow($tabs-focus-shadow-color);
  }
}

@include breakpoints.on-breakpoint('md') {
  .rcx-tabs__wrapper {
    margin-inline: 24px;
  }
}
