@use '../../styles/lengths.scss';
@use '../../styles/colors.scss';
@use '../../styles/typography.scss';

$tabs-background-color: theme('tabs-background-color', transparent);
$tabs-border-color: theme('tabs-border-color', transparent);
$tabs-color: theme('tabs-color', colors.neutral(600));
$tabs-hover-color: theme('tabs-hover-border-color', colors.neutral(700));
$tabs-selected-color: theme('tabs-selected-color', colors.primary(500));
$tabs-selected-border-color: theme(
  'tabs-selected-border-color',
  colors.primary(500)
);
$tabs-hover-selected-color: theme(
  'tabs-hover-selected-color',
  colors.primary(600)
);
$tabs-hover-selected-border-color: theme(
  'tabs-hover-selected-border-color',
  colors.primary(600)
);
$tabs-active-color: theme('tabs-active-color', colors.neutral(800));
$tabs-active-selected-color: theme(
  'tabs-active-selected-color',
  colors.primary(700)
);
$tabs-active-selected-border-color: theme(
  'tabs-active-selected-border-color',
  colors.primary(700)
);
$tabs-focus-border-color: theme('tabs-focus-border-color', colors.primary(500));
$tabs-focus-shadow-color: theme('tabs-focus-shadow-color', colors.primary(100));
$tabs-disabled-color: theme('tabs-disabled-color', colors.neutral(500));
$tabs-disabled-selected-color: theme(
  'tabs-disabled-selected-color',
  colors.primary(200)
);
$tabs-disabled-selected-border-color: theme(
  'tabs-disabled-selected-border-color',
  colors.primary(200)
);

// TODO: Indication that there are more tab__items left to scroll (some sort of shadow maybe)
.rcx-tabs {
  position: relative;

  display: flex;
}

.rcx-tabs__scroll-box {
  position: relative;

  overflow: auto;

  margin-block: lengths.margin(-4);
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.rcx-tabs__wrapper {
  display: flex;

  flex-wrap: nowrap;
}

.rcx-tabs__item {
  position: relative;

  align-items: center;

  flex: 0 0 auto;

  min-height: lengths.size(40);

  margin: lengths.margin(none) lengths.margin(12);
  padding: (lengths.padding(4) + lengths.border-width(2)) lengths.padding(none);

  color: $tabs-color;
  border-width: lengths.border-width(2);

  border-style: solid;
  border-color: transparent;
  background-color: transparent;
  border-block-end-width: lengths.border-width(4);
  border-inline-width: lengths.border-width(none);

  @include clickable;
  @include typography.use-font-scale(s2);

  &.hover,
  &:hover {
    color: $tabs-hover-color;
  }

  &.active,
  &:active {
    color: $tabs-active-color;
  }

  @include on-focus-visible {
    border-color: $tabs-focus-border-color;
    border-radius: lengths.border-radius(2);
    border-block-start-width: lengths.border-width(2);
    border-inline-width: lengths.border-width(2);

    @include use-focus-shadow($tabs-focus-shadow-color);
  }

  &--disabled {
    cursor: not-allowed;

    color: $tabs-disabled-color;

    &:hover {
      color: $tabs-disabled-color;
    }
  }

  &--selected {
    padding: lengths.padding(4) lengths.padding(none);

    color: $tabs-selected-color;
    border-block-end-color: $tabs-selected-border-color;
    border-block-end-width: lengths.border-width(4);
    border-inline-width: lengths.border-width(none);

    &:hover {
      color: $tabs-hover-selected-color;
      border-block-end-color: $tabs-hover-selected-border-color;
    }

    &.active,
    &:active {
      color: $tabs-active-selected-color;
      border-block-end-color: $tabs-active-selected-border-color;
    }

    &--disabled {
      cursor: not-allowed;

      color: $tabs-disabled-selected-color;
      border-block-end-color: $tabs-disabled-selected-border-color;

      &:hover {
        color: $tabs-disabled-selected-color;
        border-block-end-color: $tabs-disabled-selected-border-color;
      }
    }
  }
}
