@use '../../styles/lengths.scss';
@use '../../styles/colors.scss';
@use '../../styles/typography.scss';

$tabs-background-color: theme('tabs-background-color', transparent);
$tabs-border-color: theme('tabs-border-color', transparent);
$tabs-color: theme('tabs-color', colors.font(hint));

$tabs-hover-color: theme('tabs-hover-border-color', colors.font(default));

$tabs-selected-color: theme(
  'tabs-selected-color',
  colors.button(primary-default)
);
$tabs-selected-border-color: theme(
  'tabs-selected-border-color',
  colors.button(primary-default)
);
$tabs-hover-selected-color: theme(
  'tabs-hover-selected-color',
  colors.button(primary-hover)
);
$tabs-hover-selected-border-color: theme(
  'tabs-hover-selected-border-color',
  colors.button(primary-hover)
);
$tabs-active-color: theme('tabs-active-color', colors.font(titles-labels));

$tabs-active-selected-color: theme(
  'tabs-active-selected-color',
  colors.button(primary-press)
);
$tabs-active-selected-border-color: theme(
  'tabs-active-selected-border-color',
  colors.button(primary-press)
);
$tabs-focus-border-color: theme(
  'tabs-focus-border-color',
  colors.button(primary-default)
);
$tabs-focus-shadow-color: theme(
  'tabs-focus-shadow-color',
  colors.stroke(extra-light-highlight)
);
$tabs-disabled-color: theme('tabs-disabled-color', colors.font(disabled));
$tabs-disabled-selected-color: theme(
  'tabs-disabled-selected-color',
  colors.status-background(info)
);
$tabs-disabled-selected-border-color: theme(
  'tabs-disabled-selected-border-color',
  colors.status-background(info)
);

.rcx-tabs__scroll-box {
  position: relative;

  overflow: auto;

  margin-block: lengths.margin(-4);
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.rcx-tabs__wrapper {
  display: flex;

  flex-wrap: nowrap;

  margin: lengths.margin(none) lengths.margin(12);

  padding: lengths.padding(4) lengths.padding(none);
}

.rcx-tabs__item {
  position: relative;

  align-items: center;

  flex: 0 0 auto;

  min-height: lengths.size(40);

  margin: lengths.margin(none) lengths.margin(12);
  padding: (lengths.padding(4) + lengths.border-width(default, rem))
    lengths.padding(none);

  color: $tabs-color;
  border-width: lengths.border-width(default);

  border-style: solid;
  border-color: transparent;
  background-color: transparent;

  @include clickable;
  @include typography.use-font-scale(h4);

  &.hover,
  &:hover {
    color: $tabs-hover-color;
    border-block-end-color: $tabs-hover-color;
    border-block-end-width: lengths.border-width(4);
  }

  &.active,
  &:active {
    color: $tabs-active-color;
    border-block-end-color: $tabs-active-color;
    border-block-end-width: lengths.border-width(4);
  }

  @include on-focus-visible {
    border-color: $tabs-focus-border-color;
    border-radius: theme('tabs-border-radius', lengths.border-radius(medium));

    @include use-button-focus-shadow($tabs-focus-shadow-color);
  }

  &--disabled {
    cursor: not-allowed;

    color: $tabs-disabled-color;

    &:hover {
      color: $tabs-disabled-color;
    }
  }

  &--selected.rcx-tabs__item {
    padding: lengths.padding(4) lengths.padding(none);

    color: $tabs-selected-color;
    border-block-end-color: $tabs-selected-border-color;
    border-block-end-width: lengths.border-width(default);
    border-inline-width: lengths.border-width(default);

    &:hover:not(.rcx-tabs__item--selected--disabled),
    &.hover:not(.rcx-tabs__item--selected--disabled) {
      color: $tabs-hover-selected-color;
      border-block-end-color: $tabs-hover-selected-border-color;
    }

    &.active:not(.rcx-tabs__item--selected--disabled),
    &:active:not(.rcx-tabs__item--selected--disabled) {
      color: $tabs-active-selected-color;
      border-block-end-color: $tabs-active-selected-border-color;
    }

    &--disabled {
      cursor: not-allowed;

      color: $tabs-disabled-selected-color;
      border-block-end-color: $tabs-disabled-selected-border-color;

      &:hover {
        color: $tabs-disabled-selected-color;
        border-block-end-color: $tabs-disabled-selected-border-color;
      }
    }
  }
}

// TODO: Indication that there are more tab__items left to scroll (some sort of shadow maybe)
.rcx-tabs {
  position: relative;

  display: flex;

  &--with-divider {
    border-block-end: lengths.border-width(default) solid colors.stroke(light);

    .rcx-tabs__item {
      margin-block-end: lengths.margin(-1);
      border-block-width: lengths.border-width(default);
    }
  }
}
