@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';

.rcx-subtitle {
  display: block;

  margin-block-end: lengths.margin(16);
  @include use-text-style(s1);
  color: colors.foreground(default);
  @extend %--with-inline-elements;
}
