@mixin selection-button($states: ()) {
  @include box;

  display: inline-flex;

  vertical-align: middle;

  @include clickable;

  & &__input {
    @include visually-hidden;
  }

  & &__fake {
    @include box;

    position: relative;

    height: $sizes-x20;

    border-width: $borders-width-x2;

    @content;
  }

  @each $value-state in unchecked, checked, indeterminate {
    @if map-has-key($states, '#{$value-state}-all') {
      $value-state-class: if($value-state == unchecked, '', '.#{$value-state}');
      $value-state-pseudo-class: if($value-state == unchecked, '', ':#{$value-state}');

      & &__input#{$value-state-class} + &__fake,
      & &__input#{$value-state-pseudo-class} + &__fake {
        @extend #{map-get($states, '#{$value-state}-all')};
      }
    }
  }

  @each $interaction-state in default, hover, focus, active, disabled {
    @each $value-state in unchecked, checked, indeterminate {
      @if map-has-key($states, '#{$value-state}-#{$interaction-state}') {
        $interaction-state-class: if($interaction-state == default, '', '.#{$interaction-state}');
        $interaction-state-pseudo-class: if($interaction-state == default, '', ':#{$interaction-state}');
        $value-state-class: if($value-state == unchecked, '', '.#{$value-state}');
        $value-state-pseudo-class: if($value-state == unchecked, '', ':#{$value-state}');

        &#{$interaction-state-class} &__input#{$value-state-class} + &__fake,
        &#{$interaction-state-class} &__input#{$value-state-pseudo-class} + &__fake,
        & &__input#{$value-state-class}#{$interaction-state-pseudo-class} + &__fake,
        & &__input#{$value-state-pseudo-class}#{$interaction-state-pseudo-class} + &__fake {
          @extend #{map-get($states, '#{$value-state}-#{$interaction-state}')};
        }
      }
    }
  }

  &.disabled &__input + &__fake,
  & &__input:disabled + &__fake {
    cursor: not-allowed;
  }
}
