@mixin shadow($shadow) {
  box-shadow: $shadow;
}

@mixin opacity($opacity) {
  opacity: $opacity;
}

@mixin transition-none($duration) {
  transition-duration: $duration;
  transition-property: none;
}

@mixin transition-all($duration) {
  transition-duration: $duration;
  transition-property: all;
}
