@mixin p($padding) {
  padding: $padding;
}

@mixin pt($padding) {
  padding-top: $padding;
  padding-block-start: $padding;
}

@mixin pr($padding) {
  padding-right: $padding;
  @include on-rtl-orientation {
    padding-left: $padding;
  }
  padding-inline-end: $padding;
}

@mixin pb($padding) {
  padding-bottom: $padding;
  padding-block-end: $padding;
}

@mixin pl($padding) {
  padding-left: $padding;
  @include on-rtl-orientation {
    padding-right: $padding;
  }
  padding-inline-start: $padding;
}

@mixin py($padding) {
  @include pt($padding);
  @include pb($padding);
}

@mixin px($padding) {
  @include pr($padding);
  @include pl($padding);
}

@mixin m($margin) {
  margin: $margin;
}

@mixin mt($margin) {
  margin-top: $margin;
  margin-block-start: $margin;
}

@mixin mr($margin) {
  margin-right: $margin;
  @include on-rtl-orientation {
    margin-left: $margin;
  }
  margin-inline-end: $margin;
}

@mixin mb($margin) {
  margin-bottom: $margin;
  margin-block-end: $margin;
}

@mixin ml($margin) {
  margin-left: $margin;
  @include on-rtl-orientation {
    margin-right: $margin;
  }
  margin-inline-start: $margin;
}

@mixin my($margin) {
  @include mt($margin);
  @include mb($margin);
}

@mixin mx($margin) {
  @include mr($margin);
  @include ml($margin);
}
