@mixin headline {
  letter-spacing: $text-styles-h1-letter-spacing;

  font-family: $text-styles-h1-font-family;
  font-size: $text-styles-h1-font-size;
  font-weight: $text-styles-h1-font-weight;
  line-height: $text-styles-h1-line-height;
}

@mixin headline-bold {
  font-weight: $text-styles-h2-font-weight;
}

@mixin subtitle {
  letter-spacing: $text-styles-s1-letter-spacing;

  font-family: $text-styles-s1-font-family;
  font-size: $text-styles-s1-font-size;
  font-weight: $text-styles-s1-font-weight;
  line-height: $text-styles-s1-line-height;
}

@mixin subtitle-bold {
  font-weight: $text-styles-s2-font-weight;
}

@mixin paragraph {
  letter-spacing: $text-styles-p1-letter-spacing;

  font-family: $text-styles-p1-font-family;
  font-size: $text-styles-p1-font-size;
  font-weight: $text-styles-p1-font-weight;
  line-height: $text-styles-p1-line-height;
}

@mixin paragraph-bold {
  font-weight: $text-styles-p2-font-weight;
}

@mixin caption {
  letter-spacing: $text-styles-c1-letter-spacing;

  font-family: $text-styles-c1-font-family;
  font-size: $text-styles-c1-font-size;
  font-weight: $text-styles-c1-font-weight;
  line-height: $text-styles-c1-line-height;
}

@mixin caption-bold {
  font-weight: $text-styles-c2-font-weight;
}

@mixin micro {
  letter-spacing: $text-styles-micro-letter-spacing;

  font-family: $text-styles-micro-font-family;
  font-size: $text-styles-micro-font-size;
  font-weight: $text-styles-micro-font-weight;
  line-height: $text-styles-micro-line-height;
}

@mixin truncate {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin ellipsis {
  overflow: hidden;

  text-overflow: ellipsis;
}
