@use '../../styles/values.scss';

.rcx-level {
  display: flex;
  flex-flow: row wrap;
}

.rcx-level__item {
  flex: 1 1 values.size(full);

  max-width: values.size(full);
  padding-inline: values.padding(8);

  text-align: center;

  @include on-breakpoint(md) {
    flex-basis: values.size(auto);
  }
}
