@use '../../styles/lengths.scss';

.rcx-level {
  display: flex;
  flex-flow: row wrap;
}

.rcx-level__item {
  flex: 1 1 lengths.size(full);

  max-width: lengths.size(full);
  padding-inline: lengths.padding(8);

  text-align: center;

  @include on-breakpoint(md) {
    flex-basis: auto;
  }
}
