@import '../../helpers.scss';
@import '../../mixins.scss';
@import '../../styles/borders.scss';
@import '../../styles/button-colors.scss';
@import '../../styles/text-styles.scss';

$size: theme('check-box-size', $text-styles-p1-line-height);

$border: (
  width: theme('check-box-border-width', $borders-default-width),
  radius: theme('check-box-border-radius', $borders-default-radius),
);

$icon-smoothness: theme('check-box-icon-smoothness', to-rem(1));
$icon-thickness: theme('check-box-icon-thickness', to-rem(2));
$icon-size: theme('check-box-icon-size', 0.6);

$unchecked-colors: (
  background-color: theme('check-box-background-color', $button-colors-empty-background-color),
  border-color: theme('check-box-border-color', $button-colors-empty-border-color),
  color: theme('check-box-color', $button-colors-empty-color),
  hover-background-color: theme('check-box-hover-background-color', $button-colors-empty-hover-background-color),
  hover-border-color: theme('check-box-hover-border-color', $button-colors-empty-hover-border-color),
  active-background-color: theme('check-box-active-background-color', $button-colors-empty-active-background-color),
  active-border-color: theme('check-box-active-border-color', $button-colors-empty-active-border-color),
  focus-background-color: theme('check-box-focus-background-color', $button-colors-empty-focus-background-color),
  focus-border-color: theme('check-box-focus-border-color', $button-colors-empty-focus-border-color),
  focus-shadow-color: theme('check-box-focus-shadow-color', $button-colors-empty-focus-shadow-color),
  disabled-background-color: theme('check-box-disabled-background-color', $button-colors-empty-disabled-background-color),
  disabled-border-color: theme('check-box-disabled-border-color', $button-colors-empty-disabled-border-color),
  disabled-color: theme('check-box-disabled-color', $button-colors-empty-disabled-color),
);

$checked-colors: (
  background-color: theme('check-box-checked-background-color', $button-colors-primary-background-color),
  border-color: theme('check-box-checked-border-color', $button-colors-primary-border-color),
  color: theme('check-box-checked-color', $button-colors-primary-color),
  hover-background-color: theme('check-box-checked-hover-background-color', $button-colors-primary-hover-background-color),
  hover-border-color: theme('check-box-checked-hover-border-color', $button-colors-primary-hover-border-color),
  active-background-color: theme('check-box-checked-active-background-color', $button-colors-primary-active-background-color),
  active-border-color: theme('check-box-checked-active-border-color', $button-colors-primary-active-border-color),
  focus-background-color: theme('check-box-checked-focus-background-color', $button-colors-primary-focus-background-color),
  focus-border-color: theme('check-box-checked-focus-border-color', $button-colors-primary-focus-border-color),
  focus-shadow-color: theme('check-box-checked-focus-shadow-color', $button-colors-primary-focus-shadow-color),
  disabled-background-color: theme('check-box-checked-disabled-background-color', $button-colors-primary-disabled-background-color),
  disabled-border-color: theme('check-box-checked-disabled-border-color', $button-colors-primary-disabled-border-color),
  disabled-color: theme('check-box-checked-disabled-color', $button-colors-primary-disabled-color),
);

$indeterminate-colors: (
  background-color: theme('check-box-indeterminate-background-color', $button-colors-primary-background-color),
  border-color: theme('check-box-indeterminate-border-color', $button-colors-primary-border-color),
  color: theme('check-box-indeterminate-color', $button-colors-primary-color),
  hover-background-color: theme('check-box-indeterminate-hover-background-color', $button-colors-primary-hover-background-color),
  hover-border-color: theme('check-box-indeterminate-hover-border-color', $button-colors-primary-hover-border-color),
  active-background-color: theme('check-box-indeterminate-active-background-color', $button-colors-primary-active-background-color),
  active-border-color: theme('check-box-indeterminate-active-border-color', $button-colors-primary-active-border-color),
  focus-background-color: theme('check-box-indeterminate-focus-background-color', $button-colors-primary-focus-background-color),
  focus-border-color: theme('check-box-indeterminate-focus-border-color', $button-colors-primary-focus-border-color),
  focus-shadow-color: theme('check-box-indeterminate-focus-shadow-color', $button-colors-primary-focus-shadow-color),
  disabled-background-color: theme('check-box-indeterminate-disabled-background-color', $button-colors-primary-disabled-background-color),
  disabled-border-color: theme('check-box-indeterminate-disabled-border-color', $button-colors-primary-disabled-border-color),
  disabled-color: theme('check-box-indeterminate-disabled-color', $button-colors-primary-disabled-color),
);

@mixin with-unchecked-colors {
  @include with-button-action-colors($unchecked-colors..., $source: '.rcx-check-box__input', $target: '+ &');
}

@mixin with-checked-colors {
  @include with-button-action-colors($checked-colors..., $source: '.rcx-check-box__input:checked', $target: '+ &');
}

@mixin with-indeterminate-colors {
  @include with-button-action-colors($indeterminate-colors..., $source: '.rcx-check-box__input:indeterminate', $target: '+ &');
}

@mixin with-icon {
  &::before,
  &::after {

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    visibility: hidden;

    content: '';
    transform: translate(-50%, -50%);

    opacity: 0;

    background-color: currentColor;
  }
}

@mixin with-checked-icon {
  @include with-icon;

  &::before,
  &::after {
    visibility: visible;

    opacity: 1;
    border-radius: $icon-smoothness;
  }

  &::before {
    width: calc(#{$icon-size} * #{$size});
    height: $icon-thickness;

    @include when-ie11 {
      transform:
        translate(-50%, -50%)
        translate(-4px, 2px)
        rotate(-45deg)
        translate(6px, 2px);
    }
    transform:
      translate(-50%, -50%)
      translate(calc(#{$icon-size} * #{$size} / -3), calc(#{$icon-size} * #{$size} / 6))
      rotate(-45deg)
      translate(calc(#{$icon-size} * #{$size} / 2), calc(#{$icon-size} * #{$size} / 6));
  }

  &::after {
    width: $icon-thickness;
    height: calc(0.5 * #{$icon-size} * #{$size});

    @include when-ie11 {
      transform:
        translate(-50%, -50%)
        translate(-4px, 2px)
        rotate(-45deg);
    }
    transform:
      translate(-50%, -50%)
      translate(calc(#{$icon-size} * #{$size} / -3), calc(#{$icon-size} * #{$size} / 6))
      rotate(-45deg);
  }
}

@mixin with-indeterminate-icon {
  @include with-icon;

  &::before {
    visibility: visible;

    width: calc(#{$icon-size} * #{$size});
    height: $icon-thickness;

    opacity: 1;

    border-radius: $icon-smoothness;
  }
}

.rcx-check-box {
  @include reseted;
  @include clickable;

  display: inline-flex;
}

.rcx-check-box__input {
  @include visually-hidden;
}

.rcx-check-box__fake {
  @include reseted;

  position: relative;

  width: $size;
  height: $size;

  @include with-border($border...);
  @include with-unchecked-colors;
  @include with-checked-colors;
  @include with-indeterminate-colors;

  .rcx-check-box__input:checked + & {
    @include with-checked-icon;
  }

  .rcx-check-box__input:indeterminate + & {
    @include with-indeterminate-icon;
  }

  @include when-disabled($source: '.rcx-check-box__input', $target: '+ &') {
    cursor: not-allowed;
  }
}
