:root {
  --rcx-check-box-wrapper-height: 2rem;
  --rcx-check-box-size: 1rem;
  --rcx-check-box-margin: 0 0.5rem;
  --rcx-check-box-border-width: var(--border);
  --rcx-check-box-color: var(--color-white);
  --rcx-check-box-background-color: transparent;
  --rcx-check-box-border-color: var(--color-dark-500);
  --rcx-check-box-checked-color: var(--color-white);
  --rcx-check-box-checked-background-color: var(--color-blue);
  --rcx-check-box-checked-border-color: var(--color-dark-blue);
  --rcx-check-box-disabled-color: var(--color-white);
  --rcx-check-box-disabled-background-color: var(--color-dark-300);
  --rcx-check-box-disabled-border-color: var(--color-white);
  --rcx-check-box-border-radius: var(--border-radius);
  --rcx-check-box-label-color: var(--color-dark-700);
  --rcx-check-box-label-font-family: var(--default-font-family);
  --rcx-check-box-label-font-size: 0.875rem;
  --rcx-check-box-label-font-weight: 400;
  --rcx-check-box-label-line-height: 1.25rem;
  --rcx-check-box-label-letter-spacing: -0.2px;
  --rcx-check-box-transition-duration: 300ms;
}

.CheckBox {
  position: absolute;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;
  clip-path: inset(50%);
}

.CheckBox__wrapper {
  position: relative;

  display: inline-flex;

  height: var(--rcx-check-box-wrapper-height);

  cursor: pointer;
  user-select: none;
  letter-spacing: var(--rcx-check-box-label-letter-spacing);

  color: var(--rcx-check-box-label-color);

  font-family: var(--rcx-check-box-label-font-family);
  font-size: var(--rcx-check-box-label-font-size);
  font-weight: var(--rcx-check-box-label-font-weight);
  line-height: var(--rcx-check-box-label-line-height);
  align-items: center;
}

.CheckBox__wrapper--disabled {
  cursor: not-allowed;
}

.CheckBox__fake {
  position: relative;

  display: flex;

  box-sizing: border-box;
  width: var(--rcx-check-box-size);
  height: var(--rcx-check-box-size);
  margin: var(--rcx-check-box-margin);

  cursor: pointer;
  transition:
    opacity var(--rcx-check-box-transition-duration),
    visibility var(--rcx-check-box-transition-duration),
    background-color var(--rcx-check-box-transition-duration),
    border-color var(--rcx-check-box-transition-duration),
    color var(--rcx-check-box-transition-duration),
    transform var(--rcx-check-box-transition-duration);

  color: var(--rcx-check-box-color);
  border: var(--rcx-check-box-border-width) solid;
  border-color: var(--rcx-check-box-border-color);
  border-radius: var(--rcx-check-box-border-radius);
  background-color: var(--rcx-check-box-background-color);

  & > .Icon {
    position: absolute;
    top: calc(-1 * var(--rcx-check-box-border-width));
    right: calc(-1 * var(--rcx-check-box-border-width));
    bottom: calc(-1 * var(--rcx-check-box-border-width));
    left: calc(-1 * var(--rcx-check-box-border-width));

    visibility: hidden;

    text-align: center;

    font-size: var(--rcx-check-box-size);
    line-height: var(--rcx-check-box-size);
  }
}

.CheckBox:checked + .CheckBox__fake {
  color: var(--rcx-check-box-checked-color);
  border-color: var(--rcx-check-box-checked-border-color);
  background-color: var(--rcx-check-box-checked-background-color);

  & > .Icon {
    visibility: visible;
  }
}

.CheckBox:not([disabled]) + .CheckBox__fake:hover {
  opacity: 0.6;
}

.CheckBox__wrapper:active .CheckBox:not([disabled]) + .CheckBox__fake {
  transform: translateY(0.125rem);

  opacity: 0.9;

  &::before {
    top: calc(-1 * (var(--rcx-check-box-border-width) + 0.125rem));
  }
}

.CheckBox:disabled + .CheckBox__fake {
  cursor: not-allowed;

  color: var(--rcx-check-box-disabled-color);
  border-color: var(--rcx-check-box-disabled-border-color);
  background-color: var(--rcx-check-box-disabled-background-color);
}
