%box {
  @extend %normal;

  blockquote#{&},
  dl#{&},
  dd#{&},
  h1#{&},
  h2#{&},
  h3#{&},
  h4#{&},
  h5#{&},
  h6#{&},
  figure#{&},
  p#{&},
  pre#{&} {
    margin: 0;
  }

  h1#{&},
  h2#{&},
  h3#{&},
  h4#{&},
  h5#{&},
  h6#{&} {
    font-size: inherit;
    font-weight: inherit;
  }

  ol#{&},
  ul#{&} {
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  img#{&},
  svg#{&},
  video#{&},
  canvas#{&},
  audio#{&},
  iframe#{&},
  embed#{&},
  object#{&} {
    display: block;

    vertical-align: middle;
  }

  &,
  &::before,
  &::after {
    box-sizing: border-box;

    user-select: none;
    transition: all $transitions-short-duration;

    border-width: 0;
    border-style: solid;
    border-color: currentColor;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant-numeric: tabular-nums;
  }

  &--invisible {
    visibility: hidden;

    opacity: 0;
  }
}
