%box {
  &,
  &::before,
  &::after {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    list-style-type: none;

    user-select: none;
    transition: all $transitions-short-duration;

    border-width: 0;
    border-style: solid;
    border-color: currentColor;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant-numeric: tabular-nums;
  }

  &--invisible {
    visibility: hidden;

    opacity: 0;
  }
}
