@use 'sass:map';
@use '~@rocket.chat/fuselage-tokens/breakpoints.scss';

@mixin on-breakpoint($breakpoint-name) {
  $min-viewport-width: map.get(map.get(breakpoints.$breakpoints, $breakpoint-name), min-viewport-width);

  @if not $min-viewport-width {
    @content;
  }
  @else {
    @media screen and (min-width: #{ $min-viewport-width * 1px }) {
      @content;
    }
  }
}

$breakpoints: breakpoints.$breakpoints;
$breakpoint-names: map.keys(breakpoints.$breakpoints);
