@use './colors.scss';

$primary-background-color: colors.color('primary-500');
$primary-border-color: colors.color('primary-500');
$primary-color: colors.color('alternative');
$primary-hover-background-color: colors.color('primary-600');
$primary-hover-border-color: colors.color('primary-600');
$primary-active-background-color: colors.color('primary-700');
$primary-active-border-color: colors.color('primary-700');
$primary-focus-background-color: colors.color('primary-500');
$primary-focus-border-color: colors.color('primary-700');
$primary-focus-shadow-color: colors.color('primary-100');
$primary-disabled-background-color: colors.color('primary-200');
$primary-disabled-border-color: colors.color('primary-200');
$primary-disabled-color: colors.color('alternative');

$secondary-background-color: colors.color('neutral-300');
$secondary-border-color: colors.color('neutral-300');
$secondary-color: colors.color('neutral-800');
$secondary-hover-background-color: colors.color('neutral-400');
$secondary-hover-border-color: colors.color('neutral-400');
$secondary-active-background-color: colors.color('neutral-500');
$secondary-active-border-color: colors.color('neutral-500');
$secondary-focus-background-color: colors.color('neutral-300');
$secondary-focus-border-color: colors.color('neutral-500');
$secondary-focus-shadow-color: colors.color('neutral-100');
$secondary-disabled-background-color: colors.color('neutral-100');
$secondary-disabled-border-color: colors.color('neutral-100');
$secondary-disabled-color: colors.color('neutral-400');

$danger-background-color: colors.color('danger-500');
$danger-border-color: colors.color('danger-500');
$danger-color: colors.color('alternative');
$danger-hover-background-color: colors.color('danger-600');
$danger-hover-border-color: colors.color('danger-600');
$danger-active-background-color: colors.color('danger-700');
$danger-active-border-color: colors.color('danger-700');
$danger-focus-background-color: colors.color('danger-500');
$danger-focus-border-color: colors.color('danger-700');
$danger-focus-shadow-color: colors.color('danger-100');
$danger-disabled-background-color: colors.color('danger-200');
$danger-disabled-border-color: colors.color('danger-200');
$danger-disabled-color: colors.color('alternative');

$empty-background-color: colors.color('surface');
$empty-border-color: colors.color('neutral-400');
$empty-color: colors.color('alternative');
$empty-hover-background-color: colors.color('surface');
$empty-hover-border-color: colors.color('neutral-500');
$empty-active-background-color: colors.color('surface');
$empty-active-border-color: colors.color('neutral-600');
$empty-focus-background-color: colors.color('surface');
$empty-focus-border-color: colors.color('primary-500');
$empty-focus-shadow-color: colors.color('primary-100');
$empty-disabled-background-color: colors.color('neutral-200');
$empty-disabled-border-color: colors.color('neutral-200');
$empty-disabled-color: colors.color('alternative');

$off-background-color: colors.color('neutral-400');
$off-border-color: colors.color('neutral-400');
$off-color: colors.color('alternative');
$off-hover-background-color: colors.color('neutral-500');
$off-hover-border-color: colors.color('neutral-500');
$off-active-background-color: colors.color('neutral-600');
$off-active-border-color: colors.color('neutral-600');
$off-focus-background-color: colors.color('neutral-500');
$off-focus-border-color: colors.color('primary-500');
$off-focus-shadow-color: colors.color('primary-100');
$off-disabled-background-color: colors.color('neutral-400');
$off-disabled-border-color: colors.color('neutral-400');
$off-disabled-color: colors.color('neutral-200');
