@import '../helpers.scss';
@import '../tokens/colors.scss';

$button-colors-primary-background-color: theme('button-colors-primary-background-color', get-map-value($colors, blue500));
$button-colors-primary-border-color: theme('button-colors-primary-border-color', get-map-value($colors, blue500));
$button-colors-primary-color: theme('button-colors-primary-color', get-map-value($colors, 'white'));
$button-colors-primary-hover-background-color: theme('button-colors-primary-hover-background-color', get-map-value($colors, blue600));
$button-colors-primary-hover-border-color: theme('button-colors-primary-hover-border-color', get-map-value($colors, blue600));
$button-colors-primary-active-background-color: theme('button-colors-primary-active-background-color', get-map-value($colors, blue700));
$button-colors-primary-active-border-color: theme('button-colors-primary-active-border-color', get-map-value($colors, blue700));
$button-colors-primary-focus-background-color: theme('button-colors-primary-focus-background-color', get-map-value($colors, blue500));
$button-colors-primary-focus-border-color: theme('button-colors-primary-focus-border-color', get-map-value($colors, blue700));
$button-colors-primary-focus-shadow-color: theme('button-colors-primary-focus-shadow-color', get-map-value($colors, blue100));
$button-colors-primary-disabled-background-color: theme('button-colors-primary-disabled-background-color', get-map-value($colors, blue200));
$button-colors-primary-disabled-border-color: theme('button-colors-primary-disabled-border-color', get-map-value($colors, blue200));
$button-colors-primary-disabled-color: theme('button-colors-primary-disabled-color', get-map-value($colors, 'white'));

$button-colors-secondary-background-color: theme('button-colors-secondary-background-color', get-map-value($colors, dark300));
$button-colors-secondary-border-color: theme('button-colors-secondary-border-color', get-map-value($colors, dark300));
$button-colors-secondary-color: theme('button-colors-secondary-color', get-map-value($colors, dark800));
$button-colors-secondary-hover-background-color: theme('button-colors-secondary-hover-background-color', get-map-value($colors, dark400));
$button-colors-secondary-hover-border-color: theme('button-colors-secondary-hover-border-color', get-map-value($colors, dark400));
$button-colors-secondary-active-background-color: theme('button-colors-secondary-active-background-color', get-map-value($colors, dark500));
$button-colors-secondary-active-border-color: theme('button-colors-secondary-active-border-color', get-map-value($colors, dark500));
$button-colors-secondary-focus-background-color: theme('button-colors-secondary-focus-background-color', get-map-value($colors, dark300));
$button-colors-secondary-focus-border-color: theme('button-colors-secondary-focus-border-color', get-map-value($colors, dark500));
$button-colors-secondary-focus-shadow-color: theme('button-colors-secondary-focus-shadow-color', get-map-value($colors, dark100));
$button-colors-secondary-disabled-background-color: theme('button-colors-secondary-disabled-background-color', get-map-value($colors, dark100));
$button-colors-secondary-disabled-border-color: theme('button-colors-secondary-disabled-border-color', get-map-value($colors, dark100));
$button-colors-secondary-disabled-color: theme('button-colors-secondary-disabled-color', get-map-value($colors, dark400));

$button-colors-danger-background-color: theme('button-colors-danger-background-color', get-map-value($colors, red500));
$button-colors-danger-border-color: theme('button-colors-danger-border-color', get-map-value($colors, red500));
$button-colors-danger-color: theme('button-colors-danger-color', get-map-value($colors, 'white'));
$button-colors-danger-hover-background-color: theme('button-colors-danger-hover-background-color', get-map-value($colors, red600));
$button-colors-danger-hover-border-color: theme('button-colors-danger-hover-border-color', get-map-value($colors, red600));
$button-colors-danger-active-background-color: theme('button-colors-danger-active-background-color', get-map-value($colors, red700));
$button-colors-danger-active-border-color: theme('button-colors-danger-active-border-color', get-map-value($colors, red700));
$button-colors-danger-focus-background-color: theme('button-colors-danger-focus-background-color', get-map-value($colors, red500));
$button-colors-danger-focus-border-color: theme('button-colors-danger-focus-border-color', get-map-value($colors, red700));
$button-colors-danger-focus-shadow-color: theme('button-colors-danger-focus-shadow-color', get-map-value($colors, red100));
$button-colors-danger-disabled-background-color: theme('button-colors-danger-disabled-background-color', get-map-value($colors, red200));
$button-colors-danger-disabled-border-color: theme('button-colors-danger-disabled-border-color', get-map-value($colors, red200));
$button-colors-danger-disabled-color: theme('button-colors-danger-disabled-color', get-map-value($colors, 'white'));

$button-colors-empty-background-color: theme('button-colors-empty-background-color', get-map-value($colors, 'white'));
$button-colors-empty-border-color: theme('button-colors-empty-border-color', get-map-value($colors, dark400));
$button-colors-empty-color: theme('button-colors-empty-color', get-map-value($colors, 'white'));
$button-colors-empty-hover-background-color: theme('button-colors-empty-hover-background-color', get-map-value($colors, 'white'));
$button-colors-empty-hover-border-color: theme('button-colors-empty-hover-border-color', get-map-value($colors, dark500));
$button-colors-empty-active-background-color: theme('button-colors-empty-active-background-color', get-map-value($colors, 'white'));
$button-colors-empty-active-border-color: theme('button-colors-empty-active-border-color', get-map-value($colors, dark600));
$button-colors-empty-focus-background-color: theme('button-colors-empty-focus-background-color', get-map-value($colors, 'white'));
$button-colors-empty-focus-border-color: theme('button-colors-empty-focus-border-color', get-map-value($colors, blue500));
$button-colors-empty-focus-shadow-color: theme('button-colors-empty-focus-shadow-color', get-map-value($colors, blue100));
$button-colors-empty-disabled-background-color: theme('button-colors-empty-disabled-background-color', get-map-value($colors, dark200));
$button-colors-empty-disabled-border-color: theme('button-colors-empty-disabled-border-color', get-map-value($colors, dark200));
$button-colors-empty-disabled-color: theme('button-colors-empty-disabled-color', get-map-value($colors, 'white'));

$button-colors-off-background-color: theme('button-colors-off-background-color', get-map-value($colors, dark400));
$button-colors-off-border-color: theme('button-colors-off-border-color', get-map-value($colors, dark400));
$button-colors-off-color: theme('button-colors-off-color', get-map-value($colors, 'white'));
$button-colors-off-hover-background-color: theme('button-colors-off-hover-background-color', get-map-value($colors, dark500));
$button-colors-off-hover-border-color: theme('button-colors-off-hover-border-color', get-map-value($colors, dark500));
$button-colors-off-active-background-color: theme('button-colors-off-active-background-color', get-map-value($colors, dark600));
$button-colors-off-active-border-color: theme('button-colors-off-active-border-color', get-map-value($colors, dark600));
$button-colors-off-focus-background-color: theme('button-colors-off-focus-background-color', get-map-value($colors, dark500));
$button-colors-off-focus-border-color: theme('button-colors-off-focus-border-color', get-map-value($colors, blue500));
$button-colors-off-focus-shadow-color: theme('button-colors-off-focus-shadow-color', get-map-value($colors, blue100));
$button-colors-off-disabled-background-color: theme('button-colors-off-disabled-background-color', get-map-value($colors, dark400));
$button-colors-off-disabled-border-color: theme('button-colors-off-disabled-border-color', get-map-value($colors, dark400));
$button-colors-off-disabled-color: theme('button-colors-off-disabled-color', get-map-value($colors, dark200));
