@use 'sass:color';
@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use '~@rocket.chat/fuselage-tokens/dist/colors.scss' as token-colors;

$-map-type-to-prefix: (
  neutral: 'n',
  primary: 'b',
  info: 'b',
  success: 'g',
  warning: 'y',
  warning-alternative: 'o',
  danger: 'r',
);

@function _get-palette-color($type, $grade, $alpha) {
  @if not(
    $grade
      %
      100 ==
      0 and
      math.div($grade, 100) >=
      1 and
      math.div($grade, 100) <=
      9
  )
  {
    @error 'invalid color grade';
  }

  @if not($alpha == null or ($alpha >= 0 and $alpha <= 1)) {
    @error 'invalid color alpha';
  }

  $prefix: map.get($-map-type-to-prefix, $type);
  @if not $prefix {
    @error 'invalid color type';
  }

  $base-color: map.get(token-colors.$colors, #{$prefix}#{$grade});

  @if not $base-color {
    @error 'invalid color reference';
  }

  @if ($alpha != null) {
    @return (
      --rcx-color-#{$type}-#{$grade}-#{$alpha * 100},
      color.change($base-color, $alpha: $alpha)
    );
  }

  @return (--rcx-color-#{$type}-#{$grade}, $base-color);
}

@function neutral($grade, $alpha: null) {
  $pair: _get-palette-color(neutral, $grade, $alpha);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

@function primary($grade, $alpha: null) {
  $pair: _get-palette-color(primary, $grade, $alpha);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

@function info($grade, $alpha: null) {
  $pair: _get-palette-color(info, $grade, $alpha);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

@function success($grade, $alpha: null) {
  $pair: _get-palette-color(success, $grade, $alpha);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

@function warning($grade, $alpha: null) {
  $pair: _get-palette-color(warning, $grade, $alpha);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

@function warning-alternative($grade, $alpha: null) {
  $pair: _get-palette-color(warning-alternative, $grade, $alpha);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

@function danger($grade, $alpha: null) {
  $pair: _get-palette-color(danger, $grade, $alpha);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

@function surface() {
  @return var(--rcx-color-surface, white);
}

$-foreground-colors: (
  default: map.get(token-colors.$colors, n800),
  info: map.get(token-colors.$colors, n700),
  hint: map.get(token-colors.$colors, n600),
  disabled: map.get(token-colors.$colors, n400),
  alternative: white,
  primary: map.get(token-colors.$colors, b500),
  success: map.get(token-colors.$colors, g500),
  success-light: map.get(token-colors.$colors, g200),
  danger: map.get(token-colors.$colors, r500),
  warning: map.get(token-colors.$colors, y700),
  warning-alternative: map.get(token-colors.$colors, y500),
  highlight: map.get(token-colors.$colors, y100),
  link: map.get(token-colors.$colors, b500),
  visited-link: map.get(token-colors.$colors, p500),
  active-link: map.get(token-colors.$colors, r500),
);

@function _get-foreground-color($type) {
  @if not map.has-key($-foreground-colors, $type) {
    @error 'invalid foreground type';
  }

  $color: map.get($-foreground-colors, $type);

  @return (--rcx-color-foreground-#{$type}, $color);
}

@function foreground($type) {
  $pair: _get-foreground-color($type);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

$foreground-types: map-keys($-foreground-colors);
