$color-palette: (
  color-dark-900: #1f2329,
  color-dark-800: #2d333b,
  color-dark-700: #6d737a,
  color-dark-600: #9da1a8,
  color-dark-500: #cccdd0,
  color-dark-400: #dadde2,
  color-dark-300: #e6e8eb,
  color-dark-200: #eef0f3,
  color-dark-100: #f4f6f9,

  color-dark-blue: #175cc4,
  color-blue: #1d74f5,
  color-light-blue: #4eb2f5,
  color-lighter-blue: #e8f2ff,
  color-purple: #861da8,
  color-red: #f5455c,
  color-dark-red: #e0364d,
  color-orange: #f59547,
  color-yellow: #ffd21f,
  color-dark-yellow: #f6c502,
  color-green: #2de0a5,
  color-dark-green: #26d198,
);

:export {
  @each $name, $value in $color-palette {
    #{$name}: $value;
  }
}

:root {
  @each $name, $value in $color-palette {
    --#{$name}: #{$value};
  }
}
