@use 'sass:color';
@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use '~@rocket.chat/fuselage-tokens/dist/colors.scss' as token-colors;

$-map-type-to-prefix: (
  neutral: 'n',
  primary: 'p',
  info: 'i',
  success: 's',
  warning: 'w',
  warning-alternative: 'o',
  danger: 'd',
  service-1: 's1-',
  service-2: 's2-',
);

@function _get-palette-color($type, $grade, $alpha) {
  @if not(
    $grade
      %
      100 ==
      0 and
      math.div($grade, 100) >=
      1 and
      math.div($grade, 100) <=
      9
  )
  {
    @error 'invalid color grade';
  }

  @if not($alpha == null or ($alpha >= 0 and $alpha <= 1)) {
    @error 'invalid color alpha';
  }

  $prefix: map.get($-map-type-to-prefix, $type);
  @if not $prefix {
    @error 'invalid color type';
  }

  $base-color: map.get(token-colors.$colors, #{$prefix}#{$grade});

  @if not $base-color {
    @error 'invalid color reference';
  }

  @if ($alpha != null) {
    @return (
      --rcx-color-#{$type}-#{$grade}-#{$alpha * 100},
      color.change($base-color, $alpha: $alpha)
    );
  }

  @return (--rcx-color-#{$type}-#{$grade}, $base-color);
}

@function neutral($grade, $alpha: null) {
  $pair: _get-palette-color(neutral, $grade, $alpha);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

@function primary($grade, $alpha: null) {
  $pair: _get-palette-color(primary, $grade, $alpha);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

@function info($grade, $alpha: null) {
  $pair: _get-palette-color(info, $grade, $alpha);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

@function success($grade, $alpha: null) {
  $pair: _get-palette-color(success, $grade, $alpha);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

@function warning($grade, $alpha: null) {
  $pair: _get-palette-color(warning, $grade, $alpha);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

@function warning-alternative($grade, $alpha: null) {
  $pair: _get-palette-color(warning-alternative, $grade, $alpha);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

@function danger($grade, $alpha: null) {
  $pair: _get-palette-color(danger, $grade, $alpha);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

@function service-1($grade, $alpha: null) {
  $pair: _get-palette-color(service-1, $grade, $alpha);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

@function service-2($grade, $alpha: null) {
  $pair: _get-palette-color(service-2, $grade, $alpha);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

$-foreground-colors: (
  default: map.get(token-colors.$colors, n800),
  info: map.get(token-colors.$colors, n700),
  hint: map.get(token-colors.$colors, n600),
  disabled: map.get(token-colors.$colors, n400),
  alternative: white,
  primary: map.get(token-colors.$colors, p500),
  success: map.get(token-colors.$colors, s500),
  success-light: map.get(token-colors.$colors, s200),
  danger: map.get(token-colors.$colors, d500),
  warning: map.get(token-colors.$colors, w700),
  warning-alternative: map.get(token-colors.$colors, w500),
  highlight: map.get(token-colors.$colors, w100),
  link: map.get(token-colors.$colors, p500),
  visited-link: map.get(token-colors.$colors, s2-500),
  active-link: map.get(token-colors.$colors, d500),
);

@function _get-foreground-color($type) {
  @if not map.has-key($-foreground-colors, $type) {
    @error 'invalid foreground type';
  }

  $color: map.get($-foreground-colors, $type);

  @return (--rcx-color-foreground-#{$type}, $color);
}

@function foreground($type) {
  $pair: _get-foreground-color($type);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

$foreground-types: map-keys($-foreground-colors);

$-surfaces: (
  light: white,
  tint: neutral(100),
  neutral: neutral(400),
  disabled: neutral(100),
  hover: neutral(400),
);

@function surface($type) {
  $color: map.get($-surfaces, $type);
  @return var(--rcx-color-surface-#{$type}, $color);
}

$-font: (
  white: white,
  disabled: neutral(500),
  annotation: neutral(600),
  hint: neutral(700),
  secondary-info: neutral(700),
  default: neutral(800),
  titles-labels: neutral(900),
  info: info(600),
  danger: danger(600),
);

@function font($type) {
  $color: map.get($-font, $type);
  @return var(--rcx-font-#{$type}, $color);
}

$-status-backgrounds: (
  success: success(200),
  warning: warning(200),
  danger: danger(200),
  service-1: service-1(200),
  service-2: service-2(200),
  info: info(200),
);

@function status-background($type) {
  $color: map.get($-status-backgrounds, $type);
  @return var(--rcx-status-background-#{$type}, $color);
}

$-status-fonts: (
  on-success: success(800),
  on-warning: warning(900),
  on-danger: danger(800),
  on-service-1: service-1(800),
  on-service-2: service-2(600),
  on-info: info(600),
);

@function status-font($type) {
  $color: map.get($-status-fonts, $type);
  @return var(--rcx-status-fonts-#{$type}, $color);
}

$-strokes: (
  extra-light: neutral(200),
  light: neutral(500),
  medium: neutral(600),
  dark: neutral(700),
  extra-dark: neutral(800),
  extra-light-highlight: primary(200),
  highlight: primary(500),
  extra-light-error: danger(200),
  error: danger(500),
);

@function stroke($type) {
  $color: map.get($-strokes, $type);
  @return var(--rcx-stroke-#{$type}, $color);
}

$-button-backgrounds: (
  // primary
  primary-default: primary(500),
  primary-hover: primary(600),
  primary-press: primary(700),
  primary-focus: primary(500),
  primary-keyfocus: primary(500),
  primary-disabled: primary(200),
  // secondary
  secondary-default: neutral(400),
  secondary-hover: neutral(500),
  secondary-press: neutral(600),
  secondary-focus: neutral(400),
  secondary-keyfocus: neutral(400),
  secondary-disabled: neutral(300),
  // danger
  danger-default: danger(500),
  danger-hover: danger(600),
  danger-press: danger(700),
  danger-focus: danger(500),
  danger-keyfocus: danger(500),
  danger-disabled: danger(200),
  // secondary-danger
  secondary-danger-default: neutral(400),
  secondary-danger-hover: neutral(500),
  secondary-danger-press: neutral(600),
  secondary-danger-focus: neutral(400),
  secondary-danger-keyfocus: neutral(400),
  secondary-danger-disabled: neutral(300),
  // warning
  warning-default: warning(400),
  warning-hover: warning(500),
  warning-press: warning(600),
  warning-focus: warning(400),
  warning-keyfocus: warning(400),
  warning-disabled: warning(200),
  // secondary-warning
  secondary-warning-default: neutral(400),
  secondary-warning-hover: neutral(500),
  secondary-warning-press: neutral(600),
  secondary-warning-focus: neutral(400),
  secondary-warning-keyfocus: neutral(400),
  secondary-warning-disabled: neutral(300),
  // success
  success-default: success(800),
  success-hover: success(900),
  success-press: #0e543c,
  success-focus: success(800),
  success-keyfocus: success(800),
  success-disabled: success(200),
  // secondary-success
  secondary-success-default: neutral(400),
  secondary-success-hover: neutral(500),
  secondary-success-press: neutral(600),
  secondary-success-focus: neutral(400),
  secondary-success-keyfocus: neutral(400),
  secondary-success-disabled: neutral(300)
);

$-button-fonts: (
  // primary
  on-primary: white,
  on-primary-disabled: white,
  // secondary
  on-secondary: neutral(900),
  on-secondary-disabled: neutral(600),
  // danger
  on-danger: white,
  on-danger-disabled: white,
  // secondary-danger
  on-secondary-danger: danger(700),
  on-secondary-danger-disabled: danger(300),
  // warning
  on-warning: neutral(900),
  on-warning-disabled: neutral(600),
  // secondary-warning
  on-secondary-warning: warning(900),
  on-secondary-warning-disabled: warning(600),
  // success
  on-success: white,
  on-success-disabled: white,
  // secondary-success
  on-secondary-success: success(800),
  on-secondary-success-disabled: success(400),
  // disabled
  on-disabled: neutral(600)
);

@function button($type) {
  @if (map.get($-button-backgrounds, $type)) {
    $background: map.get($-button-backgrounds, $type);
    @return var(--rcx-color-button-background-#{$type}, $background);
  }
  @if map.get($-button-fonts, $type) {
    $foreground: map.get($-button-fonts, $type);
    @return var(--rcx-color-button-font-#{$type}, $foreground);
  }
  @error "Unknown button type #{$type}.";
}

$-neutral-alpha-level: (
  8: neutral(800, 0.08),
  10: neutral(800, 0.1),
  12: neutral(800, 0.12),
);

@function surface-neutral-alpha($level) {
  @return map.get($-neutral-alpha-level, $level);
}

$-elevation-level: (
  1: surface-neutral-alpha(10),
  '2x': surface-neutral-alpha(8),
  '2y': surface-neutral-alpha(12),
);

@function elevation($level) {
  @return map.get($-elevation-level, $level);
}
