@use 'sass:color';
@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use '~@rocket.chat/fuselage-tokens/dist/colors.scss' as token-colors;

$-map-type-to-prefix: (
  neutral: 'n',
  primary: 'b',
  info: 'b',
  success: 'g',
  warning: 'y',
  warning-alternative: 'o',
  danger: 'r',
  service-1: 's1-',
  service-2: 's2-',
);

@function _get-palette-color($type, $grade, $alpha) {
  @if not(
    $grade
      %
      100 ==
      0 and
      math.div($grade, 100) >=
      1 and
      math.div($grade, 100) <=
      9
  )
  {
    @error 'invalid color grade';
  }

  @if not($alpha == null or ($alpha >= 0 and $alpha <= 1)) {
    @error 'invalid color alpha';
  }

  $prefix: map.get($-map-type-to-prefix, $type);
  @if not $prefix {
    @error 'invalid color type';
  }

  $base-color: map.get(token-colors.$colors, #{$prefix}#{$grade});

  @if not $base-color {
    @error 'invalid color reference';
  }

  @if ($alpha != null) {
    @return (
      --rcx-color-#{$type}-#{$grade}-#{$alpha * 100},
      color.change($base-color, $alpha: $alpha)
    );
  }

  @return (--rcx-color-#{$type}-#{$grade}, $base-color);
}

@function neutral($grade, $alpha: null) {
  $pair: _get-palette-color(neutral, $grade, $alpha);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
  // var(--rcx-color-neutral-100, white);
  // color: neutral(100);
  // color: var(--rcx-color-neutral-100, white);
}

@function primary($grade, $alpha: null) {
  $pair: _get-palette-color(primary, $grade, $alpha);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

@function info($grade, $alpha: null) {
  $pair: _get-palette-color(info, $grade, $alpha);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

@function success($grade, $alpha: null) {
  $pair: _get-palette-color(success, $grade, $alpha);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

@function warning($grade, $alpha: null) {
  $pair: _get-palette-color(warning, $grade, $alpha);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

@function warning-alternative($grade, $alpha: null) {
  $pair: _get-palette-color(warning-alternative, $grade, $alpha);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

@function danger($grade, $alpha: null) {
  $pair: _get-palette-color(danger, $grade, $alpha);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

@function service-1($grade, $alpha: null) {
  $pair: _get-palette-color(service-1, $grade, $alpha);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

@function service-2($grade, $alpha: null) {
  $pair: _get-palette-color(service-2, $grade, $alpha);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

@function surface-deprecated() {
  @return var(--rcx-color-surface, white);
}

$-foreground-colors: (
  default: map.get(token-colors.$colors, n800),
  info: map.get(token-colors.$colors, n700),
  hint: map.get(token-colors.$colors, n600),
  disabled: map.get(token-colors.$colors, n400),
  alternative: white,
  primary: map.get(token-colors.$colors, b500),
  success: map.get(token-colors.$colors, g500),
  success-light: map.get(token-colors.$colors, g200),
  danger: map.get(token-colors.$colors, r500),
  warning: map.get(token-colors.$colors, y700),
  warning-alternative: map.get(token-colors.$colors, y500),
  highlight: map.get(token-colors.$colors, y100),
  link: map.get(token-colors.$colors, b500),
  visited-link: map.get(token-colors.$colors, p500),
  active-link: map.get(token-colors.$colors, r500),
);

@function _get-foreground-color($type) {
  @if not map.has-key($-foreground-colors, $type) {
    @error 'invalid foreground type';
  }

  $color: map.get($-foreground-colors, $type);

  @return (--rcx-color-foreground-#{$type}, $color);
}

@function foreground($type) {
  $pair: _get-foreground-color($type);
  @return var(list.nth($pair, 1), list.nth($pair, 2));
}

$foreground-types: map-keys($-foreground-colors);

$-surfaces: (
  light: white,
  tint: neutral(100),
  neutral: neutral(400),
  disabled: neutral(100),
  hover: neutral(400),
  info: info(200),
  success: success(200),
  warning: warning(200),
  danger: danger(200),
  service-1: service-1(200),
  service-2: service-2(200),
);

@function surface($type) {
  @return map.get($-surfaces, $type);
}

$-text: (
  white: white,
  disabled: neutral(500),
  annotation: neutral(600),
  hint: neutral(700),
  default: neutral(800),
  titles-labels: neutral(900),
  danger: danger(600),
  secondary-info: neutral(700),
  on-info: info(600),
  on-success: success(800),
  on-warning: warning(900),
  on-danger: danger(800),
  on-service-1: service-1(800),
  on-service-2: service-2(600),
);

@function text($type) {
  @return map.get($-text, $type);
}

$-backgrounds: (
  light: white,
  tint: neutral(100),
);

@function background($type) {
  @return map.get($-backgrounds, $type);
}

$-strokes: (
  extra-light: neutral(200),
  light: neutral(500),
  medium: neutral(600),
  dark: neutral(700),
  extra-dark: neutral(800),
  extra-light-highlight: primary(200),
  highlight: primary(500),
  extra-light-error: danger(200),
  error: danger(500),
);

@function stroke($type) {
  @return map.get($-strokes, $type);
}

$-buttons: (
  primary: primary(500),
  secondary: neutral(400),
  danger: danger(500),
  secondary-danger: neutral(400),
  hover-primary: primary(600),
  hover-secondary: neutral(500),
  hover-danger: danger(600),
  hover-secondary-danger: neutral(500),
  press-primary: primary(700),
  press-secondary: neutral(600),
  press-danger: danger(700),
  press-secondary-danger: neutral(600),
  focus-primary: primary(500),
  focus-secondary: neutral(400),
  focus-danger: danger(500),
  focus-secondary-danger: neutral(400),
  keyfocus-primary: primary(500),
  keyfocus-secondary: neutral(400),
  keyfocus-danger: danger(500),
  keyfocus-secondary-danger: neutral(400),
  disabled-primary: primary(200),
  disabled-secondary: neutral(300),
  disabled-danger: danger(200),
  disabled-secondary-danger: neutral(300),
  on-primary: white,
  on-secondary: neutral(900),
  on-danger: white,
  on-secondary-danger: danger(700),
);

@function button($type) {
  @return map.get($-buttons, $type);
}
