@mixin clickable {
  cursor: pointer;

  outline: 0;

  &.disabled,
  &:disabled {
    cursor: not-allowed;
  }
}

@mixin use-focus-shadow($outer-color) {
  box-shadow: 0 0 0 4px #{ $outer-color };
  z-index: 1;
}
