%primitive {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style-type: none;

  user-select: none;
  transition: all #{ $transitions-short-duration };

  border-width: 0;
  border-style: solid;
  border-color: currentColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-numeric: tabular-nums;
}

%invisible {
  visibility: hidden;

  opacity: 0;
}

%headline-like {
  letter-spacing: $text-styles-h1-letter-spacing;

  font-family: $text-styles-h1-font-family;
  font-size: $text-styles-h1-font-size;
  font-weight: $text-styles-h1-font-weight;
  line-height: $text-styles-h1-line-height;
}

%subtitle-like {
  letter-spacing: $text-styles-s1-letter-spacing;

  font-family: $text-styles-s1-font-family;
  font-size: $text-styles-s1-font-size;
  font-weight: $text-styles-s1-font-weight;
  line-height: $text-styles-s1-line-height;
}

%subtitle-like--bold {
  font-weight: $text-styles-s2-font-weight;
}

%paragraph-like {
  letter-spacing: $text-styles-p1-letter-spacing;

  font-family: $text-styles-p1-font-family;
  font-size: $text-styles-p1-font-size;
  font-weight: $text-styles-p1-font-weight;
  line-height: $text-styles-p1-line-height;
}

%paragraph-like--bold {
  font-weight: $text-styles-p2-font-weight;
}

%caption-like {
  letter-spacing: $text-styles-c1-letter-spacing;

  font-family: $text-styles-c1-font-family;
  font-size: $text-styles-c1-font-size;
  font-weight: $text-styles-c1-font-weight;
  line-height: $text-styles-c1-line-height;
}

%caption-like--bold {
  font-weight: $text-styles-c2-font-weight;
}

%micro-like {
  letter-spacing: $text-styles-micro-letter-spacing;

  font-family: $text-styles-micro-font-family;
  font-size: $text-styles-micro-font-size;
  font-weight: $text-styles-micro-font-weight;
  line-height: $text-styles-micro-line-height;
}

%visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;
  clip-path: inset(50%);
}

%with-scrollbars {
  &::-webkit-scrollbar {
    block-size: $sizes-x4;
    inline-size: $sizes-x4;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
  }
}

%with-ellipsing-text {
  overflow: hidden;

  text-overflow: ellipsis;
}

%with-non-wrapped-text {
  white-space: nowrap;
}
