@use 'sass:map';
@use '~@rocket.chat/fuselage-tokens/typography.scss';

@function font-family($name) {
  @if not map.has-key(typography.$font-families, $name) {
    @error 'invalid font family name';
  }

  @return var(--rcx-font-family-#{ $name }, map.get(typography.$font-families, $name));
}

$font-scales: map.keys(typography.$font-scales);

@mixin use-font-scale($name) {
  @if not map.has-key(typography.$font-scales, $name) {
    @error 'invalid font scale name';
  }

  $-font-scale: map.get(typography.$font-scales, $name);
  letter-spacing: map.get($-font-scale, letter-spacing) * 1px;

  font-size: map.get($-font-scale, font-size) * 1px;
  font-weight: map.get($-font-scale, font-weight);
  line-height: map.get($-font-scale, line-height) * 1px;
}

@function letter-spacing($name) {
  @if not map.has-key(typography.$font-scales, $name) {
    @error 'invalid font scale name';
  }

  @return map.get(map.get(typography.$font-scales, $name), letter-spacing) * 1px;
}

@function font-size($name) {
  @if not map.has-key(typography.$font-scales, $name) {
    @error 'invalid font scale name';
  }

  @return map.get(map.get(typography.$font-scales, $name), font-size) * 1px;
}

@function font-weight($name) {
  @if not map.has-key(typography.$font-scales, $name) {
    @error 'invalid font scale name';
  }

  @return map.get(map.get(typography.$font-scales, $name), font-weight);
}

@function line-height($name) {
  @if not map.has-key(typography.$font-scales, $name) {
    @error 'invalid font scale name';
  }

  @return map.get(map.get(typography.$font-scales, $name), line-height) * 1px;
}

@mixin use-text-ellipsis {
  overflow: hidden;

  text-overflow: ellipsis;
}
