@use '../../styles/colors.scss';
@use '../../styles/lengths.scss';
@use '../../styles/typography.scss' as *;
@use '../../styles/functions.scss' as *;

$tooltip-border-radius: theme(
  'tooltip-border-radius',
  lengths.border-radius(medium)
);
$tooltip-dark-background-color: theme(
  'tooltip-dark-background-color',
  colors.surface(dark)
);
$tooltip-dark-text-color: theme('tooltip-dark-text-color', colors.font(white));
$tooltip-light-background-color: theme(
  'tooltip-light-background-color',
  colors.surface(neutral)
);
$tooltip-light-text-color: theme(
  'tooltip-light-text-color',
  colors.font(default)
);

.rcx-tooltip {
  position: relative;

  display: inline-block;

  max-width: 240px;
  padding: 8px 12px;

  user-select: none;
  word-break: break-word;
  pointer-events: none;

  color: $tooltip-dark-text-color;
  border-radius: $tooltip-border-radius;
  background-color: $tooltip-dark-background-color;

  @include use-font-scale(p2m);

  &--dir-top,
  &--dir-bottom,
  &--dir-left,
  &--dir-right {
    &::after {
      position: absolute;

      box-sizing: border-box;

      content: ' ';

      border-width: 4px;
      border-color: transparent transparent $tooltip-dark-background-color
        $tooltip-dark-background-color;
      border-radius: 0 0 0 (2px);
      block-size: 0;
      inline-size: 0;
    }
  }

  &--dir-top {
    &::after {
      inset-block-end: -4px;

      transform: rotate(-45deg);
    }
  }

  &--dir-bottom {
    &::after {
      inset-block-start: -4px;

      transform: rotate(135deg);
    }
  }

  &--dir-left {
    &::after {
      inset-block-start: 50%;
      inset-inline-end: -4px;

      margin-block-start: -4px;

      transform: rotate(-135deg);
    }
  }

  &--dir-right {
    &::after {
      inset-block-start: 50%;
      inset-inline-start: -4px;

      margin-block-start: -4px;

      transform: rotate(45deg);
    }
  }

  &--dark {
    color: $tooltip-dark-text-color;
    background-color: $tooltip-dark-background-color;
  }

  &--light {
    color: $tooltip-light-text-color;
    background-color: $tooltip-light-background-color;
  }

  &--pos {
    &-middle {
      &::after {
        inset-inline-start: 50%;

        margin-inline-start: -4px;
      }
    }

    &-start {
      &::after {
        inset-inline-start: 8px;

        margin: 0;
      }
    }

    &-end {
      &::after {
        inset-inline-start: initial;
        inset-inline-end: 8px;

        margin: 0;
      }
    }
  }
}
