name: Continuous Integration

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test:
    name: Build and Test
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: '22.20.0'
          cache: 'yarn'

      - uses: actions/cache@v4
        id: yarn-cache
        with:
          path: |
            **/node_modules
            .yarn/cache
          key: ${{ runner.os }}-modules-${{ hashFiles('yarn.lock') }}

      - name: Turbo Cache
        id: turbo-cache
        uses: actions/cache@v4
        with:
          path: .turbo
          key: turbo-${{ runner.os }}-${{ github.job }}
          restore-keys: |
            turbo-${{ runner.os }}-

      - run: yarn
        if: steps.yarn-cache.outputs.cache-hit != 'true'

      - name: Run CI
        run: yarn run ci

      - uses: actions/upload-artifact@v5
        with:
          name: 'storybooks-${{ github.event.number }}'
          path: |
            packages/fuselage/storybook-static
            packages/onboarding-ui/storybook-static
            packages/layout/storybook-static

  visual-regression:
    name: Visual Regression
    runs-on: ubuntu-latest
    needs:
      - build-and-test
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: '22.20.0'
          cache: 'yarn'

      - uses: actions/cache@v4
        id: yarn-cache
        with:
          path: |
            **/node_modules
            .yarn/cache
          key: ${{ runner.os }}-modules-${{ hashFiles('yarn.lock') }}

      - name: Turbo Cache
        id: turbo-cache
        uses: actions/cache@v4
        with:
          path: .turbo
          key: turbo-${{ runner.os }}-${{ github.job }}
          restore-keys: |
            turbo-${{ runner.os }}-

      - run: yarn
        if: steps.yarn-cache.outputs.cache-hit != 'true'


      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Playwright Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./packages/fuselage/Dockerfile.playwright
          tags: fuselage-playwright:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          load: true

      - name: Run Visual Regression Tests
        id: visual-regression-tests
        run: yarn turbo run visual-regression

      - uses: actions/upload-artifact@v5
        if: steps.visual-regression-tests.outcome != 'success'
        with:
          name: 'playwright-visual-results-${{ github.event.number }}'
          path: |
            packages/fuselage/test-results
