name: Continuous Integration

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-lint:
    name: Build and Lint
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: '22.20.0'
          cache: 'yarn'


      - name: Yarn Cache
        id: yarn-cache
        uses: actions/cache@v4
        with:
          path: |
            **/node_modules
            .yarn/cache
          key: ${{ runner.os }}-modules-${{ hashFiles('yarn.lock') }}
      - run: yarn
        if: steps.yarn-cache.outputs.cache-hit != 'true'

      - name: Build and Lint
        run: yarn run .ci-build-lint

      - name: Save Turbo Cache
        id: turbo-cache
        uses: actions/cache/save@v4
        with:
          path: |
            .turbo
            **/dist
          key: turbo-${{ runner.os }}-${{ github.event.number }}
          restore-keys: |
            turbo-${{ runner.os }}-

      - name: Upload Storybooks
        uses: actions/upload-artifact@v5
        with:
          name: 'storybooks-${{ github.event.number }}'
          path: |
            packages/fuselage/storybook-static
            packages/onboarding-ui/storybook-static
            packages/layout/storybook-static

  unit-test:
    name: Test
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
    runs-on: ubuntu-latest
    needs:
      - build-and-lint
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: '22.20.0'
          cache: 'yarn'

      - name: Restore Yarn Cache
        uses: actions/cache/restore@v4
        id: yarn-cache
        with:
          path: |
            **/node_modules
            .yarn/cache
          key: ${{ runner.os }}-modules-${{ hashFiles('yarn.lock') }}

      - name: Restore Turbo Cache
        id: turbo-cache
        uses: actions/cache/restore@v4
        with:
          path: .turbo
          key: turbo-${{ runner.os }}-${{ github.event.number }}
          restore-keys: |
            turbo-${{ runner.os }}-

      - name: Run CI
        run: yarn run .ci-test

  visual-regression:
    name: Visual Regression
    runs-on: ubuntu-latest
    needs:
      - build-and-lint
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: '22.20.0'
          cache: 'yarn'

      - name: Restore Yarn Cache
        uses: actions/cache/restore@v4
        id: yarn-cache
        with:
          path: |
            **/node_modules
            .yarn/cache
          key: ${{ runner.os }}-modules-${{ hashFiles('yarn.lock') }}

      - name: Restore Turbo Cache
        id: turbo-cache
        uses: actions/cache/restore@v4
        with:
          path: .turbo
          key: turbo-${{ runner.os }}-${{ github.event.number }}
          restore-keys: |
            turbo-${{ runner.os }}-
  

      - uses: actions/download-artifact@v5
        with:
          name: 'storybooks-${{ github.event.number }}'
          path: |
            ./packages

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Playwright Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./packages/fuselage/Dockerfile.playwright
          tags: fuselage-playwright:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          load: true

      - name: Run Visual Regression Tests
        id: visual-regression-tests
        run: yarn run .ci-visual-regression

      - uses: actions/upload-artifact@v5
        if: steps.visual-regression-tests.outcome != 'success'
        with:
          name: 'playwright-visual-results-${{ github.event.number }}'
          path: |
            packages/fuselage/test-results
