@import '../../helpers/mixins.scss';

$name: 'rcx-icon';

.#{$name} {
  @include reset;
  @include used-in('../Button/styles.scss');
  @include used-in('../CheckBox/styles.scss');
  @include used-in('../SideBar/Header/styles.scss');
  @include used-in('../TextInput/styles.scss');

  display: inline-block;

  font-family: 'RocketChat';
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;

  &::before {
    content: attr(data-char);
  }
}
